<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7480c9">  <td>13/11/22 17:35:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneroniOS5.AdvertiserLogin()[pri:0, instance:OsVersion.AnimatedBanneroniOS5@11e63f4a]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7480c9">  <td>13/11/22 17:35:55</td>   <td>55904</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneroniOS5.Budget()[pri:0, instance:OsVersion.AnimatedBanneroniOS5@11e63f4a]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7480c9">  <td>13/11/22 17:36:07</td>   <td>67052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneroniOS5.CampaignCreation()[pri:0, instance:OsVersion.AnimatedBanneroniOS5@11e63f4a]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7480c9">  <td>13/11/22 17:34:53</td>   <td>-6586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneroniOS5.ChannelCreation()[pri:0, instance:OsVersion.AnimatedBanneroniOS5@11e63f4a]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7480c9">  <td>13/11/22 17:35:02</td>   <td>2869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneroniOS5.CreateAnimatedBanner()[pri:0, instance:OsVersion.AnimatedBanneroniOS5@11e63f4a]">CreateAnimatedBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7480c9">  <td>13/11/22 17:34:19</td>   <td>-40629</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneroniOS5.GmailLogin()[pri:0, instance:OsVersion.AnimatedBanneroniOS5@11e63f4a]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7480c9">  <td>13/11/22 17:40:01</td>   <td>301583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneroniOS5.Logout()[pri:0, instance:OsVersion.AnimatedBanneroniOS5@11e63f4a]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7480c9">  <td>13/11/22 17:36:10</td>   <td>70414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneroniOS5.Memcamp()[pri:0, instance:OsVersion.AnimatedBanneroniOS5@11e63f4a]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7480c9">  <td>13/11/22 17:34:49</td>   <td>-10749</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneroniOS5.PublisherSearch()[pri:0, instance:OsVersion.AnimatedBanneroniOS5@11e63f4a]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7480c9">  <td>13/11/22 17:39:47</td>   <td>287681</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneroniOS5.TagServing()[pri:0, instance:OsVersion.AnimatedBanneroniOS5@11e63f4a]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7480c9">  <td>13/11/22 17:35:19</td>   <td>19580</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneroniOS5.Targeting()[pri:0, instance:OsVersion.AnimatedBanneroniOS5@11e63f4a]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7480c9">  <td>13/11/22 17:34:15</td>   <td>-44966</td> <td>&nbsp;</td><td title="&gt;&gt;AnimatedBanneroniOS5.setUp()[pri:0, instance:OsVersion.AnimatedBanneroniOS5@11e63f4a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7480c9">  <td>13/11/22 17:40:04</td>   <td>304929</td> <td>&nbsp;</td><td title="&lt;&lt;AnimatedBanneroniOS5.tearDown()[pri:0, instance:OsVersion.AnimatedBanneroniOS5@11e63f4a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
