<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>ActionType.iTunes</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Memcamp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TagServing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PublisherSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Logout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GmailLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Targeting</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CreateVideo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Advertiser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Buget</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CampaignCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ChannelCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>ActionType.SMS</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Memcamp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TagServing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PublisherSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Logout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GmailLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Targeting</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CreateVideo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Advertiser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Buget</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CampaignCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ChannelCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>ActionType.Email</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Memcamp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TagServing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PublisherSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Logout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GmailLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Targeting</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CreateVideo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Advertiser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Buget</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CampaignCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ChannelCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>ActionType.Expands</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Memcamp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TagServing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PublisherSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Logout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GmailLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Targeting</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CreateVideo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Advertiser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Buget</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CampaignCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ChannelCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>ActionType.Call</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Memcamp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TagServing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PublisherSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Logout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GmailLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Targeting</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CreateVideo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Advertiser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Buget</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CampaignCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ChannelCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>ActionType.Map</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Memcamp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TagServing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PublisherSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Logout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GmailLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Targeting</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CreateVideo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Advertiser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Buget</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CampaignCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ChannelCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
