<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="966882">  <td>13/09/05 12:22:42</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Call.setUp()[pri:0, instance:ActionType.Call@1ea49c14]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="966882">  <td>13/09/05 12:22:50</td>   <td>7292</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Call.GmailLogin()[pri:0, instance:ActionType.Call@1ea49c14]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="966882">  <td>13/09/05 12:23:23</td>   <td>40815</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Call.PublisherSearch()[pri:0, instance:ActionType.Call@1ea49c14]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="966882">  <td>13/09/05 12:23:33</td>   <td>50159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Call.ChannelCreation()[pri:0, instance:ActionType.Call@1ea49c14]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="966882">  <td>13/09/05 12:23:59</td>   <td>76147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Call.Advertiser()[pri:0, instance:ActionType.Call@1ea49c14]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="966882">  <td>13/09/05 12:24:14</td>   <td>91690</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Call.CreateVideo()[pri:0, instance:ActionType.Call@1ea49c14]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="966882">  <td>13/09/05 12:27:20</td>   <td>277221</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Call.Targeting()[pri:0, instance:ActionType.Call@1ea49c14]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="966882">  <td>13/09/05 12:28:05</td>   <td>322465</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Call.Buget()[pri:0, instance:ActionType.Call@1ea49c14]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="966882">  <td>13/09/05 12:28:18</td>   <td>335337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Call.CampaignCreation()[pri:0, instance:ActionType.Call@1ea49c14]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="966882">  <td>13/09/05 12:28:52</td>   <td>369295</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Call.Memcamp()[pri:0, instance:ActionType.Call@1ea49c14]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="966882">  <td>13/09/05 12:33:42</td>   <td>659314</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Call.TagServing()[pri:0, instance:ActionType.Call@1ea49c14]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="966882">  <td>13/09/05 12:34:02</td>   <td>679209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Call.Logout()[pri:0, instance:ActionType.Call@1ea49c14]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="966882">  <td>13/09/05 12:34:10</td>   <td>687887</td> <td>&nbsp;</td><td title="&lt;&lt;Call.tearDown()[pri:0, instance:ActionType.Call@1ea49c14]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="89c3ae">  <td>13/09/05 12:34:11</td>   <td>688089</td> <td>&nbsp;</td><td title="&gt;&gt;Email.setUp()[pri:0, instance:ActionType.Email@2a37783b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="89c3ae">  <td>13/09/05 12:34:13</td>   <td>690778</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Email.GmailLogin()[pri:0, instance:ActionType.Email@2a37783b]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="89c3ae">  <td>13/09/05 12:34:20</td>   <td>697861</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Email.PublisherSearch()[pri:0, instance:ActionType.Email@2a37783b]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="89c3ae">  <td>13/09/05 12:34:21</td>   <td>698867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Email.ChannelCreation()[pri:0, instance:ActionType.Email@2a37783b]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="89c3ae">  <td>13/09/05 12:34:22</td>   <td>699873</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Email.Advertiser()[pri:0, instance:ActionType.Email@2a37783b]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="89c3ae">  <td>13/09/05 12:34:23</td>   <td>700878</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Email.CreateVideo()[pri:0, instance:ActionType.Email@2a37783b]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="89c3ae">  <td>13/09/05 12:34:24</td>   <td>701883</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Email.Targeting()[pri:0, instance:ActionType.Email@2a37783b]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="89c3ae">  <td>13/09/05 12:34:25</td>   <td>702890</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Email.Buget()[pri:0, instance:ActionType.Email@2a37783b]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="89c3ae">  <td>13/09/05 12:34:26</td>   <td>703896</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Email.CampaignCreation()[pri:0, instance:ActionType.Email@2a37783b]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="89c3ae">  <td>13/09/05 12:34:27</td>   <td>704901</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Email.Memcamp()[pri:0, instance:ActionType.Email@2a37783b]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="89c3ae">  <td>13/09/05 12:34:35</td>   <td>712603</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Email.TagServing()[pri:0, instance:ActionType.Email@2a37783b]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="89c3ae">  <td>13/09/05 12:34:36</td>   <td>713608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Email.Logout()[pri:0, instance:ActionType.Email@2a37783b]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="89c3ae">  <td>13/09/05 12:34:37</td>   <td>714613</td> <td>&nbsp;</td><td title="&lt;&lt;Email.tearDown()[pri:0, instance:ActionType.Email@2a37783b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a19ab2">  <td>13/09/05 12:34:38</td>   <td>715803</td> <td>&nbsp;</td><td title="&gt;&gt;Expands.setUp()[pri:0, instance:ActionType.Expands@51b32cda]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a19ab2">  <td>13/09/05 12:34:41</td>   <td>718078</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Expands.GmailLogin()[pri:0, instance:ActionType.Expands@51b32cda]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a19ab2">  <td>13/09/05 12:34:47</td>   <td>724915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Expands.PublisherSearch()[pri:0, instance:ActionType.Expands@51b32cda]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a19ab2">  <td>13/09/05 12:34:48</td>   <td>725920</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Expands.ChannelCreation()[pri:0, instance:ActionType.Expands@51b32cda]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a19ab2">  <td>13/09/05 12:34:49</td>   <td>726932</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Expands.Advertiser()[pri:0, instance:ActionType.Expands@51b32cda]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a19ab2">  <td>13/09/05 12:34:50</td>   <td>727935</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Expands.CreateVideo()[pri:0, instance:ActionType.Expands@51b32cda]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a19ab2">  <td>13/09/05 12:34:51</td>   <td>728938</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Expands.Targeting()[pri:0, instance:ActionType.Expands@51b32cda]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a19ab2">  <td>13/09/05 12:34:52</td>   <td>729951</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Expands.Buget()[pri:0, instance:ActionType.Expands@51b32cda]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a19ab2">  <td>13/09/05 12:34:53</td>   <td>730953</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Expands.CampaignCreation()[pri:0, instance:ActionType.Expands@51b32cda]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a19ab2">  <td>13/09/05 12:34:54</td>   <td>731957</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Expands.Memcamp()[pri:0, instance:ActionType.Expands@51b32cda]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a19ab2">  <td>13/09/05 12:35:03</td>   <td>740609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Expands.TagServing()[pri:0, instance:ActionType.Expands@51b32cda]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a19ab2">  <td>13/09/05 12:35:04</td>   <td>741614</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Expands.Logout()[pri:0, instance:ActionType.Expands@51b32cda]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a19ab2">  <td>13/09/05 12:35:05</td>   <td>742618</td> <td>&nbsp;</td><td title="&lt;&lt;Expands.tearDown()[pri:0, instance:ActionType.Expands@51b32cda]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/05 12:35:06</td>   <td>743777</td> <td>&nbsp;</td><td title="&gt;&gt;iTunes.setUp()[pri:0, instance:ActionType.iTunes@6ed2bd5d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/05 12:35:08</td>   <td>745824</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="iTunes.GmailLogin()[pri:0, instance:ActionType.iTunes@6ed2bd5d]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/05 12:35:17</td>   <td>754941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="iTunes.PublisherSearch()[pri:0, instance:ActionType.iTunes@6ed2bd5d]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/05 12:35:18</td>   <td>755955</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="iTunes.ChannelCreation()[pri:0, instance:ActionType.iTunes@6ed2bd5d]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/05 12:35:19</td>   <td>756957</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="iTunes.Advertiser()[pri:0, instance:ActionType.iTunes@6ed2bd5d]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/05 12:35:20</td>   <td>757959</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="iTunes.CreateVideo()[pri:0, instance:ActionType.iTunes@6ed2bd5d]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/05 12:35:21</td>   <td>758963</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="iTunes.Targeting()[pri:0, instance:ActionType.iTunes@6ed2bd5d]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/05 12:35:22</td>   <td>759967</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="iTunes.Buget()[pri:0, instance:ActionType.iTunes@6ed2bd5d]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/05 12:35:23</td>   <td>760969</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="iTunes.CampaignCreation()[pri:0, instance:ActionType.iTunes@6ed2bd5d]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/05 12:35:24</td>   <td>761992</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="iTunes.Memcamp()[pri:0, instance:ActionType.iTunes@6ed2bd5d]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/05 12:35:33</td>   <td>770888</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="iTunes.TagServing()[pri:0, instance:ActionType.iTunes@6ed2bd5d]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/05 12:35:34</td>   <td>771901</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="iTunes.Logout()[pri:0, instance:ActionType.iTunes@6ed2bd5d]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/05 12:35:35</td>   <td>772905</td> <td>&nbsp;</td><td title="&lt;&lt;iTunes.tearDown()[pri:0, instance:ActionType.iTunes@6ed2bd5d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/05 12:35:37</td>   <td>774041</td> <td>&nbsp;</td><td title="&gt;&gt;Map.setUp()[pri:0, instance:ActionType.Map@4b2d0c2e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/05 12:35:39</td>   <td>776247</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Map.GmailLogin()[pri:0, instance:ActionType.Map@4b2d0c2e]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/05 12:35:47</td>   <td>784621</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Map.PublisherSearch()[pri:0, instance:ActionType.Map@4b2d0c2e]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/05 12:35:48</td>   <td>785626</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Map.ChannelCreation()[pri:0, instance:ActionType.Map@4b2d0c2e]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/05 12:35:49</td>   <td>786630</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Map.Advertiser()[pri:0, instance:ActionType.Map@4b2d0c2e]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/05 12:35:50</td>   <td>787635</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Map.CreateVideo()[pri:0, instance:ActionType.Map@4b2d0c2e]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/05 12:35:51</td>   <td>788639</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Map.Targeting()[pri:0, instance:ActionType.Map@4b2d0c2e]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/05 12:35:52</td>   <td>789645</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Map.Buget()[pri:0, instance:ActionType.Map@4b2d0c2e]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/05 12:35:53</td>   <td>790651</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Map.CampaignCreation()[pri:0, instance:ActionType.Map@4b2d0c2e]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/05 12:35:54</td>   <td>791667</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Map.Memcamp()[pri:0, instance:ActionType.Map@4b2d0c2e]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/05 12:36:06</td>   <td>803546</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Map.TagServing()[pri:0, instance:ActionType.Map@4b2d0c2e]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/05 12:36:07</td>   <td>804551</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Map.Logout()[pri:0, instance:ActionType.Map@4b2d0c2e]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/05 12:36:08</td>   <td>805557</td> <td>&nbsp;</td><td title="&lt;&lt;Map.tearDown()[pri:0, instance:ActionType.Map@4b2d0c2e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ae7ca9">  <td>13/09/05 12:36:09</td>   <td>806642</td> <td>&nbsp;</td><td title="&gt;&gt;SMS.setUp()[pri:0, instance:ActionType.SMS@28c1b980]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ae7ca9">  <td>13/09/05 12:36:11</td>   <td>808653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMS.GmailLogin()[pri:0, instance:ActionType.SMS@28c1b980]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ae7ca9">  <td>13/09/05 12:36:19</td>   <td>816400</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMS.PublisherSearch()[pri:0, instance:ActionType.SMS@28c1b980]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ae7ca9">  <td>13/09/05 12:36:20</td>   <td>817415</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMS.ChannelCreation()[pri:0, instance:ActionType.SMS@28c1b980]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ae7ca9">  <td>13/09/05 12:36:21</td>   <td>818420</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMS.Advertiser()[pri:0, instance:ActionType.SMS@28c1b980]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ae7ca9">  <td>13/09/05 12:36:22</td>   <td>819425</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMS.CreateVideo()[pri:0, instance:ActionType.SMS@28c1b980]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ae7ca9">  <td>13/09/05 12:36:23</td>   <td>820430</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMS.Targeting()[pri:0, instance:ActionType.SMS@28c1b980]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ae7ca9">  <td>13/09/05 12:36:24</td>   <td>821434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMS.Buget()[pri:0, instance:ActionType.SMS@28c1b980]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ae7ca9">  <td>13/09/05 12:36:25</td>   <td>822440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMS.CampaignCreation()[pri:0, instance:ActionType.SMS@28c1b980]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ae7ca9">  <td>13/09/05 12:36:26</td>   <td>823445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMS.Memcamp()[pri:0, instance:ActionType.SMS@28c1b980]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ae7ca9">  <td>13/09/05 12:36:34</td>   <td>831898</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMS.TagServing()[pri:0, instance:ActionType.SMS@28c1b980]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ae7ca9">  <td>13/09/05 12:36:35</td>   <td>832903</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMS.Logout()[pri:0, instance:ActionType.SMS@28c1b980]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ae7ca9">  <td>13/09/05 12:36:36</td>   <td>833908</td> <td>&nbsp;</td><td title="&lt;&lt;SMS.tearDown()[pri:0, instance:ActionType.SMS@28c1b980]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
