<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="889697">  <td>13/11/15 12:53:39</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Videoavi.setUp()[pri:0, instance:TestVideo.Videoavi@3e478ad6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="889697">  <td>13/11/15 12:53:49</td>   <td>9942</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.GmailLogin()[pri:0, instance:TestVideo.Videoavi@3e478ad6]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="889697">  <td>13/11/15 12:54:14</td>   <td>34865</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.PublisherSearch()[pri:0, instance:TestVideo.Videoavi@3e478ad6]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="889697">  <td>13/11/15 12:54:18</td>   <td>38559</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.ChannelCreation()[pri:0, instance:TestVideo.Videoavi@3e478ad6]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="889697">  <td>13/11/15 12:54:30</td>   <td>50637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.Advertiser()[pri:0, instance:TestVideo.Videoavi@3e478ad6]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="889697">  <td>13/11/15 12:54:39</td>   <td>59625</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.CreateVideo()[pri:0, instance:TestVideo.Videoavi@3e478ad6]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="889697">  <td>13/11/15 12:57:49</td>   <td>249994</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.Targeting()[pri:0, instance:TestVideo.Videoavi@3e478ad6]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="889697">  <td>13/11/15 12:58:22</td>   <td>282703</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.Buget()[pri:0, instance:TestVideo.Videoavi@3e478ad6]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="889697">  <td>13/11/15 12:58:29</td>   <td>289466</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.CampaignCreation()[pri:0, instance:TestVideo.Videoavi@3e478ad6]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="889697">  <td>13/11/15 12:58:49</td>   <td>310048</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.TagServing()[pri:0, instance:TestVideo.Videoavi@3e478ad6]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="889697">  <td>13/11/15 12:59:20</td>   <td>340586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.Logout()[pri:0, instance:TestVideo.Videoavi@3e478ad6]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="889697">  <td>13/11/15 12:59:23</td>   <td>343522</td> <td>&nbsp;</td><td title="&lt;&lt;Videoavi.tearDown()[pri:0, instance:TestVideo.Videoavi@3e478ad6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
