<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Testsuite.AnimatedBanneronAndriod</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Memcamp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TagServing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AdvertiserLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PublisherSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Logout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GmailLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Targeting</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CreateAnimatedBanner</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Budget</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CampaignCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ChannelCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Testsuite.AnimatedBanneronapplephone</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Memcamp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TagServing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AdvertiserLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PublisherSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Logout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GmailLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Targeting</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CreateAnimatedBanner</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Budget</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CampaignCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ChannelCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Testsuite.AnimatedwithIOS4_3</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Memcamp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TagServing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AdvertiserLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PublisherSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Logout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GmailLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Targeting</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CreateAnimatedBanner</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Budget</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CampaignCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ChannelCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Testsuite.AnimatedNexus4_2</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Memcamp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TagServing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AdvertiserLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PublisherSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Logout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GmailLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Targeting</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CreateAnimatedBanner</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Budget</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CampaignCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ChannelCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Testsuite.AnimatedBanneriOS4</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Memcamp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TagServing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AdvertiserLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PublisherSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Logout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GmailLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Targeting</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CreateAnimatedBanner</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Budget</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CampaignCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ChannelCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Testsuite.Testcloning</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Memcamp1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AdvertiserLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GmailLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Logout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Targeting</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CreateAnimatedBanner</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Budget</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ChannelCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CampaignCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Memcamp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TagServing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PublisherSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Clone</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Testsuite.AnimatedBanneroniOS5</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Memcamp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TagServing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AdvertiserLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PublisherSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Logout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GmailLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Targeting</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CreateAnimatedBanner</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Budget</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CampaignCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ChannelCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Testsuite.AnimatedAndriod2_3</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Memcamp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TagServing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AdvertiserLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PublisherSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Logout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GmailLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Targeting</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CreateAnimatedBanner</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Budget</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CampaignCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ChannelCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Testsuite.AnimatedHtc4_0_3</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Memcamp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TagServing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AdvertiserLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PublisherSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Logout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GmailLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Targeting</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CreateAnimatedBanner</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Budget</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CampaignCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ChannelCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Testsuite.AnimatedSamsung4_1</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Memcamp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TagServing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AdvertiserLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PublisherSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Logout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GmailLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Targeting</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CreateAnimatedBanner</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Budget</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CampaignCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ChannelCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
