<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuitefordifferentdevices</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b39ae9">  <td>13/09/06 12:24:07</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;AnimatedAndriod2_3.setUp()[pri:0, instance:Testsuite.AnimatedAndriod2_3@b5be8ff]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b39ae9">  <td>13/09/06 12:24:25</td>   <td>18065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedAndriod2_3.GmailLogin()[pri:0, instance:Testsuite.AnimatedAndriod2_3@b5be8ff]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b39ae9">  <td>13/09/06 12:25:14</td>   <td>67563</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedAndriod2_3.PublisherSearch()[pri:0, instance:Testsuite.AnimatedAndriod2_3@b5be8ff]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b39ae9">  <td>13/09/06 12:25:17</td>   <td>70461</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedAndriod2_3.ChannelCreation()[pri:0, instance:Testsuite.AnimatedAndriod2_3@b5be8ff]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b39ae9">  <td>13/09/06 12:25:38</td>   <td>90728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedAndriod2_3.AdvertiserLogin()[pri:0, instance:Testsuite.AnimatedAndriod2_3@b5be8ff]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b39ae9">  <td>13/09/06 12:25:42</td>   <td>95448</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedAndriod2_3.CreateAnimatedBanner()[pri:0, instance:Testsuite.AnimatedAndriod2_3@b5be8ff]">CreateAnimatedBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b39ae9">  <td>13/09/06 12:26:09</td>   <td>122623</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedAndriod2_3.Targeting()[pri:0, instance:Testsuite.AnimatedAndriod2_3@b5be8ff]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b39ae9">  <td>13/09/06 12:26:54</td>   <td>166719</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedAndriod2_3.Budget()[pri:0, instance:Testsuite.AnimatedAndriod2_3@b5be8ff]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b39ae9">  <td>13/09/06 12:27:09</td>   <td>182351</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedAndriod2_3.CampaignCreation()[pri:0, instance:Testsuite.AnimatedAndriod2_3@b5be8ff]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b39ae9">  <td>13/09/06 12:27:14</td>   <td>187149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedAndriod2_3.Memcamp()[pri:0, instance:Testsuite.AnimatedAndriod2_3@b5be8ff]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b39ae9">  <td>13/09/06 12:29:55</td>   <td>348412</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedAndriod2_3.TagServing()[pri:0, instance:Testsuite.AnimatedAndriod2_3@b5be8ff]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b39ae9">  <td>13/09/06 12:30:59</td>   <td>412411</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedAndriod2_3.Logout()[pri:0, instance:Testsuite.AnimatedAndriod2_3@b5be8ff]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b39ae9">  <td>13/09/06 12:30:59</td>   <td>412422</td> <td>&nbsp;</td><td title="&lt;&lt;AnimatedAndriod2_3.tearDown()[pri:0, instance:Testsuite.AnimatedAndriod2_3@b5be8ff]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="917283">  <td>13/09/06 12:31:00</td>   <td>412758</td> <td>&nbsp;</td><td title="&gt;&gt;AnimatedBanneriOS4.setUp()[pri:0, instance:Testsuite.AnimatedBanneriOS4@45431f89]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="917283">  <td>13/09/06 12:31:02</td>   <td>415682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneriOS4.GmailLogin()[pri:0, instance:Testsuite.AnimatedBanneriOS4@45431f89]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="917283">  <td>13/09/06 12:31:51</td>   <td>463692</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneriOS4.PublisherSearch()[pri:0, instance:Testsuite.AnimatedBanneriOS4@45431f89]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="917283">  <td>13/09/06 12:31:53</td>   <td>466598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneriOS4.ChannelCreation()[pri:0, instance:Testsuite.AnimatedBanneriOS4@45431f89]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="917283">  <td>13/09/06 12:32:14</td>   <td>487440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneriOS4.AdvertiserLogin()[pri:0, instance:Testsuite.AnimatedBanneriOS4@45431f89]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="917283">  <td>13/09/06 12:32:18</td>   <td>491671</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneriOS4.CreateAnimatedBanner()[pri:0, instance:Testsuite.AnimatedBanneriOS4@45431f89]">CreateAnimatedBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="917283">  <td>13/09/06 12:32:44</td>   <td>517030</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneriOS4.Targeting()[pri:0, instance:Testsuite.AnimatedBanneriOS4@45431f89]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="917283">  <td>13/09/06 12:33:28</td>   <td>561198</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneriOS4.Budget()[pri:0, instance:Testsuite.AnimatedBanneriOS4@45431f89]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="917283">  <td>13/09/06 12:33:43</td>   <td>576414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneriOS4.CampaignCreation()[pri:0, instance:Testsuite.AnimatedBanneriOS4@45431f89]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="917283">  <td>13/09/06 12:33:48</td>   <td>581272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneriOS4.Memcamp()[pri:0, instance:Testsuite.AnimatedBanneriOS4@45431f89]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="917283">  <td>13/09/06 12:36:28</td>   <td>741174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneriOS4.TagServing()[pri:0, instance:Testsuite.AnimatedBanneriOS4@45431f89]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="917283">  <td>13/09/06 12:36:52</td>   <td>764933</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneriOS4.Logout()[pri:0, instance:Testsuite.AnimatedBanneriOS4@45431f89]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="917283">  <td>13/09/06 12:36:56</td>   <td>769466</td> <td>&nbsp;</td><td title="&lt;&lt;AnimatedBanneriOS4.tearDown()[pri:0, instance:Testsuite.AnimatedBanneriOS4@45431f89]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6fc0fd">  <td>13/09/06 12:36:57</td>   <td>769717</td> <td>&nbsp;</td><td title="&gt;&gt;AnimatedBanneronAndriod.setUp()[pri:0, instance:Testsuite.AnimatedBanneronAndriod@7f47239c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6fc0fd">  <td>13/09/06 12:36:59</td>   <td>772223</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneronAndriod.GmailLogin()[pri:0, instance:Testsuite.AnimatedBanneronAndriod@7f47239c]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6fc0fd">  <td>13/09/06 12:37:48</td>   <td>821002</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneronAndriod.PublisherSearch()[pri:0, instance:Testsuite.AnimatedBanneronAndriod@7f47239c]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6fc0fd">  <td>13/09/06 12:37:53</td>   <td>826611</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneronAndriod.ChannelCreation()[pri:0, instance:Testsuite.AnimatedBanneronAndriod@7f47239c]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6fc0fd">  <td>13/09/06 12:38:14</td>   <td>847074</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneronAndriod.AdvertiserLogin()[pri:0, instance:Testsuite.AnimatedBanneronAndriod@7f47239c]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6fc0fd">  <td>13/09/06 12:38:20</td>   <td>852834</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneronAndriod.CreateAnimatedBanner()[pri:0, instance:Testsuite.AnimatedBanneronAndriod@7f47239c]">CreateAnimatedBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6fc0fd">  <td>13/09/06 12:38:41</td>   <td>874618</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneronAndriod.Targeting()[pri:0, instance:Testsuite.AnimatedBanneronAndriod@7f47239c]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6fc0fd">  <td>13/09/06 12:39:26</td>   <td>919014</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneronAndriod.Budget()[pri:0, instance:Testsuite.AnimatedBanneronAndriod@7f47239c]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6fc0fd">  <td>13/09/06 12:39:38</td>   <td>931004</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneronAndriod.CampaignCreation()[pri:0, instance:Testsuite.AnimatedBanneronAndriod@7f47239c]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6fc0fd">  <td>13/09/06 12:39:44</td>   <td>937133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneronAndriod.Memcamp()[pri:0, instance:Testsuite.AnimatedBanneronAndriod@7f47239c]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6fc0fd">  <td>13/09/06 12:42:23</td>   <td>1095922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneronAndriod.TagServing()[pri:0, instance:Testsuite.AnimatedBanneronAndriod@7f47239c]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6fc0fd">  <td>13/09/06 12:42:41</td>   <td>1114561</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneronAndriod.Logout()[pri:0, instance:Testsuite.AnimatedBanneronAndriod@7f47239c]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6fc0fd">  <td>13/09/06 12:42:46</td>   <td>1119205</td> <td>&nbsp;</td><td title="&lt;&lt;AnimatedBanneronAndriod.tearDown()[pri:0, instance:Testsuite.AnimatedBanneronAndriod@7f47239c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="cf707c">  <td>13/09/06 12:42:46</td>   <td>1119455</td> <td>&nbsp;</td><td title="&gt;&gt;AnimatedBanneronapplephone.setUp()[pri:0, instance:Testsuite.AnimatedBanneronapplephone@61c95bea]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="cf707c">  <td>13/09/06 12:42:49</td>   <td>1122028</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneronapplephone.GmailLogin()[pri:0, instance:Testsuite.AnimatedBanneronapplephone@61c95bea]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="cf707c">  <td>13/09/06 12:43:34</td>   <td>1167624</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneronapplephone.PublisherSearch()[pri:0, instance:Testsuite.AnimatedBanneronapplephone@61c95bea]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="cf707c">  <td>13/09/06 12:43:41</td>   <td>1174154</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneronapplephone.ChannelCreation()[pri:0, instance:Testsuite.AnimatedBanneronapplephone@61c95bea]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="cf707c">  <td>13/09/06 12:43:51</td>   <td>1183763</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneronapplephone.AdvertiserLogin()[pri:0, instance:Testsuite.AnimatedBanneronapplephone@61c95bea]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="cf707c">  <td>13/09/06 12:43:54</td>   <td>1186933</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneronapplephone.CreateAnimatedBanner()[pri:0, instance:Testsuite.AnimatedBanneronapplephone@61c95bea]">CreateAnimatedBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="cf707c">  <td>13/09/06 12:44:18</td>   <td>1211468</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneronapplephone.Targeting()[pri:0, instance:Testsuite.AnimatedBanneronapplephone@61c95bea]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="cf707c">  <td>13/09/06 12:44:19</td>   <td>1212472</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneronapplephone.Budget()[pri:0, instance:Testsuite.AnimatedBanneronapplephone@61c95bea]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="cf707c">  <td>13/09/06 12:44:20</td>   <td>1213476</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneronapplephone.CampaignCreation()[pri:0, instance:Testsuite.AnimatedBanneronapplephone@61c95bea]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="cf707c">  <td>13/09/06 12:44:21</td>   <td>1214482</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneronapplephone.Memcamp()[pri:0, instance:Testsuite.AnimatedBanneronapplephone@61c95bea]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="cf707c">  <td>13/09/06 12:44:28</td>   <td>1221440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneronapplephone.TagServing()[pri:0, instance:Testsuite.AnimatedBanneronapplephone@61c95bea]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="cf707c">  <td>13/09/06 12:44:29</td>   <td>1222445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneronapplephone.Logout()[pri:0, instance:Testsuite.AnimatedBanneronapplephone@61c95bea]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="cf707c">  <td>13/09/06 12:44:30</td>   <td>1223450</td> <td>&nbsp;</td><td title="&lt;&lt;AnimatedBanneronapplephone.tearDown()[pri:0, instance:Testsuite.AnimatedBanneronapplephone@61c95bea]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6d68bc">  <td>13/09/06 12:44:31</td>   <td>1224577</td> <td>&nbsp;</td><td title="&gt;&gt;AnimatedBanneroniOS5.setUp()[pri:0, instance:Testsuite.AnimatedBanneroniOS5@3589193f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6d68bc">  <td>13/09/06 12:44:34</td>   <td>1226723</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneroniOS5.GmailLogin()[pri:0, instance:Testsuite.AnimatedBanneroniOS5@3589193f]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6d68bc">  <td>13/09/06 12:45:25</td>   <td>1278188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneroniOS5.PublisherSearch()[pri:0, instance:Testsuite.AnimatedBanneroniOS5@3589193f]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6d68bc">  <td>13/09/06 12:45:30</td>   <td>1283076</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneroniOS5.ChannelCreation()[pri:0, instance:Testsuite.AnimatedBanneroniOS5@3589193f]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6d68bc">  <td>13/09/06 12:45:58</td>   <td>1311082</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneroniOS5.AdvertiserLogin()[pri:0, instance:Testsuite.AnimatedBanneroniOS5@3589193f]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6d68bc">  <td>13/09/06 12:46:02</td>   <td>1315346</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneroniOS5.CreateAnimatedBanner()[pri:0, instance:Testsuite.AnimatedBanneroniOS5@3589193f]">CreateAnimatedBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6d68bc">  <td>13/09/06 12:46:29</td>   <td>1341775</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneroniOS5.Targeting()[pri:0, instance:Testsuite.AnimatedBanneroniOS5@3589193f]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6d68bc">  <td>13/09/06 12:47:13</td>   <td>1385901</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneroniOS5.Budget()[pri:0, instance:Testsuite.AnimatedBanneroniOS5@3589193f]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6d68bc">  <td>13/09/06 12:47:24</td>   <td>1397015</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneroniOS5.CampaignCreation()[pri:0, instance:Testsuite.AnimatedBanneroniOS5@3589193f]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6d68bc">  <td>13/09/06 12:47:29</td>   <td>1402131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneroniOS5.Memcamp()[pri:0, instance:Testsuite.AnimatedBanneroniOS5@3589193f]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6d68bc">  <td>13/09/06 12:50:11</td>   <td>1563741</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneroniOS5.TagServing()[pri:0, instance:Testsuite.AnimatedBanneroniOS5@3589193f]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6d68bc">  <td>13/09/06 12:50:31</td>   <td>1583705</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanneroniOS5.Logout()[pri:0, instance:Testsuite.AnimatedBanneroniOS5@3589193f]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6d68bc">  <td>13/09/06 12:50:35</td>   <td>1588270</td> <td>&nbsp;</td><td title="&lt;&lt;AnimatedBanneroniOS5.tearDown()[pri:0, instance:Testsuite.AnimatedBanneroniOS5@3589193f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7db276">  <td>13/09/06 12:50:35</td>   <td>1588466</td> <td>&nbsp;</td><td title="&gt;&gt;AnimatedHtc4_0_3.setUp()[pri:0, instance:Testsuite.AnimatedHtc4_0_3@7bf83b8a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7db276">  <td>13/09/06 12:50:37</td>   <td>1590529</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedHtc4_0_3.GmailLogin()[pri:0, instance:Testsuite.AnimatedHtc4_0_3@7bf83b8a]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7db276">  <td>13/09/06 12:51:30</td>   <td>1643428</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedHtc4_0_3.PublisherSearch()[pri:0, instance:Testsuite.AnimatedHtc4_0_3@7bf83b8a]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7db276">  <td>13/09/06 12:51:35</td>   <td>1648290</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedHtc4_0_3.ChannelCreation()[pri:0, instance:Testsuite.AnimatedHtc4_0_3@7bf83b8a]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7db276">  <td>13/09/06 12:52:13</td>   <td>1685795</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedHtc4_0_3.AdvertiserLogin()[pri:0, instance:Testsuite.AnimatedHtc4_0_3@7bf83b8a]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7db276">  <td>13/09/06 12:52:17</td>   <td>1689874</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedHtc4_0_3.CreateAnimatedBanner()[pri:0, instance:Testsuite.AnimatedHtc4_0_3@7bf83b8a]">CreateAnimatedBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7db276">  <td>13/09/06 12:52:40</td>   <td>1713614</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedHtc4_0_3.Targeting()[pri:0, instance:Testsuite.AnimatedHtc4_0_3@7bf83b8a]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7db276">  <td>13/09/06 12:53:24</td>   <td>1757199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedHtc4_0_3.Budget()[pri:0, instance:Testsuite.AnimatedHtc4_0_3@7bf83b8a]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7db276">  <td>13/09/06 12:53:59</td>   <td>1791944</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedHtc4_0_3.CampaignCreation()[pri:0, instance:Testsuite.AnimatedHtc4_0_3@7bf83b8a]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7db276">  <td>13/09/06 12:54:04</td>   <td>1797467</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedHtc4_0_3.Memcamp()[pri:0, instance:Testsuite.AnimatedHtc4_0_3@7bf83b8a]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7db276">  <td>13/09/06 12:56:44</td>   <td>1956943</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedHtc4_0_3.TagServing()[pri:0, instance:Testsuite.AnimatedHtc4_0_3@7bf83b8a]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7db276">  <td>13/09/06 12:57:01</td>   <td>1974022</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedHtc4_0_3.Logout()[pri:0, instance:Testsuite.AnimatedHtc4_0_3@7bf83b8a]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7db276">  <td>13/09/06 12:57:05</td>   <td>1978679</td> <td>&nbsp;</td><td title="&lt;&lt;AnimatedHtc4_0_3.tearDown()[pri:0, instance:Testsuite.AnimatedHtc4_0_3@7bf83b8a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ffcda5">  <td>13/09/06 12:57:06</td>   <td>1978902</td> <td>&nbsp;</td><td title="&gt;&gt;AnimatedNexus4_2.setUp()[pri:0, instance:Testsuite.AnimatedNexus4_2@2cfd88b5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ffcda5">  <td>13/09/06 12:57:08</td>   <td>1980953</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedNexus4_2.GmailLogin()[pri:0, instance:Testsuite.AnimatedNexus4_2@2cfd88b5]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ffcda5">  <td>13/09/06 12:57:57</td>   <td>2029840</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedNexus4_2.PublisherSearch()[pri:0, instance:Testsuite.AnimatedNexus4_2@2cfd88b5]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ffcda5">  <td>13/09/06 12:58:01</td>   <td>2034628</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedNexus4_2.ChannelCreation()[pri:0, instance:Testsuite.AnimatedNexus4_2@2cfd88b5]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ffcda5">  <td>13/09/06 12:58:21</td>   <td>2054396</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedNexus4_2.AdvertiserLogin()[pri:0, instance:Testsuite.AnimatedNexus4_2@2cfd88b5]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ffcda5">  <td>13/09/06 12:58:25</td>   <td>2058670</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedNexus4_2.CreateAnimatedBanner()[pri:0, instance:Testsuite.AnimatedNexus4_2@2cfd88b5]">CreateAnimatedBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ffcda5">  <td>13/09/06 12:58:51</td>   <td>2084443</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedNexus4_2.Targeting()[pri:0, instance:Testsuite.AnimatedNexus4_2@2cfd88b5]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ffcda5">  <td>13/09/06 12:59:36</td>   <td>2129521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedNexus4_2.Budget()[pri:0, instance:Testsuite.AnimatedNexus4_2@2cfd88b5]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ffcda5">  <td>13/09/06 12:59:49</td>   <td>2141788</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedNexus4_2.CampaignCreation()[pri:0, instance:Testsuite.AnimatedNexus4_2@2cfd88b5]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ffcda5">  <td>13/09/06 12:59:55</td>   <td>2148355</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedNexus4_2.Memcamp()[pri:0, instance:Testsuite.AnimatedNexus4_2@2cfd88b5]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ffcda5">  <td>13/09/06 13:02:35</td>   <td>2307863</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedNexus4_2.TagServing()[pri:0, instance:Testsuite.AnimatedNexus4_2@2cfd88b5]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ffcda5">  <td>13/09/06 13:02:53</td>   <td>2326436</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedNexus4_2.Logout()[pri:0, instance:Testsuite.AnimatedNexus4_2@2cfd88b5]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ffcda5">  <td>13/09/06 13:02:58</td>   <td>2331040</td> <td>&nbsp;</td><td title="&lt;&lt;AnimatedNexus4_2.tearDown()[pri:0, instance:Testsuite.AnimatedNexus4_2@2cfd88b5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9d60c4">  <td>13/09/06 13:02:58</td>   <td>2331295</td> <td>&nbsp;</td><td title="&gt;&gt;AnimatedSamsung4_1.setUp()[pri:0, instance:Testsuite.AnimatedSamsung4_1@5f9beb29]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9d60c4">  <td>13/09/06 13:03:01</td>   <td>2333849</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedSamsung4_1.GmailLogin()[pri:0, instance:Testsuite.AnimatedSamsung4_1@5f9beb29]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9d60c4">  <td>13/09/06 13:03:48</td>   <td>2380918</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedSamsung4_1.PublisherSearch()[pri:0, instance:Testsuite.AnimatedSamsung4_1@5f9beb29]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9d60c4">  <td>13/09/06 13:03:53</td>   <td>2385758</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedSamsung4_1.ChannelCreation()[pri:0, instance:Testsuite.AnimatedSamsung4_1@5f9beb29]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9d60c4">  <td>13/09/06 13:04:11</td>   <td>2404433</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedSamsung4_1.AdvertiserLogin()[pri:0, instance:Testsuite.AnimatedSamsung4_1@5f9beb29]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9d60c4">  <td>13/09/06 13:04:15</td>   <td>2408594</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedSamsung4_1.CreateAnimatedBanner()[pri:0, instance:Testsuite.AnimatedSamsung4_1@5f9beb29]">CreateAnimatedBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9d60c4">  <td>13/09/06 13:04:40</td>   <td>2432801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedSamsung4_1.Targeting()[pri:0, instance:Testsuite.AnimatedSamsung4_1@5f9beb29]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9d60c4">  <td>13/09/06 13:05:24</td>   <td>2476856</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedSamsung4_1.Budget()[pri:0, instance:Testsuite.AnimatedSamsung4_1@5f9beb29]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9d60c4">  <td>13/09/06 13:05:39</td>   <td>2492075</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedSamsung4_1.CampaignCreation()[pri:0, instance:Testsuite.AnimatedSamsung4_1@5f9beb29]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9d60c4">  <td>13/09/06 13:05:44</td>   <td>2497022</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedSamsung4_1.Memcamp()[pri:0, instance:Testsuite.AnimatedSamsung4_1@5f9beb29]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9d60c4">  <td>13/09/06 13:08:50</td>   <td>2683494</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedSamsung4_1.TagServing()[pri:0, instance:Testsuite.AnimatedSamsung4_1@5f9beb29]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9d60c4">  <td>13/09/06 13:09:32</td>   <td>2725620</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedSamsung4_1.Logout()[pri:0, instance:Testsuite.AnimatedSamsung4_1@5f9beb29]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9d60c4">  <td>13/09/06 13:09:39</td>   <td>2731945</td> <td>&nbsp;</td><td title="&lt;&lt;AnimatedSamsung4_1.tearDown()[pri:0, instance:Testsuite.AnimatedSamsung4_1@5f9beb29]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ab9e67">  <td>13/09/06 13:09:39</td>   <td>2732186</td> <td>&nbsp;</td><td title="&gt;&gt;AnimatedwithIOS4_3.setUp()[pri:0, instance:Testsuite.AnimatedwithIOS4_3@3a8c9a17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ab9e67">  <td>13/09/06 13:09:41</td>   <td>2734191</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedwithIOS4_3.GmailLogin()[pri:0, instance:Testsuite.AnimatedwithIOS4_3@3a8c9a17]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ab9e67">  <td>13/09/06 13:10:25</td>   <td>2778451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedwithIOS4_3.PublisherSearch()[pri:0, instance:Testsuite.AnimatedwithIOS4_3@3a8c9a17]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ab9e67">  <td>13/09/06 13:10:31</td>   <td>2783957</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedwithIOS4_3.ChannelCreation()[pri:0, instance:Testsuite.AnimatedwithIOS4_3@3a8c9a17]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ab9e67">  <td>13/09/06 13:10:40</td>   <td>2793541</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedwithIOS4_3.AdvertiserLogin()[pri:0, instance:Testsuite.AnimatedwithIOS4_3@3a8c9a17]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ab9e67">  <td>13/09/06 13:10:44</td>   <td>2796938</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedwithIOS4_3.CreateAnimatedBanner()[pri:0, instance:Testsuite.AnimatedwithIOS4_3@3a8c9a17]">CreateAnimatedBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ab9e67">  <td>13/09/06 13:11:18</td>   <td>2830705</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedwithIOS4_3.Targeting()[pri:0, instance:Testsuite.AnimatedwithIOS4_3@3a8c9a17]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ab9e67">  <td>13/09/06 13:11:48</td>   <td>2860723</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedwithIOS4_3.Budget()[pri:0, instance:Testsuite.AnimatedwithIOS4_3@3a8c9a17]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ab9e67">  <td>13/09/06 13:12:18</td>   <td>2890755</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedwithIOS4_3.CampaignCreation()[pri:0, instance:Testsuite.AnimatedwithIOS4_3@3a8c9a17]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ab9e67">  <td>13/09/06 13:12:48</td>   <td>2920797</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedwithIOS4_3.Memcamp()[pri:0, instance:Testsuite.AnimatedwithIOS4_3@3a8c9a17]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ab9e67">  <td>13/09/06 13:15:27</td>   <td>3080005</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedwithIOS4_3.TagServing()[pri:0, instance:Testsuite.AnimatedwithIOS4_3@3a8c9a17]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ab9e67">  <td>13/09/06 13:15:45</td>   <td>3098214</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedwithIOS4_3.Logout()[pri:0, instance:Testsuite.AnimatedwithIOS4_3@3a8c9a17]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ab9e67">  <td>13/09/06 13:15:49</td>   <td>3102206</td> <td>&nbsp;</td><td title="&lt;&lt;AnimatedwithIOS4_3.tearDown()[pri:0, instance:Testsuite.AnimatedwithIOS4_3@3a8c9a17]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aee775">  <td>13/09/06 13:15:49</td>   <td>3102474</td> <td>&nbsp;</td><td title="&gt;&gt;Testcloning.setUp()[pri:0, instance:Testsuite.Testcloning@413ded77]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aee775">  <td>13/09/06 13:15:52</td>   <td>3104876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testcloning.GmailLogin()[pri:0, instance:Testsuite.Testcloning@413ded77]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aee775">  <td>13/09/06 13:16:15</td>   <td>3128421</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testcloning.PublisherSearch()[pri:0, instance:Testsuite.Testcloning@413ded77]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aee775">  <td>13/09/06 13:16:20</td>   <td>3132863</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testcloning.ChannelCreation()[pri:0, instance:Testsuite.Testcloning@413ded77]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aee775">  <td>13/09/06 13:16:41</td>   <td>3153930</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testcloning.AdvertiserLogin()[pri:0, instance:Testsuite.Testcloning@413ded77]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aee775">  <td>13/09/06 13:16:45</td>   <td>3158256</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testcloning.CreateAnimatedBanner()[pri:0, instance:Testsuite.Testcloning@413ded77]">CreateAnimatedBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aee775">  <td>13/09/06 13:17:13</td>   <td>3185964</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testcloning.Targeting()[pri:0, instance:Testsuite.Testcloning@413ded77]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aee775">  <td>13/09/06 13:17:56</td>   <td>3229210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testcloning.Budget()[pri:0, instance:Testsuite.Testcloning@413ded77]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aee775">  <td>13/09/06 13:18:11</td>   <td>3244596</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testcloning.CampaignCreation()[pri:0, instance:Testsuite.Testcloning@413ded77]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aee775">  <td>13/09/06 13:18:17</td>   <td>3249944</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testcloning.Memcamp()[pri:0, instance:Testsuite.Testcloning@413ded77]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aee775">  <td>13/09/06 13:21:24</td>   <td>3437174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testcloning.Clone()[pri:0, instance:Testsuite.Testcloning@413ded77]">Clone</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aee775">  <td>13/09/06 13:21:38</td>   <td>3451256</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testcloning.Memcamp1()[pri:0, instance:Testsuite.Testcloning@413ded77]">Memcamp1</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aee775">  <td>13/09/06 13:24:44</td>   <td>3637152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testcloning.TagServing()[pri:0, instance:Testsuite.Testcloning@413ded77]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aee775">  <td>13/09/06 13:25:13</td>   <td>3665718</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testcloning.Logout()[pri:0, instance:Testsuite.Testcloning@413ded77]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aee775">  <td>13/09/06 13:25:17</td>   <td>3670142</td> <td>&nbsp;</td><td title="&lt;&lt;Testcloning.tearDown()[pri:0, instance:Testsuite.Testcloning@413ded77]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
