<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="93fec0">  <td>13/11/19 19:59:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialHotspot.AdvertiserLogin()[pri:0, instance:TestInterstial.InterstialHotspot@4de35d1a]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="93fec0">  <td>13/11/19 20:00:13</td>   <td>56635</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialHotspot.Budget()[pri:0, instance:TestInterstial.InterstialHotspot@4de35d1a]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="93fec0">  <td>13/11/19 20:00:21</td>   <td>64278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialHotspot.CampaignCreation()[pri:0, instance:TestInterstial.InterstialHotspot@4de35d1a]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="93fec0">  <td>13/11/19 19:59:08</td>   <td>-8837</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialHotspot.ChannelCreation()[pri:0, instance:TestInterstial.InterstialHotspot@4de35d1a]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="93fec0">  <td>13/11/19 19:59:20</td>   <td>3015</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialHotspot.CreateInterstial()[pri:0, instance:TestInterstial.InterstialHotspot@4de35d1a]">CreateInterstial</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="93fec0">  <td>13/11/19 19:58:49</td>   <td>-27609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialHotspot.GmailLogin()[pri:0, instance:TestInterstial.InterstialHotspot@4de35d1a]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="93fec0">  <td>13/11/19 20:04:05</td>   <td>288688</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialHotspot.Logout()[pri:0, instance:TestInterstial.InterstialHotspot@4de35d1a]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="93fec0">  <td>13/11/19 20:00:24</td>   <td>67335</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialHotspot.Memcamp()[pri:0, instance:TestInterstial.InterstialHotspot@4de35d1a]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="93fec0">  <td>13/11/19 19:59:04</td>   <td>-12363</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialHotspot.PublisherSearch()[pri:0, instance:TestInterstial.InterstialHotspot@4de35d1a]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="93fec0">  <td>13/11/19 20:03:03</td>   <td>226877</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialHotspot.TagServing()[pri:0, instance:TestInterstial.InterstialHotspot@4de35d1a]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="93fec0">  <td>13/11/19 19:59:40</td>   <td>23235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialHotspot.Targeting()[pri:0, instance:TestInterstial.InterstialHotspot@4de35d1a]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="93fec0">  <td>13/11/19 19:58:41</td>   <td>-35385</td> <td>&nbsp;</td><td title="&gt;&gt;InterstialHotspot.setUp()[pri:0, instance:TestInterstial.InterstialHotspot@4de35d1a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="93fec0">  <td>13/11/19 20:04:09</td>   <td>292334</td> <td>&nbsp;</td><td title="&lt;&lt;InterstialHotspot.tearDown()[pri:0, instance:TestInterstial.InterstialHotspot@4de35d1a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
