<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="af66ab">  <td>13/09/18 18:09:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBanner.AdvertiserLogin()[pri:0, instance:VideoBanner.TestVideoBanner@7b50e804]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="97789b">  <td>13/09/18 18:17:11</td>   <td>448540</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerrm.AdvertiserLogin()[pri:0, instance:VideoBanner.TestVideoBannerrm@5ce61897]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="97789b">  <td>13/09/18 18:24:43</td>   <td>901006</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerrm.AdvertiserLogin()[pri:0, instance:VideoBanner.TestVideoBannerrm@d1a5338]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7574cd">  <td>13/09/18 18:32:28</td>   <td>1365713</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerFlv.AdvertiserLogin()[pri:0, instance:VideoBanner.TestVideoBannerFlv@3708ab98]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6de46c">  <td>13/09/18 18:40:43</td>   <td>1860366</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannermp4.AdvertiserLogin()[pri:0, instance:VideoBanner.TestVideoBannermp4@1cf6e5e9]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="af66ab">  <td>13/09/18 18:12:52</td>   <td>189595</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBanner.Budget()[pri:0, instance:VideoBanner.TestVideoBanner@7b50e804]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="97789b">  <td>13/09/18 18:20:19</td>   <td>636948</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerrm.Budget()[pri:0, instance:VideoBanner.TestVideoBannerrm@5ce61897]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="97789b">  <td>13/09/18 18:27:52</td>   <td>1089981</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerrm.Budget()[pri:0, instance:VideoBanner.TestVideoBannerrm@d1a5338]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7574cd">  <td>13/09/18 18:35:37</td>   <td>1554425</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerFlv.Budget()[pri:0, instance:VideoBanner.TestVideoBannerFlv@3708ab98]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6de46c">  <td>13/09/18 18:43:55</td>   <td>2052395</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannermp4.Budget()[pri:0, instance:VideoBanner.TestVideoBannermp4@1cf6e5e9]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="af66ab">  <td>13/09/18 18:13:00</td>   <td>197636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBanner.CampaignCreation()[pri:0, instance:VideoBanner.TestVideoBanner@7b50e804]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="97789b">  <td>13/09/18 18:20:27</td>   <td>644966</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerrm.CampaignCreation()[pri:0, instance:VideoBanner.TestVideoBannerrm@5ce61897]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="97789b">  <td>13/09/18 18:28:00</td>   <td>1097738</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerrm.CampaignCreation()[pri:0, instance:VideoBanner.TestVideoBannerrm@d1a5338]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7574cd">  <td>13/09/18 18:35:46</td>   <td>1563479</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerFlv.CampaignCreation()[pri:0, instance:VideoBanner.TestVideoBannerFlv@3708ab98]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6de46c">  <td>13/09/18 18:44:06</td>   <td>2063655</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannermp4.CampaignCreation()[pri:0, instance:VideoBanner.TestVideoBannermp4@1cf6e5e9]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="af66ab">  <td>13/09/18 18:09:25</td>   <td>-17369</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBanner.ChannelCreation()[pri:0, instance:VideoBanner.TestVideoBanner@7b50e804]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="97789b">  <td>13/09/18 18:16:54</td>   <td>432099</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerrm.ChannelCreation()[pri:0, instance:VideoBanner.TestVideoBannerrm@5ce61897]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="97789b">  <td>13/09/18 18:24:27</td>   <td>884651</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerrm.ChannelCreation()[pri:0, instance:VideoBanner.TestVideoBannerrm@d1a5338]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7574cd">  <td>13/09/18 18:32:10</td>   <td>1348019</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerFlv.ChannelCreation()[pri:0, instance:VideoBanner.TestVideoBannerFlv@3708ab98]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6de46c">  <td>13/09/18 18:40:24</td>   <td>1841989</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannermp4.ChannelCreation()[pri:0, instance:VideoBanner.TestVideoBannermp4@1cf6e5e9]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="af66ab">  <td>13/09/18 18:09:47</td>   <td>4245</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBanner.CreateVideoBanner()[pri:0, instance:VideoBanner.TestVideoBanner@7b50e804]">CreateVideoBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="97789b">  <td>13/09/18 18:17:15</td>   <td>452554</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerrm.CreateVideoBanner()[pri:0, instance:VideoBanner.TestVideoBannerrm@5ce61897]">CreateVideoBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="97789b">  <td>13/09/18 18:24:47</td>   <td>905039</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerrm.CreateVideoBanner()[pri:0, instance:VideoBanner.TestVideoBannerrm@d1a5338]">CreateVideoBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7574cd">  <td>13/09/18 18:32:32</td>   <td>1369792</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerFlv.CreateVideoBanner()[pri:0, instance:VideoBanner.TestVideoBannerFlv@3708ab98]">CreateVideoBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6de46c">  <td>13/09/18 18:40:47</td>   <td>1864476</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannermp4.CreateVideoBanner()[pri:0, instance:VideoBanner.TestVideoBannermp4@1cf6e5e9]">CreateVideoBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="af66ab">  <td>13/09/18 18:08:59</td>   <td>-43671</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBanner.GmailLogin()[pri:0, instance:VideoBanner.TestVideoBanner@7b50e804]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="97789b">  <td>13/09/18 18:16:27</td>   <td>405151</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerrm.GmailLogin()[pri:0, instance:VideoBanner.TestVideoBannerrm@5ce61897]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="97789b">  <td>13/09/18 18:23:57</td>   <td>855054</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerrm.GmailLogin()[pri:0, instance:VideoBanner.TestVideoBannerrm@d1a5338]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7574cd">  <td>13/09/18 18:31:43</td>   <td>1320750</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerFlv.GmailLogin()[pri:0, instance:VideoBanner.TestVideoBannerFlv@3708ab98]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6de46c">  <td>13/09/18 18:39:57</td>   <td>1814201</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannermp4.GmailLogin()[pri:0, instance:VideoBanner.TestVideoBannermp4@1cf6e5e9]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="af66ab">  <td>13/09/18 18:16:21</td>   <td>398245</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBanner.Logout()[pri:0, instance:VideoBanner.TestVideoBanner@7b50e804]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="97789b">  <td>13/09/18 18:23:50</td>   <td>847820</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerrm.Logout()[pri:0, instance:VideoBanner.TestVideoBannerrm@5ce61897]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="97789b">  <td>13/09/18 18:31:36</td>   <td>1313722</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerrm.Logout()[pri:0, instance:VideoBanner.TestVideoBannerrm@d1a5338]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7574cd">  <td>13/09/18 18:39:50</td>   <td>1807720</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerFlv.Logout()[pri:0, instance:VideoBanner.TestVideoBannerFlv@3708ab98]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6de46c">  <td>13/09/18 18:47:56</td>   <td>2293250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannermp4.Logout()[pri:0, instance:VideoBanner.TestVideoBannermp4@1cf6e5e9]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="af66ab">  <td>13/09/18 18:13:21</td>   <td>218980</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBanner.Memcamp()[pri:0, instance:VideoBanner.TestVideoBanner@7b50e804]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="97789b">  <td>13/09/18 18:20:52</td>   <td>669270</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerrm.Memcamp()[pri:0, instance:VideoBanner.TestVideoBannerrm@5ce61897]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="97789b">  <td>13/09/18 18:28:37</td>   <td>1135033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerrm.Memcamp()[pri:0, instance:VideoBanner.TestVideoBannerrm@d1a5338]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7574cd">  <td>13/09/18 18:36:18</td>   <td>1595567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerFlv.Memcamp()[pri:0, instance:VideoBanner.TestVideoBannerFlv@3708ab98]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6de46c">  <td>13/09/18 18:44:55</td>   <td>2112924</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannermp4.Memcamp()[pri:0, instance:VideoBanner.TestVideoBannermp4@1cf6e5e9]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="af66ab">  <td>13/09/18 18:09:21</td>   <td>-21683</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBanner.PublisherSearch()[pri:0, instance:VideoBanner.TestVideoBanner@7b50e804]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="97789b">  <td>13/09/18 18:16:50</td>   <td>427813</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerrm.PublisherSearch()[pri:0, instance:VideoBanner.TestVideoBannerrm@5ce61897]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="97789b">  <td>13/09/18 18:24:22</td>   <td>879648</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerrm.PublisherSearch()[pri:0, instance:VideoBanner.TestVideoBannerrm@d1a5338]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7574cd">  <td>13/09/18 18:32:06</td>   <td>1343882</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerFlv.PublisherSearch()[pri:0, instance:VideoBanner.TestVideoBannerFlv@3708ab98]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6de46c">  <td>13/09/18 18:40:20</td>   <td>1837680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannermp4.PublisherSearch()[pri:0, instance:VideoBanner.TestVideoBannermp4@1cf6e5e9]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="af66ab">  <td>13/09/18 18:16:00</td>   <td>377443</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBanner.TagServing()[pri:0, instance:VideoBanner.TestVideoBanner@7b50e804]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="97789b">  <td>13/09/18 18:23:30</td>   <td>827194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerrm.TagServing()[pri:0, instance:VideoBanner.TestVideoBannerrm@5ce61897]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="97789b">  <td>13/09/18 18:31:15</td>   <td>1293055</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerrm.TagServing()[pri:0, instance:VideoBanner.TestVideoBannerrm@d1a5338]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7574cd">  <td>13/09/18 18:39:27</td>   <td>1784299</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerFlv.TagServing()[pri:0, instance:VideoBanner.TestVideoBannerFlv@3708ab98]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6de46c">  <td>13/09/18 18:47:34</td>   <td>2271661</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannermp4.TagServing()[pri:0, instance:VideoBanner.TestVideoBannermp4@1cf6e5e9]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="af66ab">  <td>13/09/18 18:11:49</td>   <td>126270</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBanner.Targeting()[pri:0, instance:VideoBanner.TestVideoBanner@7b50e804]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="97789b">  <td>13/09/18 18:19:16</td>   <td>573793</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerrm.Targeting()[pri:0, instance:VideoBanner.TestVideoBannerrm@5ce61897]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="97789b">  <td>13/09/18 18:26:49</td>   <td>1026759</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerrm.Targeting()[pri:0, instance:VideoBanner.TestVideoBannerrm@d1a5338]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7574cd">  <td>13/09/18 18:34:34</td>   <td>1491257</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerFlv.Targeting()[pri:0, instance:VideoBanner.TestVideoBannerFlv@3708ab98]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6de46c">  <td>13/09/18 18:42:50</td>   <td>1988129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannermp4.Targeting()[pri:0, instance:VideoBanner.TestVideoBannermp4@1cf6e5e9]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="af66ab">  <td>13/09/18 18:08:52</td>   <td>-50440</td> <td>&nbsp;</td><td title="&gt;&gt;TestVideoBanner.setUp()[pri:0, instance:VideoBanner.TestVideoBanner@7b50e804]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="97789b">  <td>13/09/18 18:16:25</td>   <td>402798</td> <td>&nbsp;</td><td title="&gt;&gt;TestVideoBannerrm.setUp()[pri:0, instance:VideoBanner.TestVideoBannerrm@5ce61897]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="97789b">  <td>13/09/18 18:23:55</td>   <td>852347</td> <td>&nbsp;</td><td title="&gt;&gt;TestVideoBannerrm.setUp()[pri:0, instance:VideoBanner.TestVideoBannerrm@d1a5338]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7574cd">  <td>13/09/18 18:31:41</td>   <td>1318191</td> <td>&nbsp;</td><td title="&gt;&gt;TestVideoBannerFlv.setUp()[pri:0, instance:VideoBanner.TestVideoBannerFlv@3708ab98]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6de46c">  <td>13/09/18 18:39:54</td>   <td>1812111</td> <td>&nbsp;</td><td title="&gt;&gt;TestVideoBannermp4.setUp()[pri:0, instance:VideoBanner.TestVideoBannermp4@1cf6e5e9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="af66ab">  <td>13/09/18 18:16:25</td>   <td>402583</td> <td>&nbsp;</td><td title="&lt;&lt;TestVideoBanner.tearDown()[pri:0, instance:VideoBanner.TestVideoBanner@7b50e804]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="97789b">  <td>13/09/18 18:23:54</td>   <td>852145</td> <td>&nbsp;</td><td title="&lt;&lt;TestVideoBannerrm.tearDown()[pri:0, instance:VideoBanner.TestVideoBannerrm@5ce61897]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="97789b">  <td>13/09/18 18:31:40</td>   <td>1318002</td> <td>&nbsp;</td><td title="&lt;&lt;TestVideoBannerrm.tearDown()[pri:0, instance:VideoBanner.TestVideoBannerrm@d1a5338]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7574cd">  <td>13/09/18 18:39:54</td>   <td>1811895</td> <td>&nbsp;</td><td title="&lt;&lt;TestVideoBannerFlv.tearDown()[pri:0, instance:VideoBanner.TestVideoBannerFlv@3708ab98]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6de46c">  <td>13/09/18 18:48:00</td>   <td>2297579</td> <td>&nbsp;</td><td title="&lt;&lt;TestVideoBannermp4.tearDown()[pri:0, instance:VideoBanner.TestVideoBannermp4@1cf6e5e9]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
