<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a3a181">  <td>13/09/18 19:59:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.AdvertiserLogin()[pri:0, instance:TestBanner.TestBanner@bcab4a5]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="70679d">  <td>13/09/18 20:07:00</td>   <td>432478</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner300.AdvertiserLogin()[pri:0, instance:TestBanner.TestBanner300@1889c3ae]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b584c0">  <td>13/09/18 20:15:16</td>   <td>928369</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner720.AdvertiserLogin()[pri:0, instance:TestBanner.TestBanner720@3fdfbc7f]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1c063">  <td>13/09/18 20:22:34</td>   <td>1366370</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBannerCustom.AdvertiserLogin()[pri:0, instance:TestBanner.TestBannerCustom@30951aeb]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a3a181">  <td>13/09/18 20:02:09</td>   <td>141716</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.Budget()[pri:0, instance:TestBanner.TestBanner@bcab4a5]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="70679d">  <td>13/09/18 20:10:20</td>   <td>632516</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner300.Budget()[pri:0, instance:TestBanner.TestBanner300@1889c3ae]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b584c0">  <td>13/09/18 20:17:40</td>   <td>1072292</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner720.Budget()[pri:0, instance:TestBanner.TestBanner720@3fdfbc7f]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1c063">  <td>13/09/18 20:24:56</td>   <td>1508032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBannerCustom.Budget()[pri:0, instance:TestBanner.TestBannerCustom@30951aeb]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a3a181">  <td>13/09/18 20:02:20</td>   <td>152701</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.CampaignCreation()[pri:0, instance:TestBanner.TestBanner@bcab4a5]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="70679d">  <td>13/09/18 20:10:50</td>   <td>662617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner300.CampaignCreation()[pri:0, instance:TestBanner.TestBanner300@1889c3ae]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b584c0">  <td>13/09/18 20:17:50</td>   <td>1082347</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner720.CampaignCreation()[pri:0, instance:TestBanner.TestBanner720@3fdfbc7f]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1c063">  <td>13/09/18 20:25:05</td>   <td>1517525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBannerCustom.CampaignCreation()[pri:0, instance:TestBanner.TestBannerCustom@30951aeb]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a3a181">  <td>13/09/18 19:59:30</td>   <td>-17336</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.ChannelCreation()[pri:0, instance:TestBanner.TestBanner@bcab4a5]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="70679d">  <td>13/09/18 20:06:41</td>   <td>413241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner300.ChannelCreation()[pri:0, instance:TestBanner.TestBanner300@1889c3ae]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b584c0">  <td>13/09/18 20:14:55</td>   <td>907881</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner720.ChannelCreation()[pri:0, instance:TestBanner.TestBanner720@3fdfbc7f]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1c063">  <td>13/09/18 20:22:17</td>   <td>1349681</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBannerCustom.ChannelCreation()[pri:0, instance:TestBanner.TestBannerCustom@30951aeb]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a3a181">  <td>13/09/18 19:59:52</td>   <td>4048</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.CreateBanner()[pri:0, instance:TestBanner.TestBanner@bcab4a5]">CreateBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="70679d">  <td>13/09/18 20:07:04</td>   <td>436959</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner300.CreateBanner()[pri:0, instance:TestBanner.TestBanner300@1889c3ae]">CreateBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b584c0">  <td>13/09/18 20:15:20</td>   <td>932682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner720.CreateBanner()[pri:0, instance:TestBanner.TestBanner720@3fdfbc7f]">CreateBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1c063">  <td>13/09/18 20:22:38</td>   <td>1370420</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBannerCustom.CreateBanner()[pri:0, instance:TestBanner.TestBannerCustom@30951aeb]">CreateBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a3a181">  <td>13/09/18 19:59:04</td>   <td>-43333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.GmailLogin()[pri:0, instance:TestBanner.TestBanner@bcab4a5]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="70679d">  <td>13/09/18 20:06:14</td>   <td>386912</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner300.GmailLogin()[pri:0, instance:TestBanner.TestBanner300@1889c3ae]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b584c0">  <td>13/09/18 20:14:29</td>   <td>881091</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner720.GmailLogin()[pri:0, instance:TestBanner.TestBanner720@3fdfbc7f]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1c063">  <td>13/09/18 20:21:50</td>   <td>1322911</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBannerCustom.GmailLogin()[pri:0, instance:TestBanner.TestBannerCustom@30951aeb]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a3a181">  <td>13/09/18 20:06:11</td>   <td>383958</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.Logout()[pri:0, instance:TestBanner.TestBanner@bcab4a5]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="70679d">  <td>13/09/18 20:14:23</td>   <td>875554</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner300.Logout()[pri:0, instance:TestBanner.TestBanner300@1889c3ae]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b584c0">  <td>13/09/18 20:21:43</td>   <td>1315673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner720.Logout()[pri:0, instance:TestBanner.TestBanner720@3fdfbc7f]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1c063">  <td>13/09/18 20:28:56</td>   <td>1748577</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBannerCustom.Logout()[pri:0, instance:TestBanner.TestBannerCustom@30951aeb]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a3a181">  <td>13/09/18 20:02:29</td>   <td>161564</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.Memcamp()[pri:0, instance:TestBanner.TestBanner@bcab4a5]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="70679d">  <td>13/09/18 20:11:20</td>   <td>692667</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner300.Memcamp()[pri:0, instance:TestBanner.TestBanner300@1889c3ae]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b584c0">  <td>13/09/18 20:18:00</td>   <td>1092633</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner720.Memcamp()[pri:0, instance:TestBanner.TestBanner720@3fdfbc7f]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1c063">  <td>13/09/18 20:25:13</td>   <td>1525904</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBannerCustom.Memcamp()[pri:0, instance:TestBanner.TestBannerCustom@30951aeb]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a3a181">  <td>13/09/18 19:59:26</td>   <td>-21532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.PublisherSearch()[pri:0, instance:TestBanner.TestBanner@bcab4a5]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="70679d">  <td>13/09/18 20:06:37</td>   <td>408991</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner300.PublisherSearch()[pri:0, instance:TestBanner.TestBanner300@1889c3ae]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b584c0">  <td>13/09/18 20:14:51</td>   <td>903341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner720.PublisherSearch()[pri:0, instance:TestBanner.TestBanner720@3fdfbc7f]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1c063">  <td>13/09/18 20:22:13</td>   <td>1345388</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBannerCustom.PublisherSearch()[pri:0, instance:TestBanner.TestBannerCustom@30951aeb]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a3a181">  <td>13/09/18 20:05:08</td>   <td>320493</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.TagServing()[pri:0, instance:TestBanner.TestBanner@bcab4a5]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="70679d">  <td>13/09/18 20:14:22</td>   <td>874548</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner300.TagServing()[pri:0, instance:TestBanner.TestBanner300@1889c3ae]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b584c0">  <td>13/09/18 20:20:39</td>   <td>1251303</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner720.TagServing()[pri:0, instance:TestBanner.TestBanner720@3fdfbc7f]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1c063">  <td>13/09/18 20:27:51</td>   <td>1683952</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBannerCustom.TagServing()[pri:0, instance:TestBanner.TestBannerCustom@30951aeb]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a3a181">  <td>13/09/18 20:01:06</td>   <td>78481</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.Targeting()[pri:0, instance:TestBanner.TestBanner@bcab4a5]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="70679d">  <td>13/09/18 20:09:50</td>   <td>602473</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner300.Targeting()[pri:0, instance:TestBanner.TestBanner300@1889c3ae]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b584c0">  <td>13/09/18 20:16:37</td>   <td>1009038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner720.Targeting()[pri:0, instance:TestBanner.TestBanner720@3fdfbc7f]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1c063">  <td>13/09/18 20:23:52</td>   <td>1444832</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBannerCustom.Targeting()[pri:0, instance:TestBanner.TestBannerCustom@30951aeb]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a3a181">  <td>13/09/18 19:58:56</td>   <td>-51436</td> <td>&nbsp;</td><td title="&gt;&gt;TestBanner.setUp()[pri:0, instance:TestBanner.TestBanner@bcab4a5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="70679d">  <td>13/09/18 20:06:12</td>   <td>384265</td> <td>&nbsp;</td><td title="&gt;&gt;TestBanner300.setUp()[pri:0, instance:TestBanner.TestBanner300@1889c3ae]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b584c0">  <td>13/09/18 20:14:25</td>   <td>877772</td> <td>&nbsp;</td><td title="&gt;&gt;TestBanner720.setUp()[pri:0, instance:TestBanner.TestBanner720@3fdfbc7f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1c063">  <td>13/09/18 20:21:48</td>   <td>1320152</td> <td>&nbsp;</td><td title="&gt;&gt;TestBannerCustom.setUp()[pri:0, instance:TestBanner.TestBannerCustom@30951aeb]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a3a181">  <td>13/09/18 20:06:11</td>   <td>383970</td> <td>&nbsp;</td><td title="&lt;&lt;TestBanner.tearDown()[pri:0, instance:TestBanner.TestBanner@bcab4a5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="70679d">  <td>13/09/18 20:14:24</td>   <td>876556</td> <td>&nbsp;</td><td title="&lt;&lt;TestBanner300.tearDown()[pri:0, instance:TestBanner.TestBanner300@1889c3ae]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b584c0">  <td>13/09/18 20:21:47</td>   <td>1319937</td> <td>&nbsp;</td><td title="&lt;&lt;TestBanner720.tearDown()[pri:0, instance:TestBanner.TestBanner720@3fdfbc7f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1c063">  <td>13/09/18 20:29:00</td>   <td>1752894</td> <td>&nbsp;</td><td title="&lt;&lt;TestBannerCustom.tearDown()[pri:0, instance:TestBanner.TestBannerCustom@30951aeb]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
