<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a3a181">  <td>13/09/18 19:58:56</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestBanner.setUp()[pri:0, instance:TestBanner.TestBanner@bcab4a5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a3a181">  <td>13/09/18 19:59:04</td>   <td>8103</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.GmailLogin()[pri:0, instance:TestBanner.TestBanner@bcab4a5]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a3a181">  <td>13/09/18 19:59:26</td>   <td>29904</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.PublisherSearch()[pri:0, instance:TestBanner.TestBanner@bcab4a5]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a3a181">  <td>13/09/18 19:59:30</td>   <td>34100</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.ChannelCreation()[pri:0, instance:TestBanner.TestBanner@bcab4a5]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a3a181">  <td>13/09/18 19:59:48</td>   <td>51436</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.AdvertiserLogin()[pri:0, instance:TestBanner.TestBanner@bcab4a5]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a3a181">  <td>13/09/18 19:59:52</td>   <td>55484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.CreateBanner()[pri:0, instance:TestBanner.TestBanner@bcab4a5]">CreateBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a3a181">  <td>13/09/18 20:01:06</td>   <td>129917</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.Targeting()[pri:0, instance:TestBanner.TestBanner@bcab4a5]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a3a181">  <td>13/09/18 20:02:09</td>   <td>193152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.Budget()[pri:0, instance:TestBanner.TestBanner@bcab4a5]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a3a181">  <td>13/09/18 20:02:20</td>   <td>204137</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.CampaignCreation()[pri:0, instance:TestBanner.TestBanner@bcab4a5]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a3a181">  <td>13/09/18 20:02:29</td>   <td>213000</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.Memcamp()[pri:0, instance:TestBanner.TestBanner@bcab4a5]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a3a181">  <td>13/09/18 20:05:08</td>   <td>371929</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.TagServing()[pri:0, instance:TestBanner.TestBanner@bcab4a5]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a3a181">  <td>13/09/18 20:06:11</td>   <td>435394</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.Logout()[pri:0, instance:TestBanner.TestBanner@bcab4a5]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a3a181">  <td>13/09/18 20:06:11</td>   <td>435406</td> <td>&nbsp;</td><td title="&lt;&lt;TestBanner.tearDown()[pri:0, instance:TestBanner.TestBanner@bcab4a5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="70679d">  <td>13/09/18 20:06:12</td>   <td>435701</td> <td>&nbsp;</td><td title="&gt;&gt;TestBanner300.setUp()[pri:0, instance:TestBanner.TestBanner300@1889c3ae]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="70679d">  <td>13/09/18 20:06:14</td>   <td>438348</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner300.GmailLogin()[pri:0, instance:TestBanner.TestBanner300@1889c3ae]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="70679d">  <td>13/09/18 20:06:37</td>   <td>460427</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner300.PublisherSearch()[pri:0, instance:TestBanner.TestBanner300@1889c3ae]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="70679d">  <td>13/09/18 20:06:41</td>   <td>464677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner300.ChannelCreation()[pri:0, instance:TestBanner.TestBanner300@1889c3ae]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="70679d">  <td>13/09/18 20:07:00</td>   <td>483914</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner300.AdvertiserLogin()[pri:0, instance:TestBanner.TestBanner300@1889c3ae]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="70679d">  <td>13/09/18 20:07:04</td>   <td>488395</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner300.CreateBanner()[pri:0, instance:TestBanner.TestBanner300@1889c3ae]">CreateBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="70679d">  <td>13/09/18 20:09:50</td>   <td>653909</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner300.Targeting()[pri:0, instance:TestBanner.TestBanner300@1889c3ae]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="70679d">  <td>13/09/18 20:10:20</td>   <td>683952</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner300.Budget()[pri:0, instance:TestBanner.TestBanner300@1889c3ae]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="70679d">  <td>13/09/18 20:10:50</td>   <td>714053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner300.CampaignCreation()[pri:0, instance:TestBanner.TestBanner300@1889c3ae]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="70679d">  <td>13/09/18 20:11:20</td>   <td>744103</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner300.Memcamp()[pri:0, instance:TestBanner.TestBanner300@1889c3ae]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="70679d">  <td>13/09/18 20:14:22</td>   <td>925984</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner300.TagServing()[pri:0, instance:TestBanner.TestBanner300@1889c3ae]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="70679d">  <td>13/09/18 20:14:23</td>   <td>926990</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner300.Logout()[pri:0, instance:TestBanner.TestBanner300@1889c3ae]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="70679d">  <td>13/09/18 20:14:24</td>   <td>927992</td> <td>&nbsp;</td><td title="&lt;&lt;TestBanner300.tearDown()[pri:0, instance:TestBanner.TestBanner300@1889c3ae]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b584c0">  <td>13/09/18 20:14:25</td>   <td>929208</td> <td>&nbsp;</td><td title="&gt;&gt;TestBanner720.setUp()[pri:0, instance:TestBanner.TestBanner720@3fdfbc7f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b584c0">  <td>13/09/18 20:14:29</td>   <td>932527</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner720.GmailLogin()[pri:0, instance:TestBanner.TestBanner720@3fdfbc7f]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b584c0">  <td>13/09/18 20:14:51</td>   <td>954777</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner720.PublisherSearch()[pri:0, instance:TestBanner.TestBanner720@3fdfbc7f]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b584c0">  <td>13/09/18 20:14:55</td>   <td>959317</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner720.ChannelCreation()[pri:0, instance:TestBanner.TestBanner720@3fdfbc7f]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b584c0">  <td>13/09/18 20:15:16</td>   <td>979805</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner720.AdvertiserLogin()[pri:0, instance:TestBanner.TestBanner720@3fdfbc7f]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b584c0">  <td>13/09/18 20:15:20</td>   <td>984118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner720.CreateBanner()[pri:0, instance:TestBanner.TestBanner720@3fdfbc7f]">CreateBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b584c0">  <td>13/09/18 20:16:37</td>   <td>1060474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner720.Targeting()[pri:0, instance:TestBanner.TestBanner720@3fdfbc7f]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b584c0">  <td>13/09/18 20:17:40</td>   <td>1123728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner720.Budget()[pri:0, instance:TestBanner.TestBanner720@3fdfbc7f]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b584c0">  <td>13/09/18 20:17:50</td>   <td>1133783</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner720.CampaignCreation()[pri:0, instance:TestBanner.TestBanner720@3fdfbc7f]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b584c0">  <td>13/09/18 20:18:00</td>   <td>1144069</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner720.Memcamp()[pri:0, instance:TestBanner.TestBanner720@3fdfbc7f]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b584c0">  <td>13/09/18 20:20:39</td>   <td>1302739</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner720.TagServing()[pri:0, instance:TestBanner.TestBanner720@3fdfbc7f]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b584c0">  <td>13/09/18 20:21:43</td>   <td>1367109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner720.Logout()[pri:0, instance:TestBanner.TestBanner720@3fdfbc7f]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b584c0">  <td>13/09/18 20:21:47</td>   <td>1371373</td> <td>&nbsp;</td><td title="&lt;&lt;TestBanner720.tearDown()[pri:0, instance:TestBanner.TestBanner720@3fdfbc7f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1c063">  <td>13/09/18 20:21:48</td>   <td>1371588</td> <td>&nbsp;</td><td title="&gt;&gt;TestBannerCustom.setUp()[pri:0, instance:TestBanner.TestBannerCustom@30951aeb]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1c063">  <td>13/09/18 20:21:50</td>   <td>1374347</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBannerCustom.GmailLogin()[pri:0, instance:TestBanner.TestBannerCustom@30951aeb]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1c063">  <td>13/09/18 20:22:13</td>   <td>1396824</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBannerCustom.PublisherSearch()[pri:0, instance:TestBanner.TestBannerCustom@30951aeb]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1c063">  <td>13/09/18 20:22:17</td>   <td>1401117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBannerCustom.ChannelCreation()[pri:0, instance:TestBanner.TestBannerCustom@30951aeb]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1c063">  <td>13/09/18 20:22:34</td>   <td>1417806</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBannerCustom.AdvertiserLogin()[pri:0, instance:TestBanner.TestBannerCustom@30951aeb]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1c063">  <td>13/09/18 20:22:38</td>   <td>1421856</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBannerCustom.CreateBanner()[pri:0, instance:TestBanner.TestBannerCustom@30951aeb]">CreateBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1c063">  <td>13/09/18 20:23:52</td>   <td>1496268</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBannerCustom.Targeting()[pri:0, instance:TestBanner.TestBannerCustom@30951aeb]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1c063">  <td>13/09/18 20:24:56</td>   <td>1559468</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBannerCustom.Budget()[pri:0, instance:TestBanner.TestBannerCustom@30951aeb]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1c063">  <td>13/09/18 20:25:05</td>   <td>1568961</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBannerCustom.CampaignCreation()[pri:0, instance:TestBanner.TestBannerCustom@30951aeb]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1c063">  <td>13/09/18 20:25:13</td>   <td>1577340</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBannerCustom.Memcamp()[pri:0, instance:TestBanner.TestBannerCustom@30951aeb]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1c063">  <td>13/09/18 20:27:51</td>   <td>1735388</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBannerCustom.TagServing()[pri:0, instance:TestBanner.TestBannerCustom@30951aeb]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1c063">  <td>13/09/18 20:28:56</td>   <td>1800013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBannerCustom.Logout()[pri:0, instance:TestBanner.TestBannerCustom@30951aeb]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1c063">  <td>13/09/18 20:29:00</td>   <td>1804330</td> <td>&nbsp;</td><td title="&lt;&lt;TestBannerCustom.tearDown()[pri:0, instance:TestBanner.TestBannerCustom@30951aeb]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
