<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ce8864">  <td>13/11/06 17:58:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderVideoMV4.AdvertiserLogin()[pri:0, instance:LeaderVideo.LeaderVideoMV4@40b7522c]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/11/06 18:01:26</td>   <td>188028</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderVideoMV4.Budget()[pri:0, instance:LeaderVideo.LeaderVideoMV4@40b7522c]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/11/06 18:01:34</td>   <td>196638</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderVideoMV4.CampaignCreation()[pri:0, instance:LeaderVideo.LeaderVideoMV4@40b7522c]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/11/06 17:58:09</td>   <td>-8634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderVideoMV4.ChannelCreation()[pri:0, instance:LeaderVideo.LeaderVideoMV4@40b7522c]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/11/06 17:58:21</td>   <td>3473</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderVideoMV4.CreateLeaderVideo()[pri:0, instance:LeaderVideo.LeaderVideoMV4@40b7522c]">CreateLeaderVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/11/06 17:57:48</td>   <td>-29400</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderVideoMV4.GmailLogin()[pri:0, instance:LeaderVideo.LeaderVideoMV4@40b7522c]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/11/06 18:05:01</td>   <td>402858</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderVideoMV4.Logout()[pri:0, instance:LeaderVideo.LeaderVideoMV4@40b7522c]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/11/06 18:02:04</td>   <td>226711</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderVideoMV4.Memcamp()[pri:0, instance:LeaderVideo.LeaderVideoMV4@40b7522c]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/11/06 17:58:05</td>   <td>-12444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderVideoMV4.PublisherSearch()[pri:0, instance:LeaderVideo.LeaderVideoMV4@40b7522c]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/11/06 18:04:43</td>   <td>385014</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderVideoMV4.TagServing()[pri:0, instance:LeaderVideo.LeaderVideoMV4@40b7522c]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/11/06 18:00:52</td>   <td>154580</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderVideoMV4.Targeting()[pri:0, instance:LeaderVideo.LeaderVideoMV4@40b7522c]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/11/06 17:57:42</td>   <td>-35646</td> <td>&nbsp;</td><td title="&gt;&gt;LeaderVideoMV4.setUp()[pri:0, instance:LeaderVideo.LeaderVideoMV4@40b7522c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/11/06 18:05:04</td>   <td>406447</td> <td>&nbsp;</td><td title="&lt;&lt;LeaderVideoMV4.tearDown()[pri:0, instance:LeaderVideo.LeaderVideoMV4@40b7522c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
