<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="62a868">  <td>13/09/28 23:41:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideo.Advertiser()[pri:0, instance:DifferentAdsFormat.TestVideo@2dc719bd]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="658c7b">  <td>13/09/28 23:38:39</td>   <td>-140603</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAnimatedBanner.AdvertiserLogin()[pri:0, instance:DifferentAdsFormat.TestAnimatedBanner@1dce6303]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="65969a">  <td>13/09/28 23:39:10</td>   <td>-109890</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.AdvertiserLogin()[pri:0, instance:DifferentAdsFormat.TestBanner@48a3abff]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e664ac">  <td>13/09/28 23:39:38</td>   <td>-81647</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestInterstial.AdvertiserLogin()[pri:0, instance:DifferentAdsFormat.TestInterstial@9db900f]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="eb96fc">  <td>13/09/28 23:40:05</td>   <td>-54804</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLeaderVideo.AdvertiserLogin()[pri:0, instance:DifferentAdsFormat.TestLeaderVideo@6e059e40]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f2706b">  <td>13/09/28 23:40:33</td>   <td>-26271</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVast.AdvertiserLogin()[pri:0, instance:DifferentAdsFormat.TestVast@197191a4]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7cdf8a">  <td>13/09/28 23:41:29</td>   <td>29556</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBanner.AdvertiserLogin()[pri:0, instance:DifferentAdsFormat.TestVideoBanner@e97dd98]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="658c7b">  <td>13/09/28 23:38:42</td>   <td>-137584</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAnimatedBanner.Budget()[pri:0, instance:DifferentAdsFormat.TestAnimatedBanner@1dce6303]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="65969a">  <td>13/09/28 23:39:13</td>   <td>-106883</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.Budget()[pri:0, instance:DifferentAdsFormat.TestBanner@48a3abff]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e664ac">  <td>13/09/28 23:39:41</td>   <td>-78633</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestInterstial.Budget()[pri:0, instance:DifferentAdsFormat.TestInterstial@9db900f]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="eb96fc">  <td>13/09/28 23:40:08</td>   <td>-51768</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLeaderVideo.Budget()[pri:0, instance:DifferentAdsFormat.TestLeaderVideo@6e059e40]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f2706b">  <td>13/09/28 23:40:37</td>   <td>-23247</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVast.Budget()[pri:0, instance:DifferentAdsFormat.TestVast@197191a4]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7cdf8a">  <td>13/09/28 23:41:32</td>   <td>32600</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBanner.Budget()[pri:0, instance:DifferentAdsFormat.TestVideoBanner@e97dd98]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="62a868">  <td>13/09/28 23:41:03</td>   <td>3044</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideo.Buget()[pri:0, instance:DifferentAdsFormat.TestVideo@2dc719bd]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="658c7b">  <td>13/09/28 23:38:43</td>   <td>-136571</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAnimatedBanner.CampaignCreation()[pri:0, instance:DifferentAdsFormat.TestAnimatedBanner@1dce6303]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="65969a">  <td>13/09/28 23:39:14</td>   <td>-105868</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.CampaignCreation()[pri:0, instance:DifferentAdsFormat.TestBanner@48a3abff]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e664ac">  <td>13/09/28 23:39:42</td>   <td>-77628</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestInterstial.CampaignCreation()[pri:0, instance:DifferentAdsFormat.TestInterstial@9db900f]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="eb96fc">  <td>13/09/28 23:40:09</td>   <td>-50754</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLeaderVideo.CampaignCreation()[pri:0, instance:DifferentAdsFormat.TestLeaderVideo@6e059e40]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f2706b">  <td>13/09/28 23:40:38</td>   <td>-22233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVast.CampaignCreation()[pri:0, instance:DifferentAdsFormat.TestVast@197191a4]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="62a868">  <td>13/09/28 23:41:04</td>   <td>4046</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideo.CampaignCreation()[pri:0, instance:DifferentAdsFormat.TestVideo@2dc719bd]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7cdf8a">  <td>13/09/28 23:41:33</td>   <td>33603</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBanner.CampaignCreation()[pri:0, instance:DifferentAdsFormat.TestVideoBanner@e97dd98]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="658c7b">  <td>13/09/28 23:38:38</td>   <td>-141629</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAnimatedBanner.ChannelCreation()[pri:0, instance:DifferentAdsFormat.TestAnimatedBanner@1dce6303]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="65969a">  <td>13/09/28 23:39:09</td>   <td>-110896</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.ChannelCreation()[pri:0, instance:DifferentAdsFormat.TestBanner@48a3abff]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e664ac">  <td>13/09/28 23:39:37</td>   <td>-82651</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestInterstial.ChannelCreation()[pri:0, instance:DifferentAdsFormat.TestInterstial@9db900f]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="eb96fc">  <td>13/09/28 23:40:04</td>   <td>-55810</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLeaderVideo.ChannelCreation()[pri:0, instance:DifferentAdsFormat.TestLeaderVideo@6e059e40]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f2706b">  <td>13/09/28 23:40:33</td>   <td>-27265</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVast.ChannelCreation()[pri:0, instance:DifferentAdsFormat.TestVast@197191a4]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="62a868">  <td>13/09/28 23:40:59</td>   <td>-1013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideo.ChannelCreation()[pri:0, instance:DifferentAdsFormat.TestVideo@2dc719bd]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7cdf8a">  <td>13/09/28 23:41:28</td>   <td>28548</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBanner.ChannelCreation()[pri:0, instance:DifferentAdsFormat.TestVideoBanner@e97dd98]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="658c7b">  <td>13/09/28 23:38:40</td>   <td>-139593</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAnimatedBanner.CreateAnimatedBanner()[pri:0, instance:DifferentAdsFormat.TestAnimatedBanner@1dce6303]">CreateAnimatedBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="65969a">  <td>13/09/28 23:39:11</td>   <td>-108886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.CreateBanner()[pri:0, instance:DifferentAdsFormat.TestBanner@48a3abff]">CreateBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e664ac">  <td>13/09/28 23:39:39</td>   <td>-80642</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestInterstial.CreateInterstial()[pri:0, instance:DifferentAdsFormat.TestInterstial@9db900f]">CreateInterstial</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="eb96fc">  <td>13/09/28 23:40:06</td>   <td>-53778</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLeaderVideo.CreateLeaderVideo()[pri:0, instance:DifferentAdsFormat.TestLeaderVideo@6e059e40]">CreateLeaderVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f2706b">  <td>13/09/28 23:40:35</td>   <td>-25262</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVast.CreateVast()[pri:0, instance:DifferentAdsFormat.TestVast@197191a4]">CreateVast</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="62a868">  <td>13/09/28 23:41:01</td>   <td>1037</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideo.CreateVideo()[pri:0, instance:DifferentAdsFormat.TestVideo@2dc719bd]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7cdf8a">  <td>13/09/28 23:41:30</td>   <td>30584</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBanner.CreateVideoBanner()[pri:0, instance:DifferentAdsFormat.TestVideoBanner@e97dd98]">CreateVideoBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="658c7b">  <td>13/09/28 23:38:32</td>   <td>-147885</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAnimatedBanner.GmailLogin()[pri:0, instance:DifferentAdsFormat.TestAnimatedBanner@1dce6303]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="65969a">  <td>13/09/28 23:39:03</td>   <td>-116423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.GmailLogin()[pri:0, instance:DifferentAdsFormat.TestBanner@48a3abff]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e664ac">  <td>13/09/28 23:39:31</td>   <td>-88390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestInterstial.GmailLogin()[pri:0, instance:DifferentAdsFormat.TestInterstial@9db900f]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="eb96fc">  <td>13/09/28 23:39:58</td>   <td>-61398</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLeaderVideo.GmailLogin()[pri:0, instance:DifferentAdsFormat.TestLeaderVideo@6e059e40]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f2706b">  <td>13/09/28 23:40:27</td>   <td>-33088</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVast.GmailLogin()[pri:0, instance:DifferentAdsFormat.TestVast@197191a4]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="62a868">  <td>13/09/28 23:40:53</td>   <td>-6842</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideo.GmailLogin()[pri:0, instance:DifferentAdsFormat.TestVideo@2dc719bd]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7cdf8a">  <td>13/09/28 23:41:23</td>   <td>22778</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBanner.GmailLogin()[pri:0, instance:DifferentAdsFormat.TestVideoBanner@e97dd98]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="658c7b">  <td>13/09/28 23:38:59</td>   <td>-120707</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAnimatedBanner.Logout()[pri:0, instance:DifferentAdsFormat.TestAnimatedBanner@1dce6303]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="65969a">  <td>13/09/28 23:39:27</td>   <td>-92833</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.Logout()[pri:0, instance:DifferentAdsFormat.TestBanner@48a3abff]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e664ac">  <td>13/09/28 23:39:54</td>   <td>-65882</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestInterstial.Logout()[pri:0, instance:DifferentAdsFormat.TestInterstial@9db900f]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="eb96fc">  <td>13/09/28 23:40:22</td>   <td>-37615</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLeaderVideo.Logout()[pri:0, instance:DifferentAdsFormat.TestLeaderVideo@6e059e40]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f2706b">  <td>13/09/28 23:40:50</td>   <td>-10175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVast.Logout()[pri:0, instance:DifferentAdsFormat.TestVast@197191a4]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="62a868">  <td>13/09/28 23:41:18</td>   <td>18601</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideo.Logout()[pri:0, instance:DifferentAdsFormat.TestVideo@2dc719bd]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7cdf8a">  <td>13/09/28 23:41:46</td>   <td>46410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBanner.Logout()[pri:0, instance:DifferentAdsFormat.TestVideoBanner@e97dd98]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="658c7b">  <td>13/09/28 23:38:44</td>   <td>-135566</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAnimatedBanner.Memcamp()[pri:0, instance:DifferentAdsFormat.TestAnimatedBanner@1dce6303]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="65969a">  <td>13/09/28 23:39:15</td>   <td>-104860</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.Memcamp()[pri:0, instance:DifferentAdsFormat.TestBanner@48a3abff]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e664ac">  <td>13/09/28 23:39:43</td>   <td>-76624</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestInterstial.Memcamp()[pri:0, instance:DifferentAdsFormat.TestInterstial@9db900f]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="eb96fc">  <td>13/09/28 23:40:10</td>   <td>-49725</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLeaderVideo.Memcamp()[pri:0, instance:DifferentAdsFormat.TestLeaderVideo@6e059e40]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f2706b">  <td>13/09/28 23:40:39</td>   <td>-21219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVast.Memcamp()[pri:0, instance:DifferentAdsFormat.TestVast@197191a4]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="62a868">  <td>13/09/28 23:41:05</td>   <td>5052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideo.Memcamp()[pri:0, instance:DifferentAdsFormat.TestVideo@2dc719bd]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7cdf8a">  <td>13/09/28 23:41:34</td>   <td>34606</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBanner.Memcamp()[pri:0, instance:DifferentAdsFormat.TestVideoBanner@e97dd98]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="658c7b">  <td>13/09/28 23:38:37</td>   <td>-142650</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAnimatedBanner.PublisherSearch()[pri:0, instance:DifferentAdsFormat.TestAnimatedBanner@1dce6303]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="65969a">  <td>13/09/28 23:39:08</td>   <td>-111901</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.PublisherSearch()[pri:0, instance:DifferentAdsFormat.TestBanner@48a3abff]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e664ac">  <td>13/09/28 23:39:36</td>   <td>-83671</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestInterstial.PublisherSearch()[pri:0, instance:DifferentAdsFormat.TestInterstial@9db900f]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="eb96fc">  <td>13/09/28 23:40:03</td>   <td>-56834</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLeaderVideo.PublisherSearch()[pri:0, instance:DifferentAdsFormat.TestLeaderVideo@6e059e40]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f2706b">  <td>13/09/28 23:40:32</td>   <td>-28267</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVast.PublisherSearch()[pri:0, instance:DifferentAdsFormat.TestVast@197191a4]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="62a868">  <td>13/09/28 23:40:58</td>   <td>-2025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideo.PublisherSearch()[pri:0, instance:DifferentAdsFormat.TestVideo@2dc719bd]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7cdf8a">  <td>13/09/28 23:41:27</td>   <td>27543</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBanner.PublisherSearch()[pri:0, instance:DifferentAdsFormat.TestVideoBanner@e97dd98]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="658c7b">  <td>13/09/28 23:38:58</td>   <td>-121718</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAnimatedBanner.TagServing()[pri:0, instance:DifferentAdsFormat.TestAnimatedBanner@1dce6303]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="65969a">  <td>13/09/28 23:39:26</td>   <td>-93852</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.TagServing()[pri:0, instance:DifferentAdsFormat.TestBanner@48a3abff]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e664ac">  <td>13/09/28 23:39:53</td>   <td>-66888</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestInterstial.TagServing()[pri:0, instance:DifferentAdsFormat.TestInterstial@9db900f]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="eb96fc">  <td>13/09/28 23:40:21</td>   <td>-38620</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLeaderVideo.TagServing()[pri:0, instance:DifferentAdsFormat.TestLeaderVideo@6e059e40]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f2706b">  <td>13/09/28 23:40:49</td>   <td>-11174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVast.TagServing()[pri:0, instance:DifferentAdsFormat.TestVast@197191a4]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="62a868">  <td>13/09/28 23:41:17</td>   <td>17600</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideo.TagServing()[pri:0, instance:DifferentAdsFormat.TestVideo@2dc719bd]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7cdf8a">  <td>13/09/28 23:41:45</td>   <td>45404</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBanner.TagServing()[pri:0, instance:DifferentAdsFormat.TestVideoBanner@e97dd98]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="658c7b">  <td>13/09/28 23:38:41</td>   <td>-138580</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAnimatedBanner.Targeting()[pri:0, instance:DifferentAdsFormat.TestAnimatedBanner@1dce6303]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="65969a">  <td>13/09/28 23:39:12</td>   <td>-107884</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.Targeting()[pri:0, instance:DifferentAdsFormat.TestBanner@48a3abff]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e664ac">  <td>13/09/28 23:39:40</td>   <td>-79638</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestInterstial.Targeting()[pri:0, instance:DifferentAdsFormat.TestInterstial@9db900f]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="eb96fc">  <td>13/09/28 23:40:07</td>   <td>-52773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLeaderVideo.Targeting()[pri:0, instance:DifferentAdsFormat.TestLeaderVideo@6e059e40]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f2706b">  <td>13/09/28 23:40:36</td>   <td>-24258</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVast.Targeting()[pri:0, instance:DifferentAdsFormat.TestVast@197191a4]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="62a868">  <td>13/09/28 23:41:02</td>   <td>2042</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideo.Targeting()[pri:0, instance:DifferentAdsFormat.TestVideo@2dc719bd]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7cdf8a">  <td>13/09/28 23:41:31</td>   <td>31595</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBanner.Targeting()[pri:0, instance:DifferentAdsFormat.TestVideoBanner@e97dd98]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="658c7b">  <td>13/09/28 23:38:23</td>   <td>-156974</td> <td>&nbsp;</td><td title="&gt;&gt;TestAnimatedBanner.setUp()[pri:0, instance:DifferentAdsFormat.TestAnimatedBanner@1dce6303]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="65969a">  <td>13/09/28 23:39:01</td>   <td>-118483</td> <td>&nbsp;</td><td title="&gt;&gt;TestBanner.setUp()[pri:0, instance:DifferentAdsFormat.TestBanner@48a3abff]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e664ac">  <td>13/09/28 23:39:29</td>   <td>-90709</td> <td>&nbsp;</td><td title="&gt;&gt;TestInterstial.setUp()[pri:0, instance:DifferentAdsFormat.TestInterstial@9db900f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="eb96fc">  <td>13/09/28 23:39:56</td>   <td>-63757</td> <td>&nbsp;</td><td title="&gt;&gt;TestLeaderVideo.setUp()[pri:0, instance:DifferentAdsFormat.TestLeaderVideo@6e059e40]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f2706b">  <td>13/09/28 23:40:24</td>   <td>-35434</td> <td>&nbsp;</td><td title="&gt;&gt;TestVast.setUp()[pri:0, instance:DifferentAdsFormat.TestVast@197191a4]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="62a868">  <td>13/09/28 23:40:51</td>   <td>-9081</td> <td>&nbsp;</td><td title="&gt;&gt;TestVideo.setUp()[pri:0, instance:DifferentAdsFormat.TestVideo@2dc719bd]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7cdf8a">  <td>13/09/28 23:41:20</td>   <td>20698</td> <td>&nbsp;</td><td title="&gt;&gt;TestVideoBanner.setUp()[pri:0, instance:DifferentAdsFormat.TestVideoBanner@e97dd98]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="658c7b">  <td>13/09/28 23:39:00</td>   <td>-119702</td> <td>&nbsp;</td><td title="&lt;&lt;TestAnimatedBanner.tearDown()[pri:0, instance:DifferentAdsFormat.TestAnimatedBanner@1dce6303]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="65969a">  <td>13/09/28 23:39:28</td>   <td>-91828</td> <td>&nbsp;</td><td title="&lt;&lt;TestBanner.tearDown()[pri:0, instance:DifferentAdsFormat.TestBanner@48a3abff]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e664ac">  <td>13/09/28 23:39:55</td>   <td>-64877</td> <td>&nbsp;</td><td title="&lt;&lt;TestInterstial.tearDown()[pri:0, instance:DifferentAdsFormat.TestInterstial@9db900f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="eb96fc">  <td>13/09/28 23:40:23</td>   <td>-36603</td> <td>&nbsp;</td><td title="&lt;&lt;TestLeaderVideo.tearDown()[pri:0, instance:DifferentAdsFormat.TestLeaderVideo@6e059e40]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="62a868">  <td>13/09/28 23:41:19</td>   <td>19606</td> <td>&nbsp;</td><td title="&lt;&lt;TestVideo.tearDown()[pri:0, instance:DifferentAdsFormat.TestVideo@2dc719bd]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7cdf8a">  <td>13/09/28 23:41:47</td>   <td>47422</td> <td>&nbsp;</td><td title="&lt;&lt;TestVideoBanner.tearDown()[pri:0, instance:DifferentAdsFormat.TestVideoBanner@e97dd98]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
