<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuiteLeaderVideo</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ca928f">  <td>13/09/18 17:36:26</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;LeaderMp3.setUp()[pri:0, instance:LeaderVideo.LeaderMp3@fcae6af]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="ca928f">  <td>13/09/18 17:36:33</td>   <td>6559</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderMp3.GmailLogin()[pri:0, instance:LeaderVideo.LeaderMp3@fcae6af]">GmailLogin</td> 
  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="ca928f">  <td>13/09/18 17:36:55</td>   <td>28583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderMp3.PublisherSearch()[pri:0, instance:LeaderVideo.LeaderMp3@fcae6af]">PublisherSearch</td> 
  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="ca928f">  <td>13/09/18 17:36:59</td>   <td>32833</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderMp3.ChannelCreation()[pri:0, instance:LeaderVideo.LeaderMp3@fcae6af]">ChannelCreation</td> 
  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="ca928f">  <td>13/09/18 17:37:18</td>   <td>51394</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderMp3.AdvertiserLogin()[pri:0, instance:LeaderVideo.LeaderMp3@fcae6af]">AdvertiserLogin</td> 
  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="ca928f">  <td>13/09/18 17:37:22</td>   <td>55755</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderMp3.CreateLeaderVideo()[pri:0, instance:LeaderVideo.LeaderMp3@fcae6af]">CreateLeaderVideo</td> 
  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="ca928f">  <td>13/09/18 17:39:54</td>   <td>207556</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderMp3.Targeting()[pri:0, instance:LeaderVideo.LeaderMp3@fcae6af]">Targeting</td> 
  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="ca928f">  <td>13/09/18 17:40:57</td>   <td>270738</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderMp3.Budget()[pri:0, instance:LeaderVideo.LeaderMp3@fcae6af]">Budget</td> 
  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="ca928f">  <td>13/09/18 17:41:06</td>   <td>279564</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderMp3.CampaignCreation()[pri:0, instance:LeaderVideo.LeaderMp3@fcae6af]">CampaignCreation</td> 
  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="ca928f">  <td>13/09/18 17:41:37</td>   <td>310410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderMp3.Memcamp()[pri:0, instance:LeaderVideo.LeaderMp3@fcae6af]">Memcamp</td> 
  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="ca928f">  <td>13/09/18 17:44:16</td>   <td>469382</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderMp3.TagServing()[pri:0, instance:LeaderVideo.LeaderMp3@fcae6af]">TagServing</td> 
  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="ca928f">  <td>13/09/18 17:44:40</td>   <td>494085</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderMp3.Logout()[pri:0, instance:LeaderVideo.LeaderMp3@fcae6af]">Logout</td> 
  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="ca928f">  <td>13/09/18 17:44:45</td>   <td>498339</td> <td>&nbsp;</td><td title="&lt;&lt;LeaderMp3.tearDown()[pri:0, instance:LeaderVideo.LeaderMp3@fcae6af]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="7b8fa2">  <td>13/09/18 17:44:45</td>   <td>498618</td> <td>&nbsp;</td><td title="&gt;&gt;LeaderVideoMV4.setUp()[pri:0, instance:LeaderVideo.LeaderVideoMV4@102c4f59]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="7b8fa2">  <td>13/09/18 17:44:48</td>   <td>501701</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderVideoMV4.GmailLogin()[pri:0, instance:LeaderVideo.LeaderVideoMV4@102c4f59]">GmailLogin</td> 
  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="7b8fa2">  <td>13/09/18 17:45:09</td>   <td>522889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderVideoMV4.PublisherSearch()[pri:0, instance:LeaderVideo.LeaderVideoMV4@102c4f59]">PublisherSearch</td> 
  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="7b8fa2">  <td>13/09/18 17:45:13</td>   <td>527045</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderVideoMV4.ChannelCreation()[pri:0, instance:LeaderVideo.LeaderVideoMV4@102c4f59]">ChannelCreation</td> 
  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="7b8fa2">  <td>13/09/18 17:45:35</td>   <td>548528</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderVideoMV4.AdvertiserLogin()[pri:0, instance:LeaderVideo.LeaderVideoMV4@102c4f59]">AdvertiserLogin</td> 
  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="7b8fa2">  <td>13/09/18 17:45:39</td>   <td>552586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderVideoMV4.CreateLeaderVideo()[pri:0, instance:LeaderVideo.LeaderVideoMV4@102c4f59]">CreateLeaderVideo</td> 
  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="7b8fa2">  <td>13/09/18 17:48:11</td>   <td>704433</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderVideoMV4.Targeting()[pri:0, instance:LeaderVideo.LeaderVideoMV4@102c4f59]">Targeting</td> 
  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="7b8fa2">  <td>13/09/18 17:49:14</td>   <td>767673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderVideoMV4.Budget()[pri:0, instance:LeaderVideo.LeaderVideoMV4@102c4f59]">Budget</td> 
  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="7b8fa2">  <td>13/09/18 17:49:16</td>   <td>770045</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderVideoMV4.CampaignCreation()[pri:0, instance:LeaderVideo.LeaderVideoMV4@102c4f59]">CampaignCreation</td> 
  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="7b8fa2">  <td>13/09/18 17:50:18</td>   <td>831538</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderVideoMV4.Memcamp()[pri:0, instance:LeaderVideo.LeaderVideoMV4@102c4f59]">Memcamp</td> 
  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="7b8fa2">  <td>13/09/18 17:52:57</td>   <td>990915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderVideoMV4.TagServing()[pri:0, instance:LeaderVideo.LeaderVideoMV4@102c4f59]">TagServing</td> 
  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="7b8fa2">  <td>13/09/18 17:53:22</td>   <td>1015690</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderVideoMV4.Logout()[pri:0, instance:LeaderVideo.LeaderVideoMV4@102c4f59]">Logout</td> 
  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="7b8fa2">  <td>13/09/18 17:53:26</td>   <td>1020051</td> <td>&nbsp;</td><td title="&lt;&lt;LeaderVideoMV4.tearDown()[pri:0, instance:LeaderVideo.LeaderVideoMV4@102c4f59]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="b89187">  <td>13/09/18 17:53:27</td>   <td>1020276</td> <td>&nbsp;</td><td title="&gt;&gt;LeaderVideoRv.setUp()[pri:0, instance:LeaderVideo.LeaderVideoRv@20a19ab2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="b89187">  <td>13/09/18 17:53:31</td>   <td>1024306</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderVideoRv.GmailLogin()[pri:0, instance:LeaderVideo.LeaderVideoRv@20a19ab2]">GmailLogin</td> 
  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="b89187">  <td>13/09/18 17:53:52</td>   <td>1045685</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderVideoRv.PublisherSearch()[pri:0, instance:LeaderVideo.LeaderVideoRv@20a19ab2]">PublisherSearch</td> 
  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="b89187">  <td>13/09/18 17:53:56</td>   <td>1050050</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderVideoRv.ChannelCreation()[pri:0, instance:LeaderVideo.LeaderVideoRv@20a19ab2]">ChannelCreation</td> 
  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="b89187">  <td>13/09/18 17:54:15</td>   <td>1068765</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderVideoRv.AdvertiserLogin()[pri:0, instance:LeaderVideo.LeaderVideoRv@20a19ab2]">AdvertiserLogin</td> 
  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="b89187">  <td>13/09/18 17:54:19</td>   <td>1072851</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderVideoRv.CreateLeaderVideo()[pri:0, instance:LeaderVideo.LeaderVideoRv@20a19ab2]">CreateLeaderVideo</td> 
  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="b89187">  <td>13/09/18 17:56:54</td>   <td>1227675</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderVideoRv.Targeting()[pri:0, instance:LeaderVideo.LeaderVideoRv@20a19ab2]">Targeting</td> 
  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="b89187">  <td>13/09/18 17:57:57</td>   <td>1290942</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderVideoRv.Budget()[pri:0, instance:LeaderVideo.LeaderVideoRv@20a19ab2]">Budget</td> 
  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="b89187">  <td>13/09/18 17:58:00</td>   <td>1293456</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderVideoRv.CampaignCreation()[pri:0, instance:LeaderVideo.LeaderVideoRv@20a19ab2]">CampaignCreation</td> 
  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="b89187">  <td>13/09/18 17:59:54</td>   <td>1407263</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderVideoRv.Memcamp()[pri:0, instance:LeaderVideo.LeaderVideoRv@20a19ab2]">Memcamp</td> 
  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="b89187">  <td>13/09/18 18:02:32</td>   <td>1565676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderVideoRv.TagServing()[pri:0, instance:LeaderVideo.LeaderVideoRv@20a19ab2]">TagServing</td> 
  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="b89187">  <td>13/09/18 18:02:58</td>   <td>1591405</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaderVideoRv.Logout()[pri:0, instance:LeaderVideo.LeaderVideoRv@20a19ab2]">Logout</td> 
  <td>main@1162371846</td>   <td></td> </tr>
<tr bgcolor="b89187">  <td>13/09/18 18:03:02</td>   <td>1595802</td> <td>&nbsp;</td><td title="&lt;&lt;LeaderVideoRv.tearDown()[pri:0, instance:LeaderVideo.LeaderVideoRv@20a19ab2]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1162371846</td>   <td></td> </tr>
</table>
