<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9e9065">  <td>13/11/28 11:48:02</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Videoavi.setUp()[pri:0, instance:TestVideo.Videoavi@11e63f4a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9e9065">  <td>13/11/28 11:48:18</td>   <td>15891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.GmailLogin()[pri:0, instance:TestVideo.Videoavi@11e63f4a]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9e9065">  <td>13/11/28 11:48:43</td>   <td>41231</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.PublisherSearch()[pri:0, instance:TestVideo.Videoavi@11e63f4a]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9e9065">  <td>13/11/28 11:48:51</td>   <td>49247</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.ChannelCreation()[pri:0, instance:TestVideo.Videoavi@11e63f4a]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9e9065">  <td>13/11/28 11:49:13</td>   <td>70900</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.Advertiser()[pri:0, instance:TestVideo.Videoavi@11e63f4a]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9e9065">  <td>13/11/28 11:49:22</td>   <td>80356</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.CreateVideo()[pri:0, instance:TestVideo.Videoavi@11e63f4a]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9e9065">  <td>13/11/28 11:52:30</td>   <td>267538</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.Targeting()[pri:0, instance:TestVideo.Videoavi@11e63f4a]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9e9065">  <td>13/11/28 11:57:44</td>   <td>581495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.Buget()[pri:0, instance:TestVideo.Videoavi@11e63f4a]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9e9065">  <td>13/11/28 11:57:45</td>   <td>582497</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.CampaignCreation()[pri:0, instance:TestVideo.Videoavi@11e63f4a]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9e9065">  <td>13/11/28 11:57:46</td>   <td>583500</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.Memcamp()[pri:0, instance:TestVideo.Videoavi@11e63f4a]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9e9065">  <td>13/11/28 11:57:47</td>   <td>584514</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.TagServing()[pri:0, instance:TestVideo.Videoavi@11e63f4a]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9e9065">  <td>13/11/28 11:57:48</td>   <td>585518</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.Logout()[pri:0, instance:TestVideo.Videoavi@11e63f4a]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9e9065">  <td>13/11/28 11:57:49</td>   <td>586537</td> <td>&nbsp;</td><td title="&lt;&lt;Videoavi.tearDown()[pri:0, instance:TestVideo.Videoavi@11e63f4a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
