<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="76e4b8">  <td>13/11/28 14:32:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAnimatedBanner.AdvertiserLogin()[pri:0, instance:DifferentAdsFormat.TestAnimatedBanner@588b28e0]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="76e4b8">  <td>13/11/28 14:34:11</td>   <td>92705</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAnimatedBanner.Budget()[pri:0, instance:DifferentAdsFormat.TestAnimatedBanner@588b28e0]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="76e4b8">  <td>13/11/28 14:34:15</td>   <td>97062</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAnimatedBanner.CampaignCreation()[pri:0, instance:DifferentAdsFormat.TestAnimatedBanner@588b28e0]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="76e4b8">  <td>13/11/28 14:32:29</td>   <td>-9381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAnimatedBanner.ChannelCreation()[pri:0, instance:DifferentAdsFormat.TestAnimatedBanner@588b28e0]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="76e4b8">  <td>13/11/28 14:32:41</td>   <td>3014</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAnimatedBanner.CreateAnimatedBanner()[pri:0, instance:DifferentAdsFormat.TestAnimatedBanner@588b28e0]">CreateAnimatedBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="76e4b8">  <td>13/11/28 14:32:07</td>   <td>-31002</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAnimatedBanner.GmailLogin()[pri:0, instance:DifferentAdsFormat.TestAnimatedBanner@588b28e0]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="76e4b8">  <td>13/11/28 14:35:11</td>   <td>152717</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAnimatedBanner.Logout()[pri:0, instance:DifferentAdsFormat.TestAnimatedBanner@588b28e0]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="76e4b8">  <td>13/11/28 14:34:46</td>   <td>127506</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAnimatedBanner.Memcamp()[pri:0, instance:DifferentAdsFormat.TestAnimatedBanner@588b28e0]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="76e4b8">  <td>13/11/28 14:32:17</td>   <td>-21014</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAnimatedBanner.PublisherSearch()[pri:0, instance:DifferentAdsFormat.TestAnimatedBanner@588b28e0]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="76e4b8">  <td>13/11/28 14:35:10</td>   <td>151716</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAnimatedBanner.TagServing()[pri:0, instance:DifferentAdsFormat.TestAnimatedBanner@588b28e0]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="76e4b8">  <td>13/11/28 14:33:00</td>   <td>21858</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAnimatedBanner.Targeting()[pri:0, instance:DifferentAdsFormat.TestAnimatedBanner@588b28e0]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="76e4b8">  <td>13/11/28 14:32:03</td>   <td>-35691</td> <td>&nbsp;</td><td title="&gt;&gt;TestAnimatedBanner.setUp()[pri:0, instance:DifferentAdsFormat.TestAnimatedBanner@588b28e0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="76e4b8">  <td>13/11/28 14:35:12</td>   <td>153721</td> <td>&nbsp;</td><td title="&lt;&lt;TestAnimatedBanner.tearDown()[pri:0, instance:DifferentAdsFormat.TestAnimatedBanner@588b28e0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
