<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a58ad1">  <td>13/09/19 14:58:06</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;InterstialCube.setUp()[pri:0, instance:TestInterstial.InterstialCube@6645d9b1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a58ad1">  <td>13/09/19 14:58:14</td>   <td>8163</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialCube.GmailLogin()[pri:0, instance:TestInterstial.InterstialCube@6645d9b1]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a58ad1">  <td>13/09/19 14:58:38</td>   <td>31591</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialCube.PublisherSearch()[pri:0, instance:TestInterstial.InterstialCube@6645d9b1]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a58ad1">  <td>13/09/19 14:58:43</td>   <td>37019</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialCube.ChannelCreation()[pri:0, instance:TestInterstial.InterstialCube@6645d9b1]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a58ad1">  <td>13/09/19 14:59:08</td>   <td>61367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialCube.AdvertiserLogin()[pri:0, instance:TestInterstial.InterstialCube@6645d9b1]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a58ad1">  <td>13/09/19 14:59:14</td>   <td>67563</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialCube.CreateInterstial()[pri:0, instance:TestInterstial.InterstialCube@6645d9b1]">CreateInterstial</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a58ad1">  <td>13/09/19 14:59:36</td>   <td>89396</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialCube.Targeting()[pri:0, instance:TestInterstial.InterstialCube@6645d9b1]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a58ad1">  <td>13/09/19 15:00:20</td>   <td>133354</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialCube.Budget()[pri:0, instance:TestInterstial.InterstialCube@6645d9b1]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a58ad1">  <td>13/09/19 15:00:37</td>   <td>150421</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialCube.CampaignCreation()[pri:0, instance:TestInterstial.InterstialCube@6645d9b1]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a58ad1">  <td>13/09/19 15:00:45</td>   <td>158294</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialCube.Memcamp()[pri:0, instance:TestInterstial.InterstialCube@6645d9b1]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a58ad1">  <td>13/09/19 15:03:25</td>   <td>318507</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialCube.TagServing()[pri:0, instance:TestInterstial.InterstialCube@6645d9b1]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a58ad1">  <td>13/09/19 15:04:31</td>   <td>385210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialCube.Logout()[pri:0, instance:TestInterstial.InterstialCube@6645d9b1]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a58ad1">  <td>13/09/19 15:04:38</td>   <td>391772</td> <td>&nbsp;</td><td title="&lt;&lt;InterstialCube.tearDown()[pri:0, instance:TestInterstial.InterstialCube@6645d9b1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ad6ff8">  <td>13/09/19 15:04:38</td>   <td>392065</td> <td>&nbsp;</td><td title="&gt;&gt;InterstialHotspot.setUp()[pri:0, instance:TestInterstial.InterstialHotspot@5fe7bd8d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ad6ff8">  <td>13/09/19 15:04:41</td>   <td>394892</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialHotspot.GmailLogin()[pri:0, instance:TestInterstial.InterstialHotspot@5fe7bd8d]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ad6ff8">  <td>13/09/19 15:05:04</td>   <td>418042</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialHotspot.PublisherSearch()[pri:0, instance:TestInterstial.InterstialHotspot@5fe7bd8d]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ad6ff8">  <td>13/09/19 15:05:10</td>   <td>424102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialHotspot.ChannelCreation()[pri:0, instance:TestInterstial.InterstialHotspot@5fe7bd8d]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ad6ff8">  <td>13/09/19 15:05:34</td>   <td>447920</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialHotspot.AdvertiserLogin()[pri:0, instance:TestInterstial.InterstialHotspot@5fe7bd8d]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ad6ff8">  <td>13/09/19 15:05:38</td>   <td>452074</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialHotspot.CreateInterstial()[pri:0, instance:TestInterstial.InterstialHotspot@5fe7bd8d]">CreateInterstial</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ad6ff8">  <td>13/09/19 15:05:59</td>   <td>472855</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialHotspot.Targeting()[pri:0, instance:TestInterstial.InterstialHotspot@5fe7bd8d]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ad6ff8">  <td>13/09/19 15:06:42</td>   <td>516156</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialHotspot.Budget()[pri:0, instance:TestInterstial.InterstialHotspot@5fe7bd8d]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ad6ff8">  <td>13/09/19 15:06:57</td>   <td>530433</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialHotspot.CampaignCreation()[pri:0, instance:TestInterstial.InterstialHotspot@5fe7bd8d]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ad6ff8">  <td>13/09/19 15:07:06</td>   <td>539333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialHotspot.Memcamp()[pri:0, instance:TestInterstial.InterstialHotspot@5fe7bd8d]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ad6ff8">  <td>13/09/19 15:09:46</td>   <td>699845</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialHotspot.TagServing()[pri:0, instance:TestInterstial.InterstialHotspot@5fe7bd8d]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ad6ff8">  <td>13/09/19 15:10:51</td>   <td>764738</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialHotspot.Logout()[pri:0, instance:TestInterstial.InterstialHotspot@5fe7bd8d]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ad6ff8">  <td>13/09/19 15:10:55</td>   <td>769218</td> <td>&nbsp;</td><td title="&lt;&lt;InterstialHotspot.tearDown()[pri:0, instance:TestInterstial.InterstialHotspot@5fe7bd8d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f08bee">  <td>13/09/19 15:10:56</td>   <td>769464</td> <td>&nbsp;</td><td title="&gt;&gt;InterstialSpinner.setUp()[pri:0, instance:TestInterstial.InterstialSpinner@7bd45656]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f08bee">  <td>13/09/19 15:10:59</td>   <td>772754</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialSpinner.GmailLogin()[pri:0, instance:TestInterstial.InterstialSpinner@7bd45656]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f08bee">  <td>13/09/19 15:11:21</td>   <td>794487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialSpinner.PublisherSearch()[pri:0, instance:TestInterstial.InterstialSpinner@7bd45656]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f08bee">  <td>13/09/19 15:11:25</td>   <td>798865</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialSpinner.ChannelCreation()[pri:0, instance:TestInterstial.InterstialSpinner@7bd45656]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f08bee">  <td>13/09/19 15:11:46</td>   <td>819938</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialSpinner.AdvertiserLogin()[pri:0, instance:TestInterstial.InterstialSpinner@7bd45656]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f08bee">  <td>13/09/19 15:11:50</td>   <td>824029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialSpinner.CreateInterstial()[pri:0, instance:TestInterstial.InterstialSpinner@7bd45656]">CreateInterstial</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f08bee">  <td>13/09/19 15:12:13</td>   <td>846666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialSpinner.Targeting()[pri:0, instance:TestInterstial.InterstialSpinner@7bd45656]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f08bee">  <td>13/09/19 15:12:56</td>   <td>890030</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialSpinner.Budget()[pri:0, instance:TestInterstial.InterstialSpinner@7bd45656]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f08bee">  <td>13/09/19 15:13:16</td>   <td>909815</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialSpinner.CampaignCreation()[pri:0, instance:TestInterstial.InterstialSpinner@7bd45656]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f08bee">  <td>13/09/19 15:13:31</td>   <td>924673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialSpinner.Memcamp()[pri:0, instance:TestInterstial.InterstialSpinner@7bd45656]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f08bee">  <td>13/09/19 15:16:14</td>   <td>1087374</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialSpinner.TagServing()[pri:0, instance:TestInterstial.InterstialSpinner@7bd45656]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f08bee">  <td>13/09/19 15:17:23</td>   <td>1156947</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialSpinner.Logout()[pri:0, instance:TestInterstial.InterstialSpinner@7bd45656]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f08bee">  <td>13/09/19 15:17:28</td>   <td>1161320</td> <td>&nbsp;</td><td title="&lt;&lt;InterstialSpinner.tearDown()[pri:0, instance:TestInterstial.InterstialSpinner@7bd45656]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="8de177">  <td>13/09/19 15:17:28</td>   <td>1161512</td> <td>&nbsp;</td><td title="&gt;&gt;InterstialTransparentTakeover.setUp()[pri:0, instance:TestInterstial.InterstialTransparentTakeover@46b4ece3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="8de177">  <td>13/09/19 15:17:30</td>   <td>1164005</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialTransparentTakeover.GmailLogin()[pri:0, instance:TestInterstial.InterstialTransparentTakeover@46b4ece3]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="8de177">  <td>13/09/19 15:17:52</td>   <td>1186088</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialTransparentTakeover.PublisherSearch()[pri:0, instance:TestInterstial.InterstialTransparentTakeover@46b4ece3]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="8de177">  <td>13/09/19 15:17:59</td>   <td>1192721</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialTransparentTakeover.ChannelCreation()[pri:0, instance:TestInterstial.InterstialTransparentTakeover@46b4ece3]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="8de177">  <td>13/09/19 15:18:23</td>   <td>1216877</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialTransparentTakeover.AdvertiserLogin()[pri:0, instance:TestInterstial.InterstialTransparentTakeover@46b4ece3]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="8de177">  <td>13/09/19 15:18:28</td>   <td>1221491</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialTransparentTakeover.CreateInterstial()[pri:0, instance:TestInterstial.InterstialTransparentTakeover@46b4ece3]">CreateInterstial</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="8de177">  <td>13/09/19 15:18:47</td>   <td>1240988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialTransparentTakeover.Targeting()[pri:0, instance:TestInterstial.InterstialTransparentTakeover@46b4ece3]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="8de177">  <td>13/09/19 15:19:30</td>   <td>1284240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialTransparentTakeover.Budget()[pri:0, instance:TestInterstial.InterstialTransparentTakeover@46b4ece3]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="8de177">  <td>13/09/19 15:19:43</td>   <td>1296808</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialTransparentTakeover.CampaignCreation()[pri:0, instance:TestInterstial.InterstialTransparentTakeover@46b4ece3]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="8de177">  <td>13/09/19 15:19:53</td>   <td>1306355</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialTransparentTakeover.Memcamp()[pri:0, instance:TestInterstial.InterstialTransparentTakeover@46b4ece3]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="8de177">  <td>13/09/19 15:22:34</td>   <td>1467282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialTransparentTakeover.TagServing()[pri:0, instance:TestInterstial.InterstialTransparentTakeover@46b4ece3]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="8de177">  <td>13/09/19 15:23:40</td>   <td>1534000</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialTransparentTakeover.Logout()[pri:0, instance:TestInterstial.InterstialTransparentTakeover@46b4ece3]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="8de177">  <td>13/09/19 15:23:46</td>   <td>1539627</td> <td>&nbsp;</td><td title="&lt;&lt;InterstialTransparentTakeover.tearDown()[pri:0, instance:TestInterstial.InterstialTransparentTakeover@46b4ece3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d0b69b">  <td>13/09/19 15:23:46</td>   <td>1539819</td> <td>&nbsp;</td><td title="&gt;&gt;InterstialWiper.setUp()[pri:0, instance:TestInterstial.InterstialWiper@5ce61897]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d0b69b">  <td>13/09/19 15:23:49</td>   <td>1542894</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialWiper.GmailLogin()[pri:0, instance:TestInterstial.InterstialWiper@5ce61897]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d0b69b">  <td>13/09/19 15:24:14</td>   <td>1567351</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialWiper.PublisherSearch()[pri:0, instance:TestInterstial.InterstialWiper@5ce61897]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d0b69b">  <td>13/09/19 15:24:18</td>   <td>1571850</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialWiper.ChannelCreation()[pri:0, instance:TestInterstial.InterstialWiper@5ce61897]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d0b69b">  <td>13/09/19 15:24:38</td>   <td>1591998</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialWiper.AdvertiserLogin()[pri:0, instance:TestInterstial.InterstialWiper@5ce61897]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d0b69b">  <td>13/09/19 15:24:43</td>   <td>1596394</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialWiper.CreateInterstial()[pri:0, instance:TestInterstial.InterstialWiper@5ce61897]">CreateInterstial</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d0b69b">  <td>13/09/19 15:25:03</td>   <td>1617236</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialWiper.Targeting()[pri:0, instance:TestInterstial.InterstialWiper@5ce61897]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d0b69b">  <td>13/09/19 15:25:47</td>   <td>1660550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialWiper.Budget()[pri:0, instance:TestInterstial.InterstialWiper@5ce61897]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d0b69b">  <td>13/09/19 15:25:59</td>   <td>1672908</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialWiper.CampaignCreation()[pri:0, instance:TestInterstial.InterstialWiper@5ce61897]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d0b69b">  <td>13/09/19 15:26:15</td>   <td>1688952</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialWiper.Memcamp()[pri:0, instance:TestInterstial.InterstialWiper@5ce61897]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d0b69b">  <td>13/09/19 15:28:55</td>   <td>1848752</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialWiper.TagServing()[pri:0, instance:TestInterstial.InterstialWiper@5ce61897]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d0b69b">  <td>13/09/19 15:30:02</td>   <td>1915300</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialWiper.Logout()[pri:0, instance:TestInterstial.InterstialWiper@5ce61897]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d0b69b">  <td>13/09/19 15:30:06</td>   <td>1919694</td> <td>&nbsp;</td><td title="&lt;&lt;InterstialWiper.tearDown()[pri:0, instance:TestInterstial.InterstialWiper@5ce61897]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/19 15:30:06</td>   <td>1919903</td> <td>&nbsp;</td><td title="&gt;&gt;IntertstialH5.setUp()[pri:0, instance:TestInterstial.IntertstialH5@6ed2bd5d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/19 15:30:09</td>   <td>1923097</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IntertstialH5.GmailLogin()[pri:0, instance:TestInterstial.IntertstialH5@6ed2bd5d]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/19 15:30:32</td>   <td>1945770</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IntertstialH5.PublisherSearch()[pri:0, instance:TestInterstial.IntertstialH5@6ed2bd5d]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/19 15:30:36</td>   <td>1950095</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IntertstialH5.ChannelCreation()[pri:0, instance:TestInterstial.IntertstialH5@6ed2bd5d]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/19 15:31:03</td>   <td>1976441</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IntertstialH5.AdvertiserLogin()[pri:0, instance:TestInterstial.IntertstialH5@6ed2bd5d]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/19 15:31:08</td>   <td>1981730</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IntertstialH5.CreateInterstial()[pri:0, instance:TestInterstial.IntertstialH5@6ed2bd5d]">CreateInterstial</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/19 15:31:28</td>   <td>2001505</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IntertstialH5.Targeting()[pri:0, instance:TestInterstial.IntertstialH5@6ed2bd5d]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/19 15:32:11</td>   <td>2044990</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IntertstialH5.Budget()[pri:0, instance:TestInterstial.IntertstialH5@6ed2bd5d]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/19 15:32:26</td>   <td>2059894</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IntertstialH5.CampaignCreation()[pri:0, instance:TestInterstial.IntertstialH5@6ed2bd5d]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/19 15:32:36</td>   <td>2070072</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IntertstialH5.Memcamp()[pri:0, instance:TestInterstial.IntertstialH5@6ed2bd5d]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/19 15:35:17</td>   <td>2231129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IntertstialH5.TagServing()[pri:0, instance:TestInterstial.IntertstialH5@6ed2bd5d]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/19 15:36:23</td>   <td>2296622</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IntertstialH5.Logout()[pri:0, instance:TestInterstial.IntertstialH5@6ed2bd5d]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/19 15:36:27</td>   <td>2301103</td> <td>&nbsp;</td><td title="&lt;&lt;IntertstialH5.tearDown()[pri:0, instance:TestInterstial.IntertstialH5@6ed2bd5d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 15:36:28</td>   <td>2301307</td> <td>&nbsp;</td><td title="&gt;&gt;InterstialT5.setUp()[pri:0, instance:TestInterstial.InterstialT5@4b2d0c2e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 15:36:30</td>   <td>2303846</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialT5.GmailLogin()[pri:0, instance:TestInterstial.InterstialT5@4b2d0c2e]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 15:36:53</td>   <td>2326555</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialT5.PublisherSearch()[pri:0, instance:TestInterstial.InterstialT5@4b2d0c2e]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 15:36:58</td>   <td>2332097</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialT5.ChannelCreation()[pri:0, instance:TestInterstial.InterstialT5@4b2d0c2e]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 15:37:22</td>   <td>2356139</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialT5.AdvertiserLogin()[pri:0, instance:TestInterstial.InterstialT5@4b2d0c2e]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 15:37:27</td>   <td>2360330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialT5.CreateInterstial()[pri:0, instance:TestInterstial.InterstialT5@4b2d0c2e]">CreateInterstial</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 15:37:46</td>   <td>2379922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialT5.Targeting()[pri:0, instance:TestInterstial.InterstialT5@4b2d0c2e]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 15:38:29</td>   <td>2423173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialT5.Budget()[pri:0, instance:TestInterstial.InterstialT5@4b2d0c2e]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 15:38:48</td>   <td>2441300</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialT5.CampaignCreation()[pri:0, instance:TestInterstial.InterstialT5@4b2d0c2e]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 15:38:56</td>   <td>2449605</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialT5.Memcamp()[pri:0, instance:TestInterstial.InterstialT5@4b2d0c2e]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 15:41:36</td>   <td>2609550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialT5.TagServing()[pri:0, instance:TestInterstial.InterstialT5@4b2d0c2e]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 15:42:45</td>   <td>2678901</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialT5.Logout()[pri:0, instance:TestInterstial.InterstialT5@4b2d0c2e]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 15:42:49</td>   <td>2683248</td> <td>&nbsp;</td><td title="&lt;&lt;InterstialT5.tearDown()[pri:0, instance:TestInterstial.InterstialT5@4b2d0c2e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="948bd9">  <td>13/09/19 15:42:50</td>   <td>2683403</td> <td>&nbsp;</td><td title="&gt;&gt;InterstialGamingTakeOver.setUp()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@15c955b7]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="948bd9">  <td>13/09/19 15:42:52</td>   <td>2685986</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialGamingTakeOver.GmailLogin()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@15c955b7]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="948bd9">  <td>13/09/19 15:43:18</td>   <td>2711464</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialGamingTakeOver.PublisherSearch()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@15c955b7]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="948bd9">  <td>13/09/19 15:43:21</td>   <td>2715113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialGamingTakeOver.ChannelCreation()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@15c955b7]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="948bd9">  <td>13/09/19 15:43:41</td>   <td>2735002</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialGamingTakeOver.AdvertiserLogin()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@15c955b7]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="948bd9">  <td>13/09/19 15:43:45</td>   <td>2739111</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialGamingTakeOver.CreateInterstial()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@15c955b7]">CreateInterstial</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="948bd9">  <td>13/09/19 15:44:07</td>   <td>2760659</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialGamingTakeOver.Targeting()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@15c955b7]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="948bd9">  <td>13/09/19 15:44:50</td>   <td>2803857</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialGamingTakeOver.Budget()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@15c955b7]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="948bd9">  <td>13/09/19 15:45:03</td>   <td>2816747</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialGamingTakeOver.CampaignCreation()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@15c955b7]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="948bd9">  <td>13/09/19 15:45:12</td>   <td>2825374</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialGamingTakeOver.Memcamp()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@15c955b7]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="948bd9">  <td>13/09/19 15:47:52</td>   <td>2985724</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialGamingTakeOver.TagServing()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@15c955b7]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="948bd9">  <td>13/09/19 15:49:07</td>   <td>3061186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialGamingTakeOver.Logout()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@15c955b7]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="948bd9">  <td>13/09/19 15:49:12</td>   <td>3065501</td> <td>&nbsp;</td><td title="&lt;&lt;InterstialGamingTakeOver.tearDown()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@15c955b7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
