<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ce8864">  <td>13/11/26 18:08:02</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;VideoUsa.setUp()[pri:0, instance:Video.VideoUsa@36726b5b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/11/26 18:08:07</td>   <td>4253</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUsa.GmailLogin()[pri:0, instance:Video.VideoUsa@36726b5b]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/11/26 18:08:31</td>   <td>28251</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUsa.PublisherSearch()[pri:0, instance:Video.VideoUsa@36726b5b]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/11/26 18:08:36</td>   <td>33129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUsa.ChannelCreation()[pri:0, instance:Video.VideoUsa@36726b5b]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/11/26 18:08:45</td>   <td>42762</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUsa.Advertiser()[pri:0, instance:Video.VideoUsa@36726b5b]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/11/26 18:08:53</td>   <td>50831</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUsa.CreateVideo()[pri:0, instance:Video.VideoUsa@36726b5b]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/11/26 18:11:56</td>   <td>233822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUsa.Targeting()[pri:0, instance:Video.VideoUsa@36726b5b]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/11/26 18:12:30</td>   <td>267894</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUsa.Buget()[pri:0, instance:Video.VideoUsa@36726b5b]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/11/26 18:12:34</td>   <td>271567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUsa.CampaignCreation()[pri:0, instance:Video.VideoUsa@36726b5b]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/11/26 18:38:53</td>   <td>1850462</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUsa.TagServing()[pri:0, instance:Video.VideoUsa@36726b5b]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/11/26 18:38:54</td>   <td>1851477</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUsa.Logout()[pri:0, instance:Video.VideoUsa@36726b5b]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/11/26 18:38:55</td>   <td>1852501</td> <td>&nbsp;</td><td title="&lt;&lt;VideoUsa.tearDown()[pri:0, instance:Video.VideoUsa@36726b5b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
