<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9a8097">  <td>13/11/06 17:41:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanner320x48.AdvertiserLogin()[pri:0, instance:TestVariations.AnimatedBanner320x48@9f57de9]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9a8097">  <td>13/11/06 17:42:58</td>   <td>58832</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanner320x48.Budget()[pri:0, instance:TestVariations.AnimatedBanner320x48@9f57de9]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9a8097">  <td>13/11/06 17:43:07</td>   <td>68205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanner320x48.CampaignCreation()[pri:0, instance:TestVariations.AnimatedBanner320x48@9f57de9]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9a8097">  <td>13/11/06 17:41:50</td>   <td>-9067</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanner320x48.ChannelCreation()[pri:0, instance:TestVariations.AnimatedBanner320x48@9f57de9]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9a8097">  <td>13/11/06 17:42:02</td>   <td>3377</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanner320x48.CreateAnimatedBanner()[pri:0, instance:TestVariations.AnimatedBanner320x48@9f57de9]">CreateAnimatedBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9a8097">  <td>13/11/06 17:41:28</td>   <td>-30636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanner320x48.GmailLogin()[pri:0, instance:TestVariations.AnimatedBanner320x48@9f57de9]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9a8097">  <td>13/11/06 17:46:02</td>   <td>243274</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanner320x48.Logout()[pri:0, instance:TestVariations.AnimatedBanner320x48@9f57de9]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9a8097">  <td>13/11/06 17:43:11</td>   <td>72230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanner320x48.Memcamp()[pri:0, instance:TestVariations.AnimatedBanner320x48@9f57de9]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9a8097">  <td>13/11/06 17:41:46</td>   <td>-12838</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanner320x48.PublisherSearch()[pri:0, instance:TestVariations.AnimatedBanner320x48@9f57de9]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9a8097">  <td>13/11/06 17:45:49</td>   <td>229666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanner320x48.TagServing()[pri:0, instance:TestVariations.AnimatedBanner320x48@9f57de9]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9a8097">  <td>13/11/06 17:42:24</td>   <td>25371</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanner320x48.Targeting()[pri:0, instance:TestVariations.AnimatedBanner320x48@9f57de9]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9a8097">  <td>13/11/06 17:41:20</td>   <td>-39345</td> <td>&nbsp;</td><td title="&gt;&gt;AnimatedBanner320x48.setUp()[pri:0, instance:TestVariations.AnimatedBanner320x48@9f57de9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="9a8097">  <td>13/11/06 17:46:06</td>   <td>246844</td> <td>&nbsp;</td><td title="&lt;&lt;AnimatedBanner320x48.tearDown()[pri:0, instance:TestVariations.AnimatedBanner320x48@9f57de9]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
