<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="868c96">  <td>13/09/19 11:20:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.Advertiser()[pri:0, instance:TestVideo.Videoavi@435879e8]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 11:29:34</td>   <td>551184</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoflv.Advertiser()[pri:0, instance:TestVideo.Videoflv@1cf6e5e9]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="c36fb6">  <td>13/09/19 11:39:06</td>   <td>1123245</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videompeg.Advertiser()[pri:0, instance:TestVideo.Videompeg@6e2404a0]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a37f89">  <td>13/09/19 11:49:00</td>   <td>1716519</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoMp4.Advertiser()[pri:0, instance:TestVideo.VideoMp4@39cb7ee5]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="868c96">  <td>13/09/19 11:24:29</td>   <td>245656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.Buget()[pri:0, instance:TestVideo.Videoavi@435879e8]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 11:33:40</td>   <td>797161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoflv.Buget()[pri:0, instance:TestVideo.Videoflv@1cf6e5e9]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="c36fb6">  <td>13/09/19 11:43:15</td>   <td>1371949</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videompeg.Buget()[pri:0, instance:TestVideo.Videompeg@6e2404a0]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a37f89">  <td>13/09/19 11:53:03</td>   <td>1960410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoMp4.Buget()[pri:0, instance:TestVideo.VideoMp4@39cb7ee5]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="868c96">  <td>13/09/19 11:24:42</td>   <td>258679</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.CampaignCreation()[pri:0, instance:TestVideo.Videoavi@435879e8]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 11:33:58</td>   <td>815042</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoflv.CampaignCreation()[pri:0, instance:TestVideo.Videoflv@1cf6e5e9]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="c36fb6">  <td>13/09/19 11:43:19</td>   <td>1375496</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videompeg.CampaignCreation()[pri:0, instance:TestVideo.Videompeg@6e2404a0]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a37f89">  <td>13/09/19 11:53:07</td>   <td>1963595</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoMp4.CampaignCreation()[pri:0, instance:TestVideo.VideoMp4@39cb7ee5]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="868c96">  <td>13/09/19 11:19:57</td>   <td>-26150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.ChannelCreation()[pri:0, instance:TestVideo.Videoavi@435879e8]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 11:29:08</td>   <td>525121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoflv.ChannelCreation()[pri:0, instance:TestVideo.Videoflv@1cf6e5e9]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="c36fb6">  <td>13/09/19 11:38:38</td>   <td>1094546</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videompeg.ChannelCreation()[pri:0, instance:TestVideo.Videompeg@6e2404a0]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a37f89">  <td>13/09/19 11:48:33</td>   <td>1689764</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoMp4.ChannelCreation()[pri:0, instance:TestVideo.VideoMp4@39cb7ee5]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="868c96">  <td>13/09/19 11:20:39</td>   <td>16307</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.CreateVideo()[pri:0, instance:TestVideo.Videoavi@435879e8]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 11:29:51</td>   <td>567949</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoflv.CreateVideo()[pri:0, instance:TestVideo.Videoflv@1cf6e5e9]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="c36fb6">  <td>13/09/19 11:39:23</td>   <td>1139715</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videompeg.CreateVideo()[pri:0, instance:TestVideo.Videompeg@6e2404a0]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a37f89">  <td>13/09/19 11:49:16</td>   <td>1732872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoMp4.CreateVideo()[pri:0, instance:TestVideo.VideoMp4@39cb7ee5]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="868c96">  <td>13/09/19 11:19:14</td>   <td>-68710</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.GmailLogin()[pri:0, instance:TestVideo.Videoavi@435879e8]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 11:28:26</td>   <td>482728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoflv.GmailLogin()[pri:0, instance:TestVideo.Videoflv@1cf6e5e9]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="c36fb6">  <td>13/09/19 11:37:57</td>   <td>1053760</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videompeg.GmailLogin()[pri:0, instance:TestVideo.Videompeg@6e2404a0]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a37f89">  <td>13/09/19 11:47:44</td>   <td>1640951</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoMp4.GmailLogin()[pri:0, instance:TestVideo.VideoMp4@39cb7ee5]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="868c96">  <td>13/09/19 11:28:13</td>   <td>469876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.Logout()[pri:0, instance:TestVideo.Videoavi@435879e8]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 11:37:42</td>   <td>1039150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoflv.Logout()[pri:0, instance:TestVideo.Videoflv@1cf6e5e9]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="c36fb6">  <td>13/09/19 11:47:31</td>   <td>1628047</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videompeg.Logout()[pri:0, instance:TestVideo.Videompeg@6e2404a0]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a37f89">  <td>13/09/19 11:57:54</td>   <td>2251217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoMp4.Logout()[pri:0, instance:TestVideo.VideoMp4@39cb7ee5]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="868c96">  <td>13/09/19 11:25:12</td>   <td>289180</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.Memcamp()[pri:0, instance:TestVideo.Videoavi@435879e8]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 11:34:39</td>   <td>855680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoflv.Memcamp()[pri:0, instance:TestVideo.Videoflv@1cf6e5e9]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="c36fb6">  <td>13/09/19 11:44:26</td>   <td>1442616</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videompeg.Memcamp()[pri:0, instance:TestVideo.Videompeg@6e2404a0]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a37f89">  <td>13/09/19 11:54:47</td>   <td>2063510</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoMp4.Memcamp()[pri:0, instance:TestVideo.VideoMp4@39cb7ee5]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="868c96">  <td>13/09/19 11:19:48</td>   <td>-34714</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.PublisherSearch()[pri:0, instance:TestVideo.Videoavi@435879e8]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 11:29:00</td>   <td>516426</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoflv.PublisherSearch()[pri:0, instance:TestVideo.Videoflv@1cf6e5e9]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="c36fb6">  <td>13/09/19 11:38:29</td>   <td>1085693</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videompeg.PublisherSearch()[pri:0, instance:TestVideo.Videompeg@6e2404a0]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a37f89">  <td>13/09/19 11:48:24</td>   <td>1680976</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoMp4.PublisherSearch()[pri:0, instance:TestVideo.VideoMp4@39cb7ee5]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="868c96">  <td>13/09/19 11:27:54</td>   <td>450422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.TagServing()[pri:0, instance:TestVideo.Videoavi@435879e8]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 11:37:19</td>   <td>1015837</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoflv.TagServing()[pri:0, instance:TestVideo.Videoflv@1cf6e5e9]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="c36fb6">  <td>13/09/19 11:47:08</td>   <td>1604874</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videompeg.TagServing()[pri:0, instance:TestVideo.Videompeg@6e2404a0]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a37f89">  <td>13/09/19 11:57:29</td>   <td>2225622</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoMp4.TagServing()[pri:0, instance:TestVideo.VideoMp4@39cb7ee5]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="868c96">  <td>13/09/19 11:23:44</td>   <td>200528</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.Targeting()[pri:0, instance:TestVideo.Videoavi@435879e8]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 11:32:55</td>   <td>751725</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoflv.Targeting()[pri:0, instance:TestVideo.Videoflv@1cf6e5e9]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="c36fb6">  <td>13/09/19 11:42:29</td>   <td>1326281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videompeg.Targeting()[pri:0, instance:TestVideo.Videompeg@6e2404a0]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a37f89">  <td>13/09/19 11:52:18</td>   <td>1915127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoMp4.Targeting()[pri:0, instance:TestVideo.VideoMp4@39cb7ee5]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="868c96">  <td>13/09/19 11:19:01</td>   <td>-82222</td> <td>&nbsp;</td><td title="&gt;&gt;Videoavi.setUp()[pri:0, instance:TestVideo.Videoavi@435879e8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 11:28:22</td>   <td>479045</td> <td>&nbsp;</td><td title="&gt;&gt;Videoflv.setUp()[pri:0, instance:TestVideo.Videoflv@1cf6e5e9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="c36fb6">  <td>13/09/19 11:37:53</td>   <td>1049487</td> <td>&nbsp;</td><td title="&gt;&gt;Videompeg.setUp()[pri:0, instance:TestVideo.Videompeg@6e2404a0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a37f89">  <td>13/09/19 11:47:40</td>   <td>1636836</td> <td>&nbsp;</td><td title="&gt;&gt;VideoMp4.setUp()[pri:0, instance:TestVideo.VideoMp4@39cb7ee5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="868c96">  <td>13/09/19 11:28:22</td>   <td>478533</td> <td>&nbsp;</td><td title="&lt;&lt;Videoavi.tearDown()[pri:0, instance:TestVideo.Videoavi@435879e8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 11:37:52</td>   <td>1049261</td> <td>&nbsp;</td><td title="&lt;&lt;Videoflv.tearDown()[pri:0, instance:TestVideo.Videoflv@1cf6e5e9]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="c36fb6">  <td>13/09/19 11:47:40</td>   <td>1636565</td> <td>&nbsp;</td><td title="&lt;&lt;Videompeg.tearDown()[pri:0, instance:TestVideo.Videompeg@6e2404a0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a37f89">  <td>13/09/19 11:58:03</td>   <td>2260259</td> <td>&nbsp;</td><td title="&lt;&lt;VideoMp4.tearDown()[pri:0, instance:TestVideo.VideoMp4@39cb7ee5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
