<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e9a1a0">  <td>13/11/26 16:17:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MaximumLatitudeandLongitude.AdvertiserLogin()[pri:0, instance:AnimatedBanner.MaximumLatitudeandLongitude@4645801a]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e9a1a0">  <td>13/11/26 16:18:24</td>   <td>60101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MaximumLatitudeandLongitude.Budget()[pri:0, instance:AnimatedBanner.MaximumLatitudeandLongitude@4645801a]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e9a1a0">  <td>13/11/26 16:18:31</td>   <td>66682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MaximumLatitudeandLongitude.CampaignCreation()[pri:0, instance:AnimatedBanner.MaximumLatitudeandLongitude@4645801a]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e9a1a0">  <td>13/11/26 16:17:15</td>   <td>-9507</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MaximumLatitudeandLongitude.ChannelCreation()[pri:0, instance:AnimatedBanner.MaximumLatitudeandLongitude@4645801a]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e9a1a0">  <td>13/11/26 16:17:27</td>   <td>2893</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MaximumLatitudeandLongitude.CreateAnimatedBanner()[pri:0, instance:AnimatedBanner.MaximumLatitudeandLongitude@4645801a]">CreateAnimatedBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e9a1a0">  <td>13/11/26 16:16:53</td>   <td>-31679</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MaximumLatitudeandLongitude.GmailLogin()[pri:0, instance:AnimatedBanner.MaximumLatitudeandLongitude@4645801a]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e9a1a0">  <td>13/11/26 16:22:42</td>   <td>317613</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MaximumLatitudeandLongitude.Logout()[pri:0, instance:AnimatedBanner.MaximumLatitudeandLongitude@4645801a]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e9a1a0">  <td>13/11/26 16:18:35</td>   <td>70612</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MaximumLatitudeandLongitude.Memcamp()[pri:0, instance:AnimatedBanner.MaximumLatitudeandLongitude@4645801a]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e9a1a0">  <td>13/11/26 16:17:10</td>   <td>-13878</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MaximumLatitudeandLongitude.PublisherSearch()[pri:0, instance:AnimatedBanner.MaximumLatitudeandLongitude@4645801a]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e9a1a0">  <td>13/11/26 16:22:23</td>   <td>299011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MaximumLatitudeandLongitude.TagServing()[pri:0, instance:AnimatedBanner.MaximumLatitudeandLongitude@4645801a]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e9a1a0">  <td>13/11/26 16:17:50</td>   <td>25404</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MaximumLatitudeandLongitude.Targeting()[pri:0, instance:AnimatedBanner.MaximumLatitudeandLongitude@4645801a]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e9a1a0">  <td>13/11/26 16:16:44</td>   <td>-40179</td> <td>&nbsp;</td><td title="&gt;&gt;MaximumLatitudeandLongitude.setUp()[pri:0, instance:AnimatedBanner.MaximumLatitudeandLongitude@4645801a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e9a1a0">  <td>13/11/26 16:22:45</td>   <td>320954</td> <td>&nbsp;</td><td title="&lt;&lt;MaximumLatitudeandLongitude.tearDown()[pri:0, instance:AnimatedBanner.MaximumLatitudeandLongitude@4645801a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
