<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="63f0da">  <td>13/09/11 15:42:58</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Videoavi.setUp()[pri:0, instance:TestVideo.Videoavi@73d727eb]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="63f0da">  <td>13/09/11 15:43:06</td>   <td>8153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.GmailLogin()[pri:0, instance:TestVideo.Videoavi@73d727eb]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="63f0da">  <td>13/09/11 15:43:37</td>   <td>39236</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.PublisherSearch()[pri:0, instance:TestVideo.Videoavi@73d727eb]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="63f0da">  <td>13/09/11 15:43:46</td>   <td>47921</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.ChannelCreation()[pri:0, instance:TestVideo.Videoavi@73d727eb]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="63f0da">  <td>13/09/11 15:44:13</td>   <td>75352</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.Advertiser()[pri:0, instance:TestVideo.Videoavi@73d727eb]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="63f0da">  <td>13/09/11 15:44:29</td>   <td>91634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.CreateVideo()[pri:0, instance:TestVideo.Videoavi@73d727eb]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="63f0da">  <td>13/09/11 15:47:32</td>   <td>274546</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.Targeting()[pri:0, instance:TestVideo.Videoavi@73d727eb]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="63f0da">  <td>13/09/11 15:48:17</td>   <td>319763</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.Buget()[pri:0, instance:TestVideo.Videoavi@73d727eb]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="63f0da">  <td>13/09/11 15:48:32</td>   <td>334813</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.CampaignCreation()[pri:0, instance:TestVideo.Videoavi@73d727eb]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="63f0da">  <td>13/09/11 15:49:00</td>   <td>362716</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.Memcamp()[pri:0, instance:TestVideo.Videoavi@73d727eb]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="63f0da">  <td>13/09/11 15:51:41</td>   <td>523521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.TagServing()[pri:0, instance:TestVideo.Videoavi@73d727eb]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="63f0da">  <td>13/09/11 15:52:02</td>   <td>544426</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.Logout()[pri:0, instance:TestVideo.Videoavi@73d727eb]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="63f0da">  <td>13/09/11 15:52:11</td>   <td>553118</td> <td>&nbsp;</td><td title="&lt;&lt;Videoavi.tearDown()[pri:0, instance:TestVideo.Videoavi@73d727eb]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f37781">  <td>13/09/11 15:52:11</td>   <td>553344</td> <td>&nbsp;</td><td title="&gt;&gt;Videoflv.setUp()[pri:0, instance:TestVideo.Videoflv@674da52b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f37781">  <td>13/09/11 15:52:14</td>   <td>556819</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoflv.GmailLogin()[pri:0, instance:TestVideo.Videoflv@674da52b]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f37781">  <td>13/09/11 15:52:46</td>   <td>588515</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoflv.PublisherSearch()[pri:0, instance:TestVideo.Videoflv@674da52b]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f37781">  <td>13/09/11 15:52:55</td>   <td>597110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoflv.ChannelCreation()[pri:0, instance:TestVideo.Videoflv@674da52b]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f37781">  <td>13/09/11 15:53:23</td>   <td>625653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoflv.Advertiser()[pri:0, instance:TestVideo.Videoflv@674da52b]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f37781">  <td>13/09/11 15:53:39</td>   <td>641703</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoflv.CreateVideo()[pri:0, instance:TestVideo.Videoflv@674da52b]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f37781">  <td>13/09/11 15:56:42</td>   <td>824377</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoflv.Targeting()[pri:0, instance:TestVideo.Videoflv@674da52b]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f37781">  <td>13/09/11 15:57:29</td>   <td>871051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoflv.Buget()[pri:0, instance:TestVideo.Videoflv@674da52b]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f37781">  <td>13/09/11 15:57:47</td>   <td>889134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoflv.CampaignCreation()[pri:0, instance:TestVideo.Videoflv@674da52b]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f37781">  <td>13/09/11 15:58:21</td>   <td>922875</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoflv.Memcamp()[pri:0, instance:TestVideo.Videoflv@674da52b]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f37781">  <td>13/09/11 16:01:02</td>   <td>1084694</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoflv.TagServing()[pri:0, instance:TestVideo.Videoflv@674da52b]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f37781">  <td>13/09/11 16:01:22</td>   <td>1104363</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoflv.Logout()[pri:0, instance:TestVideo.Videoflv@674da52b]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f37781">  <td>13/09/11 16:01:31</td>   <td>1113306</td> <td>&nbsp;</td><td title="&lt;&lt;Videoflv.tearDown()[pri:0, instance:TestVideo.Videoflv@674da52b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d4b6b6">  <td>13/09/11 16:01:31</td>   <td>1113521</td> <td>&nbsp;</td><td title="&gt;&gt;Videompeg.setUp()[pri:0, instance:TestVideo.Videompeg@3170679d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d4b6b6">  <td>13/09/11 16:01:34</td>   <td>1116263</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videompeg.GmailLogin()[pri:0, instance:TestVideo.Videompeg@3170679d]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d4b6b6">  <td>13/09/11 16:02:06</td>   <td>1148507</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videompeg.PublisherSearch()[pri:0, instance:TestVideo.Videompeg@3170679d]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d4b6b6">  <td>13/09/11 16:02:15</td>   <td>1157210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videompeg.ChannelCreation()[pri:0, instance:TestVideo.Videompeg@3170679d]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d4b6b6">  <td>13/09/11 16:02:45</td>   <td>1187424</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videompeg.Advertiser()[pri:0, instance:TestVideo.Videompeg@3170679d]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d4b6b6">  <td>13/09/11 16:03:02</td>   <td>1203975</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videompeg.CreateVideo()[pri:0, instance:TestVideo.Videompeg@3170679d]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d4b6b6">  <td>13/09/11 16:06:05</td>   <td>1387516</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videompeg.Targeting()[pri:0, instance:TestVideo.Videompeg@3170679d]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d4b6b6">  <td>13/09/11 16:06:50</td>   <td>1432762</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videompeg.Buget()[pri:0, instance:TestVideo.Videompeg@3170679d]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d4b6b6">  <td>13/09/11 16:07:03</td>   <td>1445779</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videompeg.CampaignCreation()[pri:0, instance:TestVideo.Videompeg@3170679d]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d4b6b6">  <td>13/09/11 16:07:32</td>   <td>1474331</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videompeg.Memcamp()[pri:0, instance:TestVideo.Videompeg@3170679d]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d4b6b6">  <td>13/09/11 16:10:15</td>   <td>1637831</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videompeg.TagServing()[pri:0, instance:TestVideo.Videompeg@3170679d]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d4b6b6">  <td>13/09/11 16:10:34</td>   <td>1656742</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videompeg.Logout()[pri:0, instance:TestVideo.Videompeg@3170679d]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d4b6b6">  <td>13/09/11 16:10:43</td>   <td>1665377</td> <td>&nbsp;</td><td title="&lt;&lt;Videompeg.tearDown()[pri:0, instance:TestVideo.Videompeg@3170679d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b4ece3">  <td>13/09/11 16:10:43</td>   <td>1665689</td> <td>&nbsp;</td><td title="&gt;&gt;VideoMp4.setUp()[pri:0, instance:TestVideo.VideoMp4@102c4f59]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b4ece3">  <td>13/09/11 16:10:46</td>   <td>1668766</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoMp4.GmailLogin()[pri:0, instance:TestVideo.VideoMp4@102c4f59]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b4ece3">  <td>13/09/11 16:11:21</td>   <td>1702977</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoMp4.PublisherSearch()[pri:0, instance:TestVideo.VideoMp4@102c4f59]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b4ece3">  <td>13/09/11 16:11:29</td>   <td>1711604</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoMp4.ChannelCreation()[pri:0, instance:TestVideo.VideoMp4@102c4f59]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b4ece3">  <td>13/09/11 16:11:55</td>   <td>1737215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoMp4.Advertiser()[pri:0, instance:TestVideo.VideoMp4@102c4f59]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b4ece3">  <td>13/09/11 16:12:15</td>   <td>1757074</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoMp4.CreateVideo()[pri:0, instance:TestVideo.VideoMp4@102c4f59]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b4ece3">  <td>13/09/11 16:15:18</td>   <td>1940077</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoMp4.Targeting()[pri:0, instance:TestVideo.VideoMp4@102c4f59]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b4ece3">  <td>13/09/11 16:16:03</td>   <td>1985277</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoMp4.Buget()[pri:0, instance:TestVideo.VideoMp4@102c4f59]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b4ece3">  <td>13/09/11 16:16:16</td>   <td>1998503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoMp4.CampaignCreation()[pri:0, instance:TestVideo.VideoMp4@102c4f59]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b4ece3">  <td>13/09/11 16:17:00</td>   <td>2042791</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoMp4.Memcamp()[pri:0, instance:TestVideo.VideoMp4@102c4f59]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b4ece3">  <td>13/09/11 16:19:44</td>   <td>2206428</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoMp4.TagServing()[pri:0, instance:TestVideo.VideoMp4@102c4f59]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b4ece3">  <td>13/09/11 16:20:04</td>   <td>2225872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoMp4.Logout()[pri:0, instance:TestVideo.VideoMp4@102c4f59]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b4ece3">  <td>13/09/11 16:20:12</td>   <td>2234508</td> <td>&nbsp;</td><td title="&lt;&lt;VideoMp4.tearDown()[pri:0, instance:TestVideo.VideoMp4@102c4f59]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
