<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="63f0da">  <td>13/09/11 15:44:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.Advertiser()[pri:0, instance:TestVideo.Videoavi@73d727eb]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f37781">  <td>13/09/11 15:53:23</td>   <td>550301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoflv.Advertiser()[pri:0, instance:TestVideo.Videoflv@674da52b]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d4b6b6">  <td>13/09/11 16:02:45</td>   <td>1112072</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videompeg.Advertiser()[pri:0, instance:TestVideo.Videompeg@3170679d]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b4ece3">  <td>13/09/11 16:11:55</td>   <td>1661863</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoMp4.Advertiser()[pri:0, instance:TestVideo.VideoMp4@102c4f59]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="63f0da">  <td>13/09/11 15:48:17</td>   <td>244411</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.Buget()[pri:0, instance:TestVideo.Videoavi@73d727eb]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f37781">  <td>13/09/11 15:57:29</td>   <td>795699</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoflv.Buget()[pri:0, instance:TestVideo.Videoflv@674da52b]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d4b6b6">  <td>13/09/11 16:06:50</td>   <td>1357410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videompeg.Buget()[pri:0, instance:TestVideo.Videompeg@3170679d]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b4ece3">  <td>13/09/11 16:16:03</td>   <td>1909925</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoMp4.Buget()[pri:0, instance:TestVideo.VideoMp4@102c4f59]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="63f0da">  <td>13/09/11 15:48:32</td>   <td>259461</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.CampaignCreation()[pri:0, instance:TestVideo.Videoavi@73d727eb]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f37781">  <td>13/09/11 15:57:47</td>   <td>813782</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoflv.CampaignCreation()[pri:0, instance:TestVideo.Videoflv@674da52b]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d4b6b6">  <td>13/09/11 16:07:03</td>   <td>1370427</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videompeg.CampaignCreation()[pri:0, instance:TestVideo.Videompeg@3170679d]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b4ece3">  <td>13/09/11 16:16:16</td>   <td>1923151</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoMp4.CampaignCreation()[pri:0, instance:TestVideo.VideoMp4@102c4f59]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="63f0da">  <td>13/09/11 15:43:46</td>   <td>-27431</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.ChannelCreation()[pri:0, instance:TestVideo.Videoavi@73d727eb]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f37781">  <td>13/09/11 15:52:55</td>   <td>521758</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoflv.ChannelCreation()[pri:0, instance:TestVideo.Videoflv@674da52b]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d4b6b6">  <td>13/09/11 16:02:15</td>   <td>1081858</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videompeg.ChannelCreation()[pri:0, instance:TestVideo.Videompeg@3170679d]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b4ece3">  <td>13/09/11 16:11:29</td>   <td>1636252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoMp4.ChannelCreation()[pri:0, instance:TestVideo.VideoMp4@102c4f59]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="63f0da">  <td>13/09/11 15:44:29</td>   <td>16282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.CreateVideo()[pri:0, instance:TestVideo.Videoavi@73d727eb]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f37781">  <td>13/09/11 15:53:39</td>   <td>566351</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoflv.CreateVideo()[pri:0, instance:TestVideo.Videoflv@674da52b]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d4b6b6">  <td>13/09/11 16:03:02</td>   <td>1128623</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videompeg.CreateVideo()[pri:0, instance:TestVideo.Videompeg@3170679d]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b4ece3">  <td>13/09/11 16:12:15</td>   <td>1681722</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoMp4.CreateVideo()[pri:0, instance:TestVideo.VideoMp4@102c4f59]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="63f0da">  <td>13/09/11 15:43:06</td>   <td>-67199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.GmailLogin()[pri:0, instance:TestVideo.Videoavi@73d727eb]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f37781">  <td>13/09/11 15:52:14</td>   <td>481467</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoflv.GmailLogin()[pri:0, instance:TestVideo.Videoflv@674da52b]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d4b6b6">  <td>13/09/11 16:01:34</td>   <td>1040911</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videompeg.GmailLogin()[pri:0, instance:TestVideo.Videompeg@3170679d]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b4ece3">  <td>13/09/11 16:10:46</td>   <td>1593414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoMp4.GmailLogin()[pri:0, instance:TestVideo.VideoMp4@102c4f59]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="63f0da">  <td>13/09/11 15:52:02</td>   <td>469074</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.Logout()[pri:0, instance:TestVideo.Videoavi@73d727eb]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f37781">  <td>13/09/11 16:01:22</td>   <td>1029011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoflv.Logout()[pri:0, instance:TestVideo.Videoflv@674da52b]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d4b6b6">  <td>13/09/11 16:10:34</td>   <td>1581390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videompeg.Logout()[pri:0, instance:TestVideo.Videompeg@3170679d]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b4ece3">  <td>13/09/11 16:20:04</td>   <td>2150520</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoMp4.Logout()[pri:0, instance:TestVideo.VideoMp4@102c4f59]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="63f0da">  <td>13/09/11 15:49:00</td>   <td>287364</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.Memcamp()[pri:0, instance:TestVideo.Videoavi@73d727eb]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f37781">  <td>13/09/11 15:58:21</td>   <td>847523</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoflv.Memcamp()[pri:0, instance:TestVideo.Videoflv@674da52b]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d4b6b6">  <td>13/09/11 16:07:32</td>   <td>1398979</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videompeg.Memcamp()[pri:0, instance:TestVideo.Videompeg@3170679d]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b4ece3">  <td>13/09/11 16:17:00</td>   <td>1967439</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoMp4.Memcamp()[pri:0, instance:TestVideo.VideoMp4@102c4f59]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="63f0da">  <td>13/09/11 15:43:37</td>   <td>-36116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.PublisherSearch()[pri:0, instance:TestVideo.Videoavi@73d727eb]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f37781">  <td>13/09/11 15:52:46</td>   <td>513163</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoflv.PublisherSearch()[pri:0, instance:TestVideo.Videoflv@674da52b]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d4b6b6">  <td>13/09/11 16:02:06</td>   <td>1073155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videompeg.PublisherSearch()[pri:0, instance:TestVideo.Videompeg@3170679d]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b4ece3">  <td>13/09/11 16:11:21</td>   <td>1627625</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoMp4.PublisherSearch()[pri:0, instance:TestVideo.VideoMp4@102c4f59]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="63f0da">  <td>13/09/11 15:51:41</td>   <td>448169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.TagServing()[pri:0, instance:TestVideo.Videoavi@73d727eb]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f37781">  <td>13/09/11 16:01:02</td>   <td>1009342</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoflv.TagServing()[pri:0, instance:TestVideo.Videoflv@674da52b]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d4b6b6">  <td>13/09/11 16:10:15</td>   <td>1562479</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videompeg.TagServing()[pri:0, instance:TestVideo.Videompeg@3170679d]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b4ece3">  <td>13/09/11 16:19:44</td>   <td>2131076</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoMp4.TagServing()[pri:0, instance:TestVideo.VideoMp4@102c4f59]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="63f0da">  <td>13/09/11 15:47:32</td>   <td>199194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoavi.Targeting()[pri:0, instance:TestVideo.Videoavi@73d727eb]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f37781">  <td>13/09/11 15:56:42</td>   <td>749025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videoflv.Targeting()[pri:0, instance:TestVideo.Videoflv@674da52b]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d4b6b6">  <td>13/09/11 16:06:05</td>   <td>1312164</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Videompeg.Targeting()[pri:0, instance:TestVideo.Videompeg@3170679d]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b4ece3">  <td>13/09/11 16:15:18</td>   <td>1864725</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoMp4.Targeting()[pri:0, instance:TestVideo.VideoMp4@102c4f59]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="63f0da">  <td>13/09/11 15:42:58</td>   <td>-75352</td> <td>&nbsp;</td><td title="&gt;&gt;Videoavi.setUp()[pri:0, instance:TestVideo.Videoavi@73d727eb]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f37781">  <td>13/09/11 15:52:11</td>   <td>477992</td> <td>&nbsp;</td><td title="&gt;&gt;Videoflv.setUp()[pri:0, instance:TestVideo.Videoflv@674da52b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d4b6b6">  <td>13/09/11 16:01:31</td>   <td>1038169</td> <td>&nbsp;</td><td title="&gt;&gt;Videompeg.setUp()[pri:0, instance:TestVideo.Videompeg@3170679d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b4ece3">  <td>13/09/11 16:10:43</td>   <td>1590337</td> <td>&nbsp;</td><td title="&gt;&gt;VideoMp4.setUp()[pri:0, instance:TestVideo.VideoMp4@102c4f59]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="63f0da">  <td>13/09/11 15:52:11</td>   <td>477766</td> <td>&nbsp;</td><td title="&lt;&lt;Videoavi.tearDown()[pri:0, instance:TestVideo.Videoavi@73d727eb]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f37781">  <td>13/09/11 16:01:31</td>   <td>1037954</td> <td>&nbsp;</td><td title="&lt;&lt;Videoflv.tearDown()[pri:0, instance:TestVideo.Videoflv@674da52b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d4b6b6">  <td>13/09/11 16:10:43</td>   <td>1590025</td> <td>&nbsp;</td><td title="&lt;&lt;Videompeg.tearDown()[pri:0, instance:TestVideo.Videompeg@3170679d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b4ece3">  <td>13/09/11 16:20:12</td>   <td>2159156</td> <td>&nbsp;</td><td title="&lt;&lt;VideoMp4.tearDown()[pri:0, instance:TestVideo.VideoMp4@102c4f59]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
