<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ea49f">  <td>13/09/18 17:19:04</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;AnimatedBanner320x48.setUp()[pri:0, instance:TestVariations.AnimatedBanner320x48@cee47f1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6ea49f">  <td>13/09/18 17:19:14</td>   <td>10387</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanner320x48.GmailLogin()[pri:0, instance:TestVariations.AnimatedBanner320x48@cee47f1]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6ea49f">  <td>13/09/18 17:19:37</td>   <td>33176</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanner320x48.PublisherSearch()[pri:0, instance:TestVariations.AnimatedBanner320x48@cee47f1]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6ea49f">  <td>13/09/18 17:19:42</td>   <td>37539</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanner320x48.ChannelCreation()[pri:0, instance:TestVariations.AnimatedBanner320x48@cee47f1]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6ea49f">  <td>13/09/18 17:20:02</td>   <td>58387</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanner320x48.AdvertiserLogin()[pri:0, instance:TestVariations.AnimatedBanner320x48@cee47f1]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6ea49f">  <td>13/09/18 17:20:07</td>   <td>62712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanner320x48.CreateAnimatedBanner()[pri:0, instance:TestVariations.AnimatedBanner320x48@cee47f1]">CreateAnimatedBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6ea49f">  <td>13/09/18 17:20:35</td>   <td>90977</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanner320x48.Targeting()[pri:0, instance:TestVariations.AnimatedBanner320x48@cee47f1]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6ea49f">  <td>13/09/18 17:21:18</td>   <td>134149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanner320x48.Budget()[pri:0, instance:TestVariations.AnimatedBanner320x48@cee47f1]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6ea49f">  <td>13/09/18 17:21:32</td>   <td>147467</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanner320x48.CampaignCreation()[pri:0, instance:TestVariations.AnimatedBanner320x48@cee47f1]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6ea49f">  <td>13/09/18 17:21:35</td>   <td>150793</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanner320x48.Memcamp()[pri:0, instance:TestVariations.AnimatedBanner320x48@cee47f1]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6ea49f">  <td>13/09/18 17:24:15</td>   <td>311238</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanner320x48.TagServing()[pri:0, instance:TestVariations.AnimatedBanner320x48@cee47f1]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6ea49f">  <td>13/09/18 17:24:35</td>   <td>330779</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanner320x48.Logout()[pri:0, instance:TestVariations.AnimatedBanner320x48@cee47f1]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6ea49f">  <td>13/09/18 17:24:39</td>   <td>335105</td> <td>&nbsp;</td><td title="&lt;&lt;AnimatedBanner320x48.tearDown()[pri:0, instance:TestVariations.AnimatedBanner320x48@cee47f1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a6e962">  <td>13/09/18 17:24:39</td>   <td>335332</td> <td>&nbsp;</td><td title="&gt;&gt;AnimatedBanner720x90.setUp()[pri:0, instance:TestVariations.AnimatedBanner720x90@4e345c87]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a6e962">  <td>13/09/18 17:24:44</td>   <td>339613</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanner720x90.GmailLogin()[pri:0, instance:TestVariations.AnimatedBanner720x90@4e345c87]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a6e962">  <td>13/09/18 17:25:05</td>   <td>361122</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanner720x90.PublisherSearch()[pri:0, instance:TestVariations.AnimatedBanner720x90@4e345c87]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a6e962">  <td>13/09/18 17:25:10</td>   <td>365704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanner720x90.ChannelCreation()[pri:0, instance:TestVariations.AnimatedBanner720x90@4e345c87]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a6e962">  <td>13/09/18 17:25:29</td>   <td>384819</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanner720x90.AdvertiserLogin()[pri:0, instance:TestVariations.AnimatedBanner720x90@4e345c87]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a6e962">  <td>13/09/18 17:25:33</td>   <td>388941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanner720x90.CreateAnimatedBanner()[pri:0, instance:TestVariations.AnimatedBanner720x90@4e345c87]">CreateAnimatedBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a6e962">  <td>13/09/18 17:26:00</td>   <td>415852</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanner720x90.Targeting()[pri:0, instance:TestVariations.AnimatedBanner720x90@4e345c87]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a6e962">  <td>13/09/18 17:26:43</td>   <td>459053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanner720x90.Budget()[pri:0, instance:TestVariations.AnimatedBanner720x90@4e345c87]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a6e962">  <td>13/09/18 17:26:46</td>   <td>461512</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanner720x90.CampaignCreation()[pri:0, instance:TestVariations.AnimatedBanner720x90@4e345c87]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a6e962">  <td>13/09/18 17:27:21</td>   <td>496523</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanner720x90.Memcamp()[pri:0, instance:TestVariations.AnimatedBanner720x90@4e345c87]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a6e962">  <td>13/09/18 17:30:00</td>   <td>656257</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanner720x90.TagServing()[pri:0, instance:TestVariations.AnimatedBanner720x90@4e345c87]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a6e962">  <td>13/09/18 17:30:17</td>   <td>673011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedBanner720x90.Logout()[pri:0, instance:TestVariations.AnimatedBanner720x90@4e345c87]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a6e962">  <td>13/09/18 17:30:22</td>   <td>677462</td> <td>&nbsp;</td><td title="&lt;&lt;AnimatedBanner720x90.tearDown()[pri:0, instance:TestVariations.AnimatedBanner720x90@4e345c87]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
