<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e28063">  <td>13/11/26 16:11:07</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;LanguageTargeting.setUp()[pri:0, instance:LanguageTargeting.LanguageTargeting@399a09cf]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e28063">  <td>13/11/26 16:11:19</td>   <td>12077</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LanguageTargeting.GmailLogin()[pri:0, instance:LanguageTargeting.LanguageTargeting@399a09cf]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e28063">  <td>13/11/26 16:11:48</td>   <td>41487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LanguageTargeting.PublisherSearch()[pri:0, instance:LanguageTargeting.LanguageTargeting@399a09cf]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e28063">  <td>13/11/26 16:11:54</td>   <td>46853</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LanguageTargeting.ChannelCreation()[pri:0, instance:LanguageTargeting.LanguageTargeting@399a09cf]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e28063">  <td>13/11/26 16:12:09</td>   <td>62003</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LanguageTargeting.AdvertiserLogin()[pri:0, instance:LanguageTargeting.LanguageTargeting@399a09cf]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e28063">  <td>13/11/26 16:12:12</td>   <td>64776</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LanguageTargeting.CreateAnimatedBanner()[pri:0, instance:LanguageTargeting.LanguageTargeting@399a09cf]">CreateAnimatedBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e28063">  <td>13/11/26 16:12:33</td>   <td>85546</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LanguageTargeting.Targeting()[pri:0, instance:LanguageTargeting.LanguageTargeting@399a09cf]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e28063">  <td>13/11/26 16:13:09</td>   <td>121899</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LanguageTargeting.Budget()[pri:0, instance:LanguageTargeting.LanguageTargeting@399a09cf]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e28063">  <td>13/11/26 16:13:18</td>   <td>130653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LanguageTargeting.CampaignCreation()[pri:0, instance:LanguageTargeting.LanguageTargeting@399a09cf]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e28063">  <td>13/11/26 16:13:22</td>   <td>134864</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LanguageTargeting.TagServing()[pri:0, instance:LanguageTargeting.LanguageTargeting@399a09cf]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e28063">  <td>13/11/26 16:17:33</td>   <td>386411</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LanguageTargeting.Logout()[pri:0, instance:LanguageTargeting.LanguageTargeting@399a09cf]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e28063">  <td>13/11/26 16:17:37</td>   <td>389749</td> <td>&nbsp;</td><td title="&lt;&lt;LanguageTargeting.tearDown()[pri:0, instance:LanguageTargeting.LanguageTargeting@399a09cf]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
