<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d1d5d2">  <td>13/09/20 10:57:20</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;InterstialGamingTakeOver.setUp()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@9f57de9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1d5d2">  <td>13/09/20 10:57:24</td>   <td>4078</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialGamingTakeOver.GmailLogin()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@9f57de9]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1d5d2">  <td>13/09/20 10:57:46</td>   <td>26558</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialGamingTakeOver.PublisherSearch()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@9f57de9]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1d5d2">  <td>13/09/20 10:57:51</td>   <td>30754</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialGamingTakeOver.ChannelCreation()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@9f57de9]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1d5d2">  <td>13/09/20 10:58:09</td>   <td>49213</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialGamingTakeOver.AdvertiserLogin()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@9f57de9]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1d5d2">  <td>13/09/20 10:58:13</td>   <td>53249</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialGamingTakeOver.CreateInterstial()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@9f57de9]">CreateInterstial</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1d5d2">  <td>13/09/20 10:58:32</td>   <td>71623</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialGamingTakeOver.Targeting()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@9f57de9]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1d5d2">  <td>13/09/20 10:59:15</td>   <td>115493</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialGamingTakeOver.Budget()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@9f57de9]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1d5d2">  <td>13/09/20 10:59:26</td>   <td>126199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialGamingTakeOver.CampaignCreation()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@9f57de9]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1d5d2">  <td>13/09/20 10:59:35</td>   <td>134763</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialGamingTakeOver.Memcamp()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@9f57de9]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1d5d2">  <td>13/09/20 11:02:15</td>   <td>294680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialGamingTakeOver.TagServing()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@9f57de9]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1d5d2">  <td>13/09/20 11:03:20</td>   <td>359824</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialGamingTakeOver.Logout()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@9f57de9]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d1d5d2">  <td>13/09/20 11:03:24</td>   <td>364434</td> <td>&nbsp;</td><td title="&lt;&lt;InterstialGamingTakeOver.tearDown()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@9f57de9]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
