<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="60d0eb">  <td>13/11/28 19:25:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedAndriod4_1.AdvertiserLogin()[pri:0, instance:Testsuite.AnimatedAndriod4_1@873930e]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="60d0eb">  <td>13/11/28 19:25:56</td>   <td>3030</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedAndriod4_1.Budget()[pri:0, instance:Testsuite.AnimatedAndriod4_1@873930e]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="60d0eb">  <td>13/11/28 19:25:57</td>   <td>4038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedAndriod4_1.CampaignCreation()[pri:0, instance:Testsuite.AnimatedAndriod4_1@873930e]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="60d0eb">  <td>13/11/28 19:25:52</td>   <td>-1025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedAndriod4_1.ChannelCreation()[pri:0, instance:Testsuite.AnimatedAndriod4_1@873930e]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="60d0eb">  <td>13/11/28 19:25:54</td>   <td>1006</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedAndriod4_1.CreateAnimatedBanner()[pri:0, instance:Testsuite.AnimatedAndriod4_1@873930e]">CreateAnimatedBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="60d0eb">  <td>13/11/28 19:25:12</td>   <td>-41313</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedAndriod4_1.GmailLogin()[pri:0, instance:Testsuite.AnimatedAndriod4_1@873930e]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="60d0eb">  <td>13/11/28 19:26:00</td>   <td>7062</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedAndriod4_1.Logout()[pri:0, instance:Testsuite.AnimatedAndriod4_1@873930e]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="60d0eb">  <td>13/11/28 19:25:58</td>   <td>5044</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedAndriod4_1.Memcamp()[pri:0, instance:Testsuite.AnimatedAndriod4_1@873930e]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="60d0eb">  <td>13/11/28 19:25:41</td>   <td>-12310</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedAndriod4_1.PublisherSearch()[pri:0, instance:Testsuite.AnimatedAndriod4_1@873930e]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="60d0eb">  <td>13/11/28 19:25:59</td>   <td>6051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedAndriod4_1.TagServing()[pri:0, instance:Testsuite.AnimatedAndriod4_1@873930e]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="60d0eb">  <td>13/11/28 19:25:55</td>   <td>2023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnimatedAndriod4_1.Targeting()[pri:0, instance:Testsuite.AnimatedAndriod4_1@873930e]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="60d0eb">  <td>13/11/28 19:25:00</td>   <td>-52882</td> <td>&nbsp;</td><td title="&gt;&gt;AnimatedAndriod4_1.setUp()[pri:0, instance:Testsuite.AnimatedAndriod4_1@873930e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="60d0eb">  <td>13/11/28 19:26:01</td>   <td>8069</td> <td>&nbsp;</td><td title="&lt;&lt;AnimatedAndriod4_1.tearDown()[pri:0, instance:Testsuite.AnimatedAndriod4_1@873930e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
