<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7b62a9">  <td>13/11/22 15:29:33</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;MutipleonBoth.setUp()[pri:0, instance:CategoryTargeting.MutipleonBoth@e4f15c3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@324878963</td>   <td></td> </tr>
<tr bgcolor="7b62a9">  <td>13/11/22 15:29:39</td>   <td>5788</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MutipleonBoth.GmailLogin()[pri:0, instance:CategoryTargeting.MutipleonBoth@e4f15c3]">GmailLogin</td> 
  <td>main@324878963</td>   <td></td> </tr>
<tr bgcolor="7b62a9">  <td>13/11/22 15:29:55</td>   <td>22241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MutipleonBoth.PublisherSearch()[pri:0, instance:CategoryTargeting.MutipleonBoth@e4f15c3]">PublisherSearch</td> 
  <td>main@324878963</td>   <td></td> </tr>
<tr bgcolor="7b62a9">  <td>13/11/22 15:30:04</td>   <td>31465</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MutipleonBoth.ChannelCreation()[pri:0, instance:CategoryTargeting.MutipleonBoth@e4f15c3]">ChannelCreation</td> 
  <td>main@324878963</td>   <td></td> </tr>
<tr bgcolor="7b62a9">  <td>13/11/22 15:30:23</td>   <td>50086</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MutipleonBoth.Advertiser()[pri:0, instance:CategoryTargeting.MutipleonBoth@e4f15c3]">Advertiser</td> 
  <td>main@324878963</td>   <td></td> </tr>
<tr bgcolor="7b62a9">  <td>13/11/22 15:30:31</td>   <td>58082</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MutipleonBoth.CreateVideo()[pri:0, instance:CategoryTargeting.MutipleonBoth@e4f15c3]">CreateVideo</td> 
  <td>main@324878963</td>   <td></td> </tr>
<tr bgcolor="7b62a9">  <td>13/11/22 15:33:40</td>   <td>246569</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MutipleonBoth.Targeting()[pri:0, instance:CategoryTargeting.MutipleonBoth@e4f15c3]">Targeting</td> 
  <td>main@324878963</td>   <td></td> </tr>
<tr bgcolor="7b62a9">  <td>13/11/22 15:34:17</td>   <td>283815</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MutipleonBoth.Buget()[pri:0, instance:CategoryTargeting.MutipleonBoth@e4f15c3]">Buget</td> 
  <td>main@324878963</td>   <td></td> </tr>
<tr bgcolor="7b62a9">  <td>13/11/22 15:34:44</td>   <td>310611</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MutipleonBoth.CampaignCreation()[pri:0, instance:CategoryTargeting.MutipleonBoth@e4f15c3]">CampaignCreation</td> 
  <td>main@324878963</td>   <td></td> </tr>
<tr bgcolor="7b62a9">  <td>13/11/22 15:35:00</td>   <td>327376</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MutipleonBoth.TagServing()[pri:0, instance:CategoryTargeting.MutipleonBoth@e4f15c3]">TagServing</td> 
  <td>main@324878963</td>   <td></td> </tr>
<tr bgcolor="7b62a9">  <td>13/11/22 15:39:13</td>   <td>580400</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MutipleonBoth.Logout()[pri:0, instance:CategoryTargeting.MutipleonBoth@e4f15c3]">Logout</td> 
  <td>main@324878963</td>   <td></td> </tr>
<tr bgcolor="7b62a9">  <td>13/11/22 15:39:17</td>   <td>583686</td> <td>&nbsp;</td><td title="&lt;&lt;MutipleonBoth.tearDown()[pri:0, instance:CategoryTargeting.MutipleonBoth@e4f15c3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@324878963</td>   <td></td> </tr>
</table>
