<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7b62a9">  <td>13/11/06 17:48:36</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestVideoBannerrm.setUp()[pri:0, instance:VideoBanner.TestVideoBannerrm@64b825d4]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7b62a9">  <td>13/11/06 17:48:44</td>   <td>8030</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerrm.GmailLogin()[pri:0, instance:VideoBanner.TestVideoBannerrm@64b825d4]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7b62a9">  <td>13/11/06 17:49:00</td>   <td>24384</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerrm.PublisherSearch()[pri:0, instance:VideoBanner.TestVideoBannerrm@64b825d4]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7b62a9">  <td>13/11/06 17:49:04</td>   <td>28116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerrm.ChannelCreation()[pri:0, instance:VideoBanner.TestVideoBannerrm@64b825d4]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7b62a9">  <td>13/11/06 17:49:13</td>   <td>36713</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerrm.AdvertiserLogin()[pri:0, instance:VideoBanner.TestVideoBannerrm@64b825d4]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7b62a9">  <td>13/11/06 17:49:16</td>   <td>40118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerrm.CreateVideoBanner()[pri:0, instance:VideoBanner.TestVideoBannerrm@64b825d4]">CreateVideoBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7b62a9">  <td>13/11/06 17:51:18</td>   <td>161825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerrm.Targeting()[pri:0, instance:VideoBanner.TestVideoBannerrm@64b825d4]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7b62a9">  <td>13/11/06 17:51:50</td>   <td>194625</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerrm.Budget()[pri:0, instance:VideoBanner.TestVideoBannerrm@64b825d4]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7b62a9">  <td>13/11/06 17:52:00</td>   <td>204434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerrm.CampaignCreation()[pri:0, instance:VideoBanner.TestVideoBannerrm@64b825d4]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7b62a9">  <td>13/11/06 17:52:22</td>   <td>225737</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerrm.Memcamp()[pri:0, instance:VideoBanner.TestVideoBannerrm@64b825d4]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7b62a9">  <td>13/11/06 17:55:00</td>   <td>383824</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerrm.TagServing()[pri:0, instance:VideoBanner.TestVideoBannerrm@64b825d4]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7b62a9">  <td>13/11/06 17:55:14</td>   <td>398396</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVideoBannerrm.Logout()[pri:0, instance:VideoBanner.TestVideoBannerrm@64b825d4]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7b62a9">  <td>13/11/06 17:55:18</td>   <td>401922</td> <td>&nbsp;</td><td title="&lt;&lt;TestVideoBannerrm.tearDown()[pri:0, instance:VideoBanner.TestVideoBannerrm@64b825d4]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
