<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7ca265">  <td>13/11/22 17:10:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Symbian.AdvertiserLogin()[pri:0, instance:OperatingSystem.Symbian@6a1dbc8b]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7ca265">  <td>13/11/22 17:11:05</td>   <td>62386</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Symbian.Budget()[pri:0, instance:OperatingSystem.Symbian@6a1dbc8b]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7ca265">  <td>13/11/22 17:11:16</td>   <td>73151</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Symbian.CampaignCreation()[pri:0, instance:OperatingSystem.Symbian@6a1dbc8b]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7ca265">  <td>13/11/22 17:09:50</td>   <td>-12695</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Symbian.ChannelCreation()[pri:0, instance:OperatingSystem.Symbian@6a1dbc8b]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7ca265">  <td>13/11/22 17:10:06</td>   <td>3142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Symbian.CreateAnimatedBanner()[pri:0, instance:OperatingSystem.Symbian@6a1dbc8b]">CreateAnimatedBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7ca265">  <td>13/11/22 17:09:11</td>   <td>-51942</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Symbian.GmailLogin()[pri:0, instance:OperatingSystem.Symbian@6a1dbc8b]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7ca265">  <td>13/11/22 17:15:21</td>   <td>318406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Symbian.Logout()[pri:0, instance:OperatingSystem.Symbian@6a1dbc8b]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7ca265">  <td>13/11/22 17:11:19</td>   <td>76747</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Symbian.Memcamp()[pri:0, instance:OperatingSystem.Symbian@6a1dbc8b]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7ca265">  <td>13/11/22 17:09:46</td>   <td>-16178</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Symbian.PublisherSearch()[pri:0, instance:OperatingSystem.Symbian@6a1dbc8b]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7ca265">  <td>13/11/22 17:15:09</td>   <td>306477</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Symbian.TagServing()[pri:0, instance:OperatingSystem.Symbian@6a1dbc8b]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7ca265">  <td>13/11/22 17:10:28</td>   <td>25919</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Symbian.Targeting()[pri:0, instance:OperatingSystem.Symbian@6a1dbc8b]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7ca265">  <td>13/11/22 17:09:02</td>   <td>-60546</td> <td>&nbsp;</td><td title="&gt;&gt;Symbian.setUp()[pri:0, instance:OperatingSystem.Symbian@6a1dbc8b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7ca265">  <td>13/11/22 17:15:24</td>   <td>321690</td> <td>&nbsp;</td><td title="&lt;&lt;Symbian.tearDown()[pri:0, instance:OperatingSystem.Symbian@6a1dbc8b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
