<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a58ad1">  <td>13/09/19 15:50:25</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;InterstialCube.setUp()[pri:0, instance:TestInterstial.InterstialCube@6645d9b1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a58ad1">  <td>13/09/19 15:50:33</td>   <td>7693</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialCube.GmailLogin()[pri:0, instance:TestInterstial.InterstialCube@6645d9b1]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a58ad1">  <td>13/09/19 15:50:57</td>   <td>32013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialCube.PublisherSearch()[pri:0, instance:TestInterstial.InterstialCube@6645d9b1]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a58ad1">  <td>13/09/19 15:51:04</td>   <td>38839</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialCube.ChannelCreation()[pri:0, instance:TestInterstial.InterstialCube@6645d9b1]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a58ad1">  <td>13/09/19 15:51:29</td>   <td>63968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialCube.AdvertiserLogin()[pri:0, instance:TestInterstial.InterstialCube@6645d9b1]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a58ad1">  <td>13/09/19 15:51:33</td>   <td>68099</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialCube.CreateInterstial()[pri:0, instance:TestInterstial.InterstialCube@6645d9b1]">CreateInterstial</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a58ad1">  <td>13/09/19 15:52:00</td>   <td>95304</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialCube.Targeting()[pri:0, instance:TestInterstial.InterstialCube@6645d9b1]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a58ad1">  <td>13/09/19 15:52:44</td>   <td>138562</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialCube.Budget()[pri:0, instance:TestInterstial.InterstialCube@6645d9b1]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a58ad1">  <td>13/09/19 15:52:58</td>   <td>153201</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialCube.CampaignCreation()[pri:0, instance:TestInterstial.InterstialCube@6645d9b1]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a58ad1">  <td>13/09/19 15:53:02</td>   <td>156772</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialCube.Memcamp()[pri:0, instance:TestInterstial.InterstialCube@6645d9b1]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a58ad1">  <td>13/09/19 15:55:41</td>   <td>316056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialCube.TagServing()[pri:0, instance:TestInterstial.InterstialCube@6645d9b1]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a58ad1">  <td>13/09/19 15:56:46</td>   <td>381259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialCube.Logout()[pri:0, instance:TestInterstial.InterstialCube@6645d9b1]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="a58ad1">  <td>13/09/19 15:56:53</td>   <td>387649</td> <td>&nbsp;</td><td title="&lt;&lt;InterstialCube.tearDown()[pri:0, instance:TestInterstial.InterstialCube@6645d9b1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ad6ff8">  <td>13/09/19 15:56:53</td>   <td>387911</td> <td>&nbsp;</td><td title="&gt;&gt;InterstialHotspot.setUp()[pri:0, instance:TestInterstial.InterstialHotspot@5fe7bd8d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ad6ff8">  <td>13/09/19 15:56:55</td>   <td>390295</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialHotspot.GmailLogin()[pri:0, instance:TestInterstial.InterstialHotspot@5fe7bd8d]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ad6ff8">  <td>13/09/19 15:57:19</td>   <td>413685</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialHotspot.PublisherSearch()[pri:0, instance:TestInterstial.InterstialHotspot@5fe7bd8d]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ad6ff8">  <td>13/09/19 15:57:24</td>   <td>419236</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialHotspot.ChannelCreation()[pri:0, instance:TestInterstial.InterstialHotspot@5fe7bd8d]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ad6ff8">  <td>13/09/19 15:58:04</td>   <td>458349</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialHotspot.AdvertiserLogin()[pri:0, instance:TestInterstial.InterstialHotspot@5fe7bd8d]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ad6ff8">  <td>13/09/19 15:58:08</td>   <td>462537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialHotspot.CreateInterstial()[pri:0, instance:TestInterstial.InterstialHotspot@5fe7bd8d]">CreateInterstial</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ad6ff8">  <td>13/09/19 15:58:19</td>   <td>473752</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialHotspot.Targeting()[pri:0, instance:TestInterstial.InterstialHotspot@5fe7bd8d]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ad6ff8">  <td>13/09/19 15:58:20</td>   <td>474756</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialHotspot.Budget()[pri:0, instance:TestInterstial.InterstialHotspot@5fe7bd8d]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ad6ff8">  <td>13/09/19 15:58:21</td>   <td>475762</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialHotspot.CampaignCreation()[pri:0, instance:TestInterstial.InterstialHotspot@5fe7bd8d]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ad6ff8">  <td>13/09/19 15:58:22</td>   <td>476784</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialHotspot.Memcamp()[pri:0, instance:TestInterstial.InterstialHotspot@5fe7bd8d]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ad6ff8">  <td>13/09/19 15:58:29</td>   <td>483776</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialHotspot.TagServing()[pri:0, instance:TestInterstial.InterstialHotspot@5fe7bd8d]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ad6ff8">  <td>13/09/19 15:58:30</td>   <td>484786</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialHotspot.Logout()[pri:0, instance:TestInterstial.InterstialHotspot@5fe7bd8d]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ad6ff8">  <td>13/09/19 15:58:31</td>   <td>485788</td> <td>&nbsp;</td><td title="&lt;&lt;InterstialHotspot.tearDown()[pri:0, instance:TestInterstial.InterstialHotspot@5fe7bd8d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f08bee">  <td>13/09/19 15:58:32</td>   <td>486967</td> <td>&nbsp;</td><td title="&gt;&gt;InterstialSpinner.setUp()[pri:0, instance:TestInterstial.InterstialSpinner@7bd45656]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f08bee">  <td>13/09/19 15:58:35</td>   <td>489462</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialSpinner.GmailLogin()[pri:0, instance:TestInterstial.InterstialSpinner@7bd45656]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f08bee">  <td>13/09/19 15:58:59</td>   <td>513389</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialSpinner.PublisherSearch()[pri:0, instance:TestInterstial.InterstialSpinner@7bd45656]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f08bee">  <td>13/09/19 15:59:02</td>   <td>517031</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialSpinner.ChannelCreation()[pri:0, instance:TestInterstial.InterstialSpinner@7bd45656]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f08bee">  <td>13/09/19 15:59:30</td>   <td>544550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialSpinner.AdvertiserLogin()[pri:0, instance:TestInterstial.InterstialSpinner@7bd45656]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f08bee">  <td>13/09/19 15:59:52</td>   <td>566814</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialSpinner.CreateInterstial()[pri:0, instance:TestInterstial.InterstialSpinner@7bd45656]">CreateInterstial</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f08bee">  <td>13/09/19 16:00:15</td>   <td>590153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialSpinner.Targeting()[pri:0, instance:TestInterstial.InterstialSpinner@7bd45656]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f08bee">  <td>13/09/19 16:00:59</td>   <td>633469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialSpinner.Budget()[pri:0, instance:TestInterstial.InterstialSpinner@7bd45656]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f08bee">  <td>13/09/19 16:01:12</td>   <td>646745</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialSpinner.CampaignCreation()[pri:0, instance:TestInterstial.InterstialSpinner@7bd45656]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f08bee">  <td>13/09/19 16:01:22</td>   <td>656952</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialSpinner.Memcamp()[pri:0, instance:TestInterstial.InterstialSpinner@7bd45656]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f08bee">  <td>13/09/19 16:04:01</td>   <td>816045</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialSpinner.TagServing()[pri:0, instance:TestInterstial.InterstialSpinner@7bd45656]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f08bee">  <td>13/09/19 16:05:09</td>   <td>883544</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialSpinner.Logout()[pri:0, instance:TestInterstial.InterstialSpinner@7bd45656]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="f08bee">  <td>13/09/19 16:05:13</td>   <td>887954</td> <td>&nbsp;</td><td title="&lt;&lt;InterstialSpinner.tearDown()[pri:0, instance:TestInterstial.InterstialSpinner@7bd45656]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="8de177">  <td>13/09/19 16:05:13</td>   <td>888118</td> <td>&nbsp;</td><td title="&gt;&gt;InterstialTransparentTakeover.setUp()[pri:0, instance:TestInterstial.InterstialTransparentTakeover@46b4ece3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="8de177">  <td>13/09/19 16:05:15</td>   <td>890129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialTransparentTakeover.GmailLogin()[pri:0, instance:TestInterstial.InterstialTransparentTakeover@46b4ece3]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="8de177">  <td>13/09/19 16:05:38</td>   <td>913112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialTransparentTakeover.PublisherSearch()[pri:0, instance:TestInterstial.InterstialTransparentTakeover@46b4ece3]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="8de177">  <td>13/09/19 16:05:42</td>   <td>916417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialTransparentTakeover.ChannelCreation()[pri:0, instance:TestInterstial.InterstialTransparentTakeover@46b4ece3]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="8de177">  <td>13/09/19 16:06:02</td>   <td>936937</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialTransparentTakeover.AdvertiserLogin()[pri:0, instance:TestInterstial.InterstialTransparentTakeover@46b4ece3]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="8de177">  <td>13/09/19 16:06:08</td>   <td>942708</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialTransparentTakeover.CreateInterstial()[pri:0, instance:TestInterstial.InterstialTransparentTakeover@46b4ece3]">CreateInterstial</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="8de177">  <td>13/09/19 16:06:30</td>   <td>964492</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialTransparentTakeover.Targeting()[pri:0, instance:TestInterstial.InterstialTransparentTakeover@46b4ece3]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="8de177">  <td>13/09/19 16:07:13</td>   <td>1007804</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialTransparentTakeover.Budget()[pri:0, instance:TestInterstial.InterstialTransparentTakeover@46b4ece3]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="8de177">  <td>13/09/19 16:07:30</td>   <td>1024521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialTransparentTakeover.CampaignCreation()[pri:0, instance:TestInterstial.InterstialTransparentTakeover@46b4ece3]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="8de177">  <td>13/09/19 16:08:00</td>   <td>1055023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialTransparentTakeover.Memcamp()[pri:0, instance:TestInterstial.InterstialTransparentTakeover@46b4ece3]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="8de177">  <td>13/09/19 16:10:42</td>   <td>1216913</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialTransparentTakeover.TagServing()[pri:0, instance:TestInterstial.InterstialTransparentTakeover@46b4ece3]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="8de177">  <td>13/09/19 16:11:48</td>   <td>1282444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialTransparentTakeover.Logout()[pri:0, instance:TestInterstial.InterstialTransparentTakeover@46b4ece3]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="8de177">  <td>13/09/19 16:11:52</td>   <td>1286786</td> <td>&nbsp;</td><td title="&lt;&lt;InterstialTransparentTakeover.tearDown()[pri:0, instance:TestInterstial.InterstialTransparentTakeover@46b4ece3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d0b69b">  <td>13/09/19 16:11:52</td>   <td>1287017</td> <td>&nbsp;</td><td title="&gt;&gt;InterstialWiper.setUp()[pri:0, instance:TestInterstial.InterstialWiper@5ce61897]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d0b69b">  <td>13/09/19 16:11:54</td>   <td>1289131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialWiper.GmailLogin()[pri:0, instance:TestInterstial.InterstialWiper@5ce61897]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d0b69b">  <td>13/09/19 16:12:19</td>   <td>1313956</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialWiper.PublisherSearch()[pri:0, instance:TestInterstial.InterstialWiper@5ce61897]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d0b69b">  <td>13/09/19 16:12:25</td>   <td>1320217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialWiper.ChannelCreation()[pri:0, instance:TestInterstial.InterstialWiper@5ce61897]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d0b69b">  <td>13/09/19 16:12:55</td>   <td>1349911</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialWiper.AdvertiserLogin()[pri:0, instance:TestInterstial.InterstialWiper@5ce61897]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d0b69b">  <td>13/09/19 16:13:00</td>   <td>1354369</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialWiper.CreateInterstial()[pri:0, instance:TestInterstial.InterstialWiper@5ce61897]">CreateInterstial</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d0b69b">  <td>13/09/19 16:13:20</td>   <td>1374661</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialWiper.Targeting()[pri:0, instance:TestInterstial.InterstialWiper@5ce61897]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d0b69b">  <td>13/09/19 16:14:03</td>   <td>1418152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialWiper.Budget()[pri:0, instance:TestInterstial.InterstialWiper@5ce61897]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d0b69b">  <td>13/09/19 16:14:22</td>   <td>1437210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialWiper.CampaignCreation()[pri:0, instance:TestInterstial.InterstialWiper@5ce61897]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d0b69b">  <td>13/09/19 16:14:31</td>   <td>1446143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialWiper.Memcamp()[pri:0, instance:TestInterstial.InterstialWiper@5ce61897]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d0b69b">  <td>13/09/19 16:17:12</td>   <td>1607112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialWiper.TagServing()[pri:0, instance:TestInterstial.InterstialWiper@5ce61897]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d0b69b">  <td>13/09/19 16:18:18</td>   <td>1672834</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialWiper.Logout()[pri:0, instance:TestInterstial.InterstialWiper@5ce61897]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="d0b69b">  <td>13/09/19 16:18:22</td>   <td>1677191</td> <td>&nbsp;</td><td title="&lt;&lt;InterstialWiper.tearDown()[pri:0, instance:TestInterstial.InterstialWiper@5ce61897]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/19 16:18:23</td>   <td>1677408</td> <td>&nbsp;</td><td title="&gt;&gt;IntertstialH5.setUp()[pri:0, instance:TestInterstial.IntertstialH5@6ed2bd5d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/19 16:18:25</td>   <td>1680073</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IntertstialH5.GmailLogin()[pri:0, instance:TestInterstial.IntertstialH5@6ed2bd5d]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/19 16:18:48</td>   <td>1703006</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IntertstialH5.PublisherSearch()[pri:0, instance:TestInterstial.IntertstialH5@6ed2bd5d]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/19 16:18:54</td>   <td>1709081</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IntertstialH5.ChannelCreation()[pri:0, instance:TestInterstial.IntertstialH5@6ed2bd5d]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/19 16:19:15</td>   <td>1730244</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IntertstialH5.AdvertiserLogin()[pri:0, instance:TestInterstial.IntertstialH5@6ed2bd5d]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/19 16:19:21</td>   <td>1736055</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IntertstialH5.CreateInterstial()[pri:0, instance:TestInterstial.IntertstialH5@6ed2bd5d]">CreateInterstial</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/19 16:19:41</td>   <td>1756076</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IntertstialH5.Targeting()[pri:0, instance:TestInterstial.IntertstialH5@6ed2bd5d]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/19 16:20:25</td>   <td>1799666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IntertstialH5.Budget()[pri:0, instance:TestInterstial.IntertstialH5@6ed2bd5d]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/19 16:20:40</td>   <td>1814939</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IntertstialH5.CampaignCreation()[pri:0, instance:TestInterstial.IntertstialH5@6ed2bd5d]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/19 16:20:49</td>   <td>1823520</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IntertstialH5.Memcamp()[pri:0, instance:TestInterstial.IntertstialH5@6ed2bd5d]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/19 16:23:27</td>   <td>1982274</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IntertstialH5.TagServing()[pri:0, instance:TestInterstial.IntertstialH5@6ed2bd5d]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/19 16:24:35</td>   <td>2049718</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IntertstialH5.Logout()[pri:0, instance:TestInterstial.IntertstialH5@6ed2bd5d]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="88b696">  <td>13/09/19 16:24:39</td>   <td>2054068</td> <td>&nbsp;</td><td title="&lt;&lt;IntertstialH5.tearDown()[pri:0, instance:TestInterstial.IntertstialH5@6ed2bd5d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 16:24:39</td>   <td>2054251</td> <td>&nbsp;</td><td title="&gt;&gt;InterstialT5.setUp()[pri:0, instance:TestInterstial.InterstialT5@4b2d0c2e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 16:24:44</td>   <td>2059176</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialT5.GmailLogin()[pri:0, instance:TestInterstial.InterstialT5@4b2d0c2e]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 16:25:11</td>   <td>2085761</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialT5.PublisherSearch()[pri:0, instance:TestInterstial.InterstialT5@4b2d0c2e]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 16:25:16</td>   <td>2091091</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialT5.ChannelCreation()[pri:0, instance:TestInterstial.InterstialT5@4b2d0c2e]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 16:25:37</td>   <td>2111552</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialT5.AdvertiserLogin()[pri:0, instance:TestInterstial.InterstialT5@4b2d0c2e]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 16:25:41</td>   <td>2115678</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialT5.CreateInterstial()[pri:0, instance:TestInterstial.InterstialT5@4b2d0c2e]">CreateInterstial</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 16:26:06</td>   <td>2140872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialT5.Targeting()[pri:0, instance:TestInterstial.InterstialT5@4b2d0c2e]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 16:26:50</td>   <td>2185083</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialT5.Budget()[pri:0, instance:TestInterstial.InterstialT5@4b2d0c2e]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 16:27:07</td>   <td>2201761</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialT5.CampaignCreation()[pri:0, instance:TestInterstial.InterstialT5@4b2d0c2e]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 16:27:16</td>   <td>2210824</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialT5.Memcamp()[pri:0, instance:TestInterstial.InterstialT5@4b2d0c2e]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 16:29:59</td>   <td>2373659</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialT5.TagServing()[pri:0, instance:TestInterstial.InterstialT5@4b2d0c2e]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 16:31:04</td>   <td>2438391</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialT5.Logout()[pri:0, instance:TestInterstial.InterstialT5@4b2d0c2e]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="e16da0">  <td>13/09/19 16:31:08</td>   <td>2442755</td> <td>&nbsp;</td><td title="&lt;&lt;InterstialT5.tearDown()[pri:0, instance:TestInterstial.InterstialT5@4b2d0c2e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="948bd9">  <td>13/09/19 16:31:08</td>   <td>2442962</td> <td>&nbsp;</td><td title="&gt;&gt;InterstialGamingTakeOver.setUp()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@15c955b7]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="948bd9">  <td>13/09/19 16:31:11</td>   <td>2445629</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialGamingTakeOver.GmailLogin()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@15c955b7]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="948bd9">  <td>13/09/19 16:31:35</td>   <td>2469732</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialGamingTakeOver.PublisherSearch()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@15c955b7]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="948bd9">  <td>13/09/19 16:31:39</td>   <td>2473744</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialGamingTakeOver.ChannelCreation()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@15c955b7]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="948bd9">  <td>13/09/19 16:31:58</td>   <td>2492576</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialGamingTakeOver.AdvertiserLogin()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@15c955b7]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="948bd9">  <td>13/09/19 16:32:02</td>   <td>2496872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialGamingTakeOver.CreateInterstial()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@15c955b7]">CreateInterstial</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="948bd9">  <td>13/09/19 16:32:26</td>   <td>2520467</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialGamingTakeOver.Targeting()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@15c955b7]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="948bd9">  <td>13/09/19 16:33:09</td>   <td>2563819</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialGamingTakeOver.Budget()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@15c955b7]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="948bd9">  <td>13/09/19 16:33:22</td>   <td>2576780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialGamingTakeOver.CampaignCreation()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@15c955b7]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="948bd9">  <td>13/09/19 16:33:52</td>   <td>2607253</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialGamingTakeOver.Memcamp()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@15c955b7]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="948bd9">  <td>13/09/19 16:36:32</td>   <td>2766856</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialGamingTakeOver.TagServing()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@15c955b7]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="948bd9">  <td>13/09/19 16:37:40</td>   <td>2834851</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterstialGamingTakeOver.Logout()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@15c955b7]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="948bd9">  <td>13/09/19 16:37:45</td>   <td>2839377</td> <td>&nbsp;</td><td title="&lt;&lt;InterstialGamingTakeOver.tearDown()[pri:0, instance:TestInterstial.InterstialGamingTakeOver@15c955b7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
