<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ae6efc">  <td>13/11/26 17:15:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PostalTargetingMutipleValues.AdvertiserLogin()[pri:0, instance:USTARGETING.PostalTargetingMutipleValues@213e9853]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ae6efc">  <td>13/11/26 17:16:43</td>   <td>57536</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PostalTargetingMutipleValues.Budget()[pri:0, instance:USTARGETING.PostalTargetingMutipleValues@213e9853]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ae6efc">  <td>13/11/26 17:16:53</td>   <td>66803</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PostalTargetingMutipleValues.CampaignCreation()[pri:0, instance:USTARGETING.PostalTargetingMutipleValues@213e9853]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ae6efc">  <td>13/11/26 17:15:38</td>   <td>-8127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PostalTargetingMutipleValues.ChannelCreation()[pri:0, instance:USTARGETING.PostalTargetingMutipleValues@213e9853]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ae6efc">  <td>13/11/26 17:15:49</td>   <td>3516</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PostalTargetingMutipleValues.CreateAnimatedBanner()[pri:0, instance:USTARGETING.PostalTargetingMutipleValues@213e9853]">CreateAnimatedBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ae6efc">  <td>13/11/26 17:15:06</td>   <td>-39728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PostalTargetingMutipleValues.GmailLogin()[pri:0, instance:USTARGETING.PostalTargetingMutipleValues@213e9853]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ae6efc">  <td>13/11/26 17:20:57</td>   <td>311087</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PostalTargetingMutipleValues.Logout()[pri:0, instance:USTARGETING.PostalTargetingMutipleValues@213e9853]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ae6efc">  <td>13/11/26 17:16:56</td>   <td>70313</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PostalTargetingMutipleValues.Memcamp()[pri:0, instance:USTARGETING.PostalTargetingMutipleValues@213e9853]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ae6efc">  <td>13/11/26 17:15:33</td>   <td>-13027</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PostalTargetingMutipleValues.PublisherSearch()[pri:0, instance:USTARGETING.PostalTargetingMutipleValues@213e9853]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ae6efc">  <td>13/11/26 17:20:38</td>   <td>292106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PostalTargetingMutipleValues.TagServing()[pri:0, instance:USTARGETING.PostalTargetingMutipleValues@213e9853]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ae6efc">  <td>13/11/26 17:16:05</td>   <td>18695</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PostalTargetingMutipleValues.Targeting()[pri:0, instance:USTARGETING.PostalTargetingMutipleValues@213e9853]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ae6efc">  <td>13/11/26 17:14:56</td>   <td>-49484</td> <td>&nbsp;</td><td title="&gt;&gt;PostalTargetingMutipleValues.setUp()[pri:0, instance:USTARGETING.PostalTargetingMutipleValues@213e9853]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ae6efc">  <td>13/11/26 17:21:00</td>   <td>314417</td> <td>&nbsp;</td><td title="&lt;&lt;PostalTargetingMutipleValues.tearDown()[pri:0, instance:USTARGETING.PostalTargetingMutipleValues@213e9853]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
