<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="72a3b7">  <td>13/11/06 18:06:54</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;CompanionBannerwith468x60.setUp()[pri:0, instance:VarationwithCampanion.CompanionBannerwith468x60@2919c2af]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="72a3b7">  <td>13/11/06 18:07:00</td>   <td>5972</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith468x60.GmailLogin()[pri:0, instance:VarationwithCampanion.CompanionBannerwith468x60@2919c2af]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="72a3b7">  <td>13/11/06 18:07:16</td>   <td>21858</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith468x60.PublisherSearch()[pri:0, instance:VarationwithCampanion.CompanionBannerwith468x60@2919c2af]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="72a3b7">  <td>13/11/06 18:07:19</td>   <td>25627</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith468x60.ChannelCreation()[pri:0, instance:VarationwithCampanion.CompanionBannerwith468x60@2919c2af]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="72a3b7">  <td>13/11/06 18:07:42</td>   <td>48431</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith468x60.Advertiser()[pri:0, instance:VarationwithCampanion.CompanionBannerwith468x60@2919c2af]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="72a3b7">  <td>13/11/06 18:07:46</td>   <td>52629</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith468x60.CreateVideo()[pri:0, instance:VarationwithCampanion.CompanionBannerwith468x60@2919c2af]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="72a3b7">  <td>13/11/06 18:11:30</td>   <td>276524</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith468x60.Targeting()[pri:0, instance:VarationwithCampanion.CompanionBannerwith468x60@2919c2af]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="72a3b7">  <td>13/11/06 18:12:02</td>   <td>308313</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith468x60.Buget()[pri:0, instance:VarationwithCampanion.CompanionBannerwith468x60@2919c2af]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="72a3b7">  <td>13/11/06 18:12:02</td>   <td>308335</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith468x60.CampaignCreation()[pri:0, instance:VarationwithCampanion.CompanionBannerwith468x60@2919c2af]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="72a3b7">  <td>13/11/06 18:12:02</td>   <td>308346</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith468x60.Memcamp()[pri:0, instance:VarationwithCampanion.CompanionBannerwith468x60@2919c2af]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="72a3b7">  <td>13/11/06 18:12:07</td>   <td>313633</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith468x60.TagServing()[pri:0, instance:VarationwithCampanion.CompanionBannerwith468x60@2919c2af]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="72a3b7">  <td>13/11/06 18:12:07</td>   <td>313649</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith468x60.Logout()[pri:0, instance:VarationwithCampanion.CompanionBannerwith468x60@2919c2af]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="72a3b7">  <td>13/11/06 18:12:07</td>   <td>313660</td> <td>&nbsp;</td><td title="&lt;&lt;CompanionBannerwith468x60.tearDown()[pri:0, instance:VarationwithCampanion.CompanionBannerwith468x60@2919c2af]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
