<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69d3af">  <td>13/09/29 13:20:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.AdvertiserLogin()[pri:0, instance:TestBanner.TestBanner@54fe71ff]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69d3af">  <td>13/09/29 13:22:04</td>   <td>78649</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.Budget()[pri:0, instance:TestBanner.TestBanner@54fe71ff]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69d3af">  <td>13/09/29 13:22:05</td>   <td>79658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.CampaignCreation()[pri:0, instance:TestBanner.TestBanner@54fe71ff]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69d3af">  <td>13/09/29 13:20:16</td>   <td>-29737</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.ChannelCreation()[pri:0, instance:TestBanner.TestBanner@54fe71ff]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69d3af">  <td>13/09/29 13:20:50</td>   <td>4531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.CreateBanner()[pri:0, instance:TestBanner.TestBanner@54fe71ff]">CreateBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69d3af">  <td>13/09/29 13:19:25</td>   <td>-80774</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.GmailLogin()[pri:0, instance:TestBanner.TestBanner@54fe71ff]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69d3af">  <td>13/09/29 13:22:17</td>   <td>91789</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.Logout()[pri:0, instance:TestBanner.TestBanner@54fe71ff]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69d3af">  <td>13/09/29 13:22:06</td>   <td>80661</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.Memcamp()[pri:0, instance:TestBanner.TestBanner@54fe71ff]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69d3af">  <td>13/09/29 13:20:06</td>   <td>-39547</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.PublisherSearch()[pri:0, instance:TestBanner.TestBanner@54fe71ff]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69d3af">  <td>13/09/29 13:22:16</td>   <td>90780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.TagServing()[pri:0, instance:TestBanner.TestBanner@54fe71ff]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69d3af">  <td>13/09/29 13:22:03</td>   <td>77641</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBanner.Targeting()[pri:0, instance:TestBanner.TestBanner@54fe71ff]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69d3af">  <td>13/09/29 13:19:15</td>   <td>-90382</td> <td>&nbsp;</td><td title="&gt;&gt;TestBanner.setUp()[pri:0, instance:TestBanner.TestBanner@54fe71ff]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69d3af">  <td>13/09/29 13:22:18</td>   <td>92794</td> <td>&nbsp;</td><td title="&lt;&lt;TestBanner.tearDown()[pri:0, instance:TestBanner.TestBanner@54fe71ff]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
