<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ce8864">  <td>13/09/05 15:13:47</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;VideoUsa.setUp()[pri:0, instance:Video.VideoUsa@6a469846]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/09/05 15:13:51</td>   <td>4000</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUsa.GmailLogin()[pri:0, instance:Video.VideoUsa@6a469846]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/09/05 15:13:58</td>   <td>10827</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUsa.PublisherSearch()[pri:0, instance:Video.VideoUsa@6a469846]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/09/05 15:13:59</td>   <td>11845</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUsa.ChannelCreation()[pri:0, instance:Video.VideoUsa@6a469846]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/09/05 15:14:00</td>   <td>12865</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUsa.Advertiser()[pri:0, instance:Video.VideoUsa@6a469846]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/09/05 15:14:01</td>   <td>13880</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUsa.CreateVideo()[pri:0, instance:Video.VideoUsa@6a469846]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/09/05 15:14:02</td>   <td>14886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUsa.Targeting()[pri:0, instance:Video.VideoUsa@6a469846]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/09/05 15:14:03</td>   <td>15889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUsa.Buget()[pri:0, instance:Video.VideoUsa@6a469846]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/09/05 15:14:04</td>   <td>16897</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUsa.CampaignCreation()[pri:0, instance:Video.VideoUsa@6a469846]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/09/05 15:14:05</td>   <td>17911</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUsa.Memcamp()[pri:0, instance:Video.VideoUsa@6a469846]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/09/05 15:14:14</td>   <td>26306</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUsa.TagServing()[pri:0, instance:Video.VideoUsa@6a469846]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/09/05 15:14:15</td>   <td>27321</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUsa.Logout()[pri:0, instance:Video.VideoUsa@6a469846]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/09/05 15:14:16</td>   <td>28331</td> <td>&nbsp;</td><td title="&lt;&lt;VideoUsa.tearDown()[pri:0, instance:Video.VideoUsa@6a469846]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aec86a">  <td>13/09/05 15:14:17</td>   <td>29564</td> <td>&nbsp;</td><td title="&gt;&gt;VideoUSAcity.setUp()[pri:0, instance:Video.VideoUSAcity@3b955dd5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aec86a">  <td>13/09/05 15:14:19</td>   <td>31944</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSAcity.GmailLogin()[pri:0, instance:Video.VideoUSAcity@3b955dd5]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aec86a">  <td>13/09/05 15:14:48</td>   <td>61120</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSAcity.PublisherSearch()[pri:0, instance:Video.VideoUSAcity@3b955dd5]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aec86a">  <td>13/09/05 15:14:56</td>   <td>68842</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSAcity.ChannelCreation()[pri:0, instance:Video.VideoUSAcity@3b955dd5]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aec86a">  <td>13/09/05 15:15:19</td>   <td>92104</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSAcity.Advertiser()[pri:0, instance:Video.VideoUSAcity@3b955dd5]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aec86a">  <td>13/09/05 15:15:32</td>   <td>104757</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSAcity.CreateVideo()[pri:0, instance:Video.VideoUSAcity@3b955dd5]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aec86a">  <td>13/09/05 15:18:34</td>   <td>286208</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSAcity.Targeting()[pri:0, instance:Video.VideoUSAcity@3b955dd5]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aec86a">  <td>13/09/05 15:19:19</td>   <td>331837</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSAcity.Buget()[pri:0, instance:Video.VideoUSAcity@3b955dd5]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aec86a">  <td>13/09/05 15:19:22</td>   <td>335029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSAcity.CampaignCreation()[pri:0, instance:Video.VideoUSAcity@3b955dd5]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aec86a">  <td>13/09/05 15:20:17</td>   <td>390147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSAcity.Memcamp()[pri:0, instance:Video.VideoUSAcity@3b955dd5]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aec86a">  <td>13/09/05 15:22:57</td>   <td>549897</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSAcity.TagServing()[pri:0, instance:Video.VideoUSAcity@3b955dd5]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aec86a">  <td>13/09/05 15:23:14</td>   <td>566696</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSAcity.Logout()[pri:0, instance:Video.VideoUSAcity@3b955dd5]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aec86a">  <td>13/09/05 15:23:21</td>   <td>573859</td> <td>&nbsp;</td><td title="&lt;&lt;VideoUSAcity.tearDown()[pri:0, instance:Video.VideoUSAcity@3b955dd5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69e871">  <td>13/09/05 15:23:21</td>   <td>574066</td> <td>&nbsp;</td><td title="&gt;&gt;VideoUSPostal.setUp()[pri:0, instance:Video.VideoUSPostal@47b8f42]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69e871">  <td>13/09/05 15:23:24</td>   <td>576168</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSPostal.GmailLogin()[pri:0, instance:Video.VideoUSPostal@47b8f42]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69e871">  <td>13/09/05 15:23:30</td>   <td>582410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSPostal.PublisherSearch()[pri:0, instance:Video.VideoUSPostal@47b8f42]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69e871">  <td>13/09/05 15:23:31</td>   <td>583420</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSPostal.ChannelCreation()[pri:0, instance:Video.VideoUSPostal@47b8f42]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69e871">  <td>13/09/05 15:23:32</td>   <td>584423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSPostal.Advertiser()[pri:0, instance:Video.VideoUSPostal@47b8f42]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69e871">  <td>13/09/05 15:23:33</td>   <td>585427</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSPostal.CreateVideo()[pri:0, instance:Video.VideoUSPostal@47b8f42]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69e871">  <td>13/09/05 15:23:34</td>   <td>586440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSPostal.Targeting()[pri:0, instance:Video.VideoUSPostal@47b8f42]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69e871">  <td>13/09/05 15:23:35</td>   <td>587446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSPostal.Buget()[pri:0, instance:Video.VideoUSPostal@47b8f42]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69e871">  <td>13/09/05 15:23:36</td>   <td>588471</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSPostal.CampaignCreation()[pri:0, instance:Video.VideoUSPostal@47b8f42]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69e871">  <td>13/09/05 15:23:37</td>   <td>589480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSPostal.Memcamp()[pri:0, instance:Video.VideoUSPostal@47b8f42]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69e871">  <td>13/09/05 15:23:46</td>   <td>598298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSPostal.TagServing()[pri:0, instance:Video.VideoUSPostal@47b8f42]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69e871">  <td>13/09/05 15:23:47</td>   <td>599304</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSPostal.Logout()[pri:0, instance:Video.VideoUSPostal@47b8f42]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69e871">  <td>13/09/05 15:23:48</td>   <td>600310</td> <td>&nbsp;</td><td title="&lt;&lt;VideoUSPostal.tearDown()[pri:0, instance:Video.VideoUSPostal@47b8f42]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
