<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ce8864">  <td>13/09/05 15:14:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUsa.Advertiser()[pri:0, instance:Video.VideoUsa@6a469846]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aec86a">  <td>13/09/05 15:15:19</td>   <td>79239</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSAcity.Advertiser()[pri:0, instance:Video.VideoUSAcity@3b955dd5]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69e871">  <td>13/09/05 15:23:32</td>   <td>571558</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSPostal.Advertiser()[pri:0, instance:Video.VideoUSPostal@47b8f42]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/09/05 15:14:03</td>   <td>3024</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUsa.Buget()[pri:0, instance:Video.VideoUsa@6a469846]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aec86a">  <td>13/09/05 15:19:19</td>   <td>318972</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSAcity.Buget()[pri:0, instance:Video.VideoUSAcity@3b955dd5]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69e871">  <td>13/09/05 15:23:35</td>   <td>574581</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSPostal.Buget()[pri:0, instance:Video.VideoUSPostal@47b8f42]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/09/05 15:14:04</td>   <td>4032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUsa.CampaignCreation()[pri:0, instance:Video.VideoUsa@6a469846]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aec86a">  <td>13/09/05 15:19:22</td>   <td>322164</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSAcity.CampaignCreation()[pri:0, instance:Video.VideoUSAcity@3b955dd5]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69e871">  <td>13/09/05 15:23:36</td>   <td>575606</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSPostal.CampaignCreation()[pri:0, instance:Video.VideoUSPostal@47b8f42]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/09/05 15:13:59</td>   <td>-1020</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUsa.ChannelCreation()[pri:0, instance:Video.VideoUsa@6a469846]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aec86a">  <td>13/09/05 15:14:56</td>   <td>55977</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSAcity.ChannelCreation()[pri:0, instance:Video.VideoUSAcity@3b955dd5]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69e871">  <td>13/09/05 15:23:31</td>   <td>570555</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSPostal.ChannelCreation()[pri:0, instance:Video.VideoUSPostal@47b8f42]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/09/05 15:14:01</td>   <td>1015</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUsa.CreateVideo()[pri:0, instance:Video.VideoUsa@6a469846]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aec86a">  <td>13/09/05 15:15:32</td>   <td>91892</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSAcity.CreateVideo()[pri:0, instance:Video.VideoUSAcity@3b955dd5]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69e871">  <td>13/09/05 15:23:33</td>   <td>572562</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSPostal.CreateVideo()[pri:0, instance:Video.VideoUSPostal@47b8f42]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/09/05 15:13:51</td>   <td>-8865</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUsa.GmailLogin()[pri:0, instance:Video.VideoUsa@6a469846]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aec86a">  <td>13/09/05 15:14:19</td>   <td>19079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSAcity.GmailLogin()[pri:0, instance:Video.VideoUSAcity@3b955dd5]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69e871">  <td>13/09/05 15:23:24</td>   <td>563303</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSPostal.GmailLogin()[pri:0, instance:Video.VideoUSPostal@47b8f42]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/09/05 15:14:15</td>   <td>14456</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUsa.Logout()[pri:0, instance:Video.VideoUsa@6a469846]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aec86a">  <td>13/09/05 15:23:14</td>   <td>553831</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSAcity.Logout()[pri:0, instance:Video.VideoUSAcity@3b955dd5]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69e871">  <td>13/09/05 15:23:47</td>   <td>586439</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSPostal.Logout()[pri:0, instance:Video.VideoUSPostal@47b8f42]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/09/05 15:14:05</td>   <td>5046</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUsa.Memcamp()[pri:0, instance:Video.VideoUsa@6a469846]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aec86a">  <td>13/09/05 15:20:17</td>   <td>377282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSAcity.Memcamp()[pri:0, instance:Video.VideoUSAcity@3b955dd5]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69e871">  <td>13/09/05 15:23:37</td>   <td>576615</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSPostal.Memcamp()[pri:0, instance:Video.VideoUSPostal@47b8f42]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/09/05 15:13:58</td>   <td>-2038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUsa.PublisherSearch()[pri:0, instance:Video.VideoUsa@6a469846]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aec86a">  <td>13/09/05 15:14:48</td>   <td>48255</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSAcity.PublisherSearch()[pri:0, instance:Video.VideoUSAcity@3b955dd5]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69e871">  <td>13/09/05 15:23:30</td>   <td>569545</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSPostal.PublisherSearch()[pri:0, instance:Video.VideoUSPostal@47b8f42]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/09/05 15:14:14</td>   <td>13441</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUsa.TagServing()[pri:0, instance:Video.VideoUsa@6a469846]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aec86a">  <td>13/09/05 15:22:57</td>   <td>537032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSAcity.TagServing()[pri:0, instance:Video.VideoUSAcity@3b955dd5]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69e871">  <td>13/09/05 15:23:46</td>   <td>585433</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSPostal.TagServing()[pri:0, instance:Video.VideoUSPostal@47b8f42]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/09/05 15:14:02</td>   <td>2021</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUsa.Targeting()[pri:0, instance:Video.VideoUsa@6a469846]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aec86a">  <td>13/09/05 15:18:34</td>   <td>273343</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSAcity.Targeting()[pri:0, instance:Video.VideoUSAcity@3b955dd5]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69e871">  <td>13/09/05 15:23:34</td>   <td>573575</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoUSPostal.Targeting()[pri:0, instance:Video.VideoUSPostal@47b8f42]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/09/05 15:13:47</td>   <td>-12865</td> <td>&nbsp;</td><td title="&gt;&gt;VideoUsa.setUp()[pri:0, instance:Video.VideoUsa@6a469846]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aec86a">  <td>13/09/05 15:14:17</td>   <td>16699</td> <td>&nbsp;</td><td title="&gt;&gt;VideoUSAcity.setUp()[pri:0, instance:Video.VideoUSAcity@3b955dd5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69e871">  <td>13/09/05 15:23:21</td>   <td>561201</td> <td>&nbsp;</td><td title="&gt;&gt;VideoUSPostal.setUp()[pri:0, instance:Video.VideoUSPostal@47b8f42]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ce8864">  <td>13/09/05 15:14:16</td>   <td>15466</td> <td>&nbsp;</td><td title="&lt;&lt;VideoUsa.tearDown()[pri:0, instance:Video.VideoUsa@6a469846]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="aec86a">  <td>13/09/05 15:23:21</td>   <td>560994</td> <td>&nbsp;</td><td title="&lt;&lt;VideoUSAcity.tearDown()[pri:0, instance:Video.VideoUSAcity@3b955dd5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="69e871">  <td>13/09/05 15:23:48</td>   <td>587445</td> <td>&nbsp;</td><td title="&lt;&lt;VideoUSPostal.tearDown()[pri:0, instance:Video.VideoUSPostal@47b8f42]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
