<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuiteVideowithCampanionBanner</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ab994">  <td>13/09/18 18:51:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerWith300x250.Advertiser()[pri:0, instance:VarationwithCampanion.CompanionBannerWith300x250@6f8a8b32]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="c4bdbe">  <td>13/09/18 19:01:50</td>   <td>602940</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith320x480.Advertiser()[pri:0, instance:VarationwithCampanion.CompanionBannerwith320x480@5ef80a07]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="73786c">  <td>13/09/18 19:12:04</td>   <td>1217180</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith468x60.Advertiser()[pri:0, instance:VarationwithCampanion.CompanionBannerwith468x60@52fc7db]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b191cd">  <td>13/09/18 19:24:31</td>   <td>1963538</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith728x90.Advertiser()[pri:0, instance:VarationwithCampanion.CompanionBannerwith728x90@2fdb6074]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7e76bf">  <td>13/09/18 19:34:43</td>   <td>2575553</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith300x50.Advertiser()[pri:0, instance:VarationwithCampanion.CompanionBannerwith300x50@124ece1d]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6dff70">  <td>13/09/18 19:45:14</td>   <td>3206598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith320x48.Advertiser()[pri:0, instance:VarationwithCampanion.CompanionBannerwith320x48@539d2bed]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6ab994">  <td>13/09/18 18:56:47</td>   <td>299805</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerWith300x250.Buget()[pri:0, instance:VarationwithCampanion.CompanionBannerWith300x250@6f8a8b32]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="c4bdbe">  <td>13/09/18 19:06:55</td>   <td>907675</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith320x480.Buget()[pri:0, instance:VarationwithCampanion.CompanionBannerwith320x480@5ef80a07]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="73786c">  <td>13/09/18 19:17:05</td>   <td>1517474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith468x60.Buget()[pri:0, instance:VarationwithCampanion.CompanionBannerwith468x60@52fc7db]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b191cd">  <td>13/09/18 19:29:31</td>   <td>2264113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith728x90.Buget()[pri:0, instance:VarationwithCampanion.CompanionBannerwith728x90@2fdb6074]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7e76bf">  <td>13/09/18 19:39:44</td>   <td>2876985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith300x50.Buget()[pri:0, instance:VarationwithCampanion.CompanionBannerwith300x50@124ece1d]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6dff70">  <td>13/09/18 19:50:17</td>   <td>3509814</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith320x48.Buget()[pri:0, instance:VarationwithCampanion.CompanionBannerwith320x48@539d2bed]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6ab994">  <td>13/09/18 18:57:00</td>   <td>312819</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerWith300x250.CampaignCreation()[pri:0, instance:VarationwithCampanion.CompanionBannerWith300x250@6f8a8b32]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="c4bdbe">  <td>13/09/18 19:07:08</td>   <td>920750</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith320x480.CampaignCreation()[pri:0, instance:VarationwithCampanion.CompanionBannerwith320x480@5ef80a07]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="73786c">  <td>13/09/18 19:17:10</td>   <td>1522689</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith468x60.CampaignCreation()[pri:0, instance:VarationwithCampanion.CompanionBannerwith468x60@52fc7db]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b191cd">  <td>13/09/18 19:29:45</td>   <td>2277479</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith728x90.CampaignCreation()[pri:0, instance:VarationwithCampanion.CompanionBannerwith728x90@2fdb6074]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7e76bf">  <td>13/09/18 19:39:57</td>   <td>2890264</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith300x50.CampaignCreation()[pri:0, instance:VarationwithCampanion.CompanionBannerwith300x50@124ece1d]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6dff70">  <td>13/09/18 19:50:30</td>   <td>3523394</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith320x48.CampaignCreation()[pri:0, instance:VarationwithCampanion.CompanionBannerwith320x48@539d2bed]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6ab994">  <td>13/09/18 18:51:21</td>   <td>-26014</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerWith300x250.ChannelCreation()[pri:0, instance:VarationwithCampanion.CompanionBannerWith300x250@6f8a8b32]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="c4bdbe">  <td>13/09/18 19:01:24</td>   <td>576905</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith320x480.ChannelCreation()[pri:0, instance:VarationwithCampanion.CompanionBannerwith320x480@5ef80a07]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="73786c">  <td>13/09/18 19:11:37</td>   <td>1190102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith468x60.ChannelCreation()[pri:0, instance:VarationwithCampanion.CompanionBannerwith468x60@52fc7db]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b191cd">  <td>13/09/18 19:24:05</td>   <td>1937463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith728x90.ChannelCreation()[pri:0, instance:VarationwithCampanion.CompanionBannerwith728x90@2fdb6074]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7e76bf">  <td>13/09/18 19:34:14</td>   <td>2546884</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith300x50.ChannelCreation()[pri:0, instance:VarationwithCampanion.CompanionBannerwith300x50@124ece1d]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6dff70">  <td>13/09/18 19:44:40</td>   <td>3173320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith320x48.ChannelCreation()[pri:0, instance:VarationwithCampanion.CompanionBannerwith320x48@539d2bed]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6ab994">  <td>13/09/18 18:52:04</td>   <td>17252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerWith300x250.CreateVideo()[pri:0, instance:VarationwithCampanion.CompanionBannerWith300x250@6f8a8b32]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="c4bdbe">  <td>13/09/18 19:02:07</td>   <td>619965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith320x480.CreateVideo()[pri:0, instance:VarationwithCampanion.CompanionBannerwith320x480@5ef80a07]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="73786c">  <td>13/09/18 19:12:21</td>   <td>1234107</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith468x60.CreateVideo()[pri:0, instance:VarationwithCampanion.CompanionBannerwith468x60@52fc7db]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b191cd">  <td>13/09/18 19:24:47</td>   <td>1980399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith728x90.CreateVideo()[pri:0, instance:VarationwithCampanion.CompanionBannerwith728x90@2fdb6074]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7e76bf">  <td>13/09/18 19:35:01</td>   <td>2593548</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith300x50.CreateVideo()[pri:0, instance:VarationwithCampanion.CompanionBannerwith300x50@124ece1d]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6dff70">  <td>13/09/18 19:45:32</td>   <td>3224889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith320x48.CreateVideo()[pri:0, instance:VarationwithCampanion.CompanionBannerwith320x48@539d2bed]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6ab994">  <td>13/09/18 18:50:39</td>   <td>-67963</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerWith300x250.GmailLogin()[pri:0, instance:VarationwithCampanion.CompanionBannerWith300x250@6f8a8b32]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="c4bdbe">  <td>13/09/18 19:00:42</td>   <td>535116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith320x480.GmailLogin()[pri:0, instance:VarationwithCampanion.CompanionBannerwith320x480@5ef80a07]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="73786c">  <td>13/09/18 19:10:54</td>   <td>1147118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith468x60.GmailLogin()[pri:0, instance:VarationwithCampanion.CompanionBannerwith468x60@52fc7db]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b191cd">  <td>13/09/18 19:23:23</td>   <td>1895719</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith728x90.GmailLogin()[pri:0, instance:VarationwithCampanion.CompanionBannerwith728x90@2fdb6074]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7e76bf">  <td>13/09/18 19:33:31</td>   <td>2503450</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith300x50.GmailLogin()[pri:0, instance:VarationwithCampanion.CompanionBannerwith300x50@124ece1d]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6dff70">  <td>13/09/18 19:43:47</td>   <td>3120225</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith320x48.GmailLogin()[pri:0, instance:VarationwithCampanion.CompanionBannerwith320x48@539d2bed]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6ab994">  <td>13/09/18 19:00:30</td>   <td>523188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerWith300x250.Logout()[pri:0, instance:VarationwithCampanion.CompanionBannerWith300x250@6f8a8b32]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="c4bdbe">  <td>13/09/18 19:10:42</td>   <td>1135381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith320x480.Logout()[pri:0, instance:VarationwithCampanion.CompanionBannerwith320x480@5ef80a07]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="73786c">  <td>13/09/18 19:23:11</td>   <td>1884147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith468x60.Logout()[pri:0, instance:VarationwithCampanion.CompanionBannerwith468x60@52fc7db]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b191cd">  <td>13/09/18 19:33:19</td>   <td>2492351</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith728x90.Logout()[pri:0, instance:VarationwithCampanion.CompanionBannerwith728x90@2fdb6074]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7e76bf">  <td>13/09/18 19:43:36</td>   <td>3108909</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith300x50.Logout()[pri:0, instance:VarationwithCampanion.CompanionBannerwith300x50@124ece1d]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6dff70">  <td>13/09/18 19:54:05</td>   <td>3738219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith320x48.Logout()[pri:0, instance:VarationwithCampanion.CompanionBannerwith320x48@539d2bed]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6ab994">  <td>13/09/18 18:57:30</td>   <td>342644</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerWith300x250.Memcamp()[pri:0, instance:VarationwithCampanion.CompanionBannerWith300x250@6f8a8b32]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="c4bdbe">  <td>13/09/18 19:07:39</td>   <td>951657</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith320x480.Memcamp()[pri:0, instance:VarationwithCampanion.CompanionBannerwith320x480@5ef80a07]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="73786c">  <td>13/09/18 19:20:09</td>   <td>1701752</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith468x60.Memcamp()[pri:0, instance:VarationwithCampanion.CompanionBannerwith468x60@52fc7db]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b191cd">  <td>13/09/18 19:30:20</td>   <td>2312721</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith728x90.Memcamp()[pri:0, instance:VarationwithCampanion.CompanionBannerwith728x90@2fdb6074]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7e76bf">  <td>13/09/18 19:40:36</td>   <td>2929306</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith300x50.Memcamp()[pri:0, instance:VarationwithCampanion.CompanionBannerwith300x50@124ece1d]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6dff70">  <td>13/09/18 19:51:02</td>   <td>3555387</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith320x48.Memcamp()[pri:0, instance:VarationwithCampanion.CompanionBannerwith320x48@539d2bed]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6ab994">  <td>13/09/18 18:51:12</td>   <td>-34680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerWith300x250.PublisherSearch()[pri:0, instance:VarationwithCampanion.CompanionBannerWith300x250@6f8a8b32]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="c4bdbe">  <td>13/09/18 19:01:15</td>   <td>568213</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith320x480.PublisherSearch()[pri:0, instance:VarationwithCampanion.CompanionBannerwith320x480@5ef80a07]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="73786c">  <td>13/09/18 19:11:29</td>   <td>1181504</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith468x60.PublisherSearch()[pri:0, instance:VarationwithCampanion.CompanionBannerwith468x60@52fc7db]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b191cd">  <td>13/09/18 19:23:56</td>   <td>1928769</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith728x90.PublisherSearch()[pri:0, instance:VarationwithCampanion.CompanionBannerwith728x90@2fdb6074]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7e76bf">  <td>13/09/18 19:34:05</td>   <td>2538230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith300x50.PublisherSearch()[pri:0, instance:VarationwithCampanion.CompanionBannerwith300x50@124ece1d]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6dff70">  <td>13/09/18 19:44:28</td>   <td>3161297</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith320x48.PublisherSearch()[pri:0, instance:VarationwithCampanion.CompanionBannerwith320x48@539d2bed]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6ab994">  <td>13/09/18 19:00:10</td>   <td>502725</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerWith300x250.TagServing()[pri:0, instance:VarationwithCampanion.CompanionBannerWith300x250@6f8a8b32]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="c4bdbe">  <td>13/09/18 19:10:18</td>   <td>1111303</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith320x480.TagServing()[pri:0, instance:VarationwithCampanion.CompanionBannerwith320x480@5ef80a07]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="73786c">  <td>13/09/18 19:22:49</td>   <td>1861913</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith468x60.TagServing()[pri:0, instance:VarationwithCampanion.CompanionBannerwith468x60@52fc7db]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b191cd">  <td>13/09/18 19:33:00</td>   <td>2473031</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith728x90.TagServing()[pri:0, instance:VarationwithCampanion.CompanionBannerwith728x90@2fdb6074]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7e76bf">  <td>13/09/18 19:43:16</td>   <td>3088812</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith300x50.TagServing()[pri:0, instance:VarationwithCampanion.CompanionBannerwith300x50@124ece1d]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6dff70">  <td>13/09/18 19:53:42</td>   <td>3715092</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith320x48.TagServing()[pri:0, instance:VarationwithCampanion.CompanionBannerwith320x48@539d2bed]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6ab994">  <td>13/09/18 18:56:02</td>   <td>254994</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerWith300x250.Targeting()[pri:0, instance:VarationwithCampanion.CompanionBannerWith300x250@6f8a8b32]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="c4bdbe">  <td>13/09/18 19:06:10</td>   <td>862922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith320x480.Targeting()[pri:0, instance:VarationwithCampanion.CompanionBannerwith320x480@5ef80a07]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="73786c">  <td>13/09/18 19:16:20</td>   <td>1472658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith468x60.Targeting()[pri:0, instance:VarationwithCampanion.CompanionBannerwith468x60@52fc7db]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b191cd">  <td>13/09/18 19:28:46</td>   <td>2219235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith728x90.Targeting()[pri:0, instance:VarationwithCampanion.CompanionBannerwith728x90@2fdb6074]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7e76bf">  <td>13/09/18 19:38:59</td>   <td>2832074</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith300x50.Targeting()[pri:0, instance:VarationwithCampanion.CompanionBannerwith300x50@124ece1d]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6dff70">  <td>13/09/18 19:49:32</td>   <td>3464603</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerwith320x48.Targeting()[pri:0, instance:VarationwithCampanion.CompanionBannerwith320x48@539d2bed]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6ab994">  <td>13/09/18 18:50:32</td>   <td>-74691</td> <td>&nbsp;</td><td title="&gt;&gt;CompanionBannerWith300x250.setUp()[pri:0, instance:VarationwithCampanion.CompanionBannerWith300x250@6f8a8b32]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="c4bdbe">  <td>13/09/18 19:00:39</td>   <td>532227</td> <td>&nbsp;</td><td title="&gt;&gt;CompanionBannerwith320x480.setUp()[pri:0, instance:VarationwithCampanion.CompanionBannerwith320x480@5ef80a07]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="73786c">  <td>13/09/18 19:10:51</td>   <td>1144183</td> <td>&nbsp;</td><td title="&gt;&gt;CompanionBannerwith468x60.setUp()[pri:0, instance:VarationwithCampanion.CompanionBannerwith468x60@52fc7db]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b191cd">  <td>13/09/18 19:23:20</td>   <td>1893141</td> <td>&nbsp;</td><td title="&gt;&gt;CompanionBannerwith728x90.setUp()[pri:0, instance:VarationwithCampanion.CompanionBannerwith728x90@2fdb6074]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7e76bf">  <td>13/09/18 19:33:28</td>   <td>2501222</td> <td>&nbsp;</td><td title="&gt;&gt;CompanionBannerwith300x50.setUp()[pri:0, instance:VarationwithCampanion.CompanionBannerwith300x50@124ece1d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6dff70">  <td>13/09/18 19:43:45</td>   <td>3117734</td> <td>&nbsp;</td><td title="&gt;&gt;CompanionBannerwith320x48.setUp()[pri:0, instance:VarationwithCampanion.CompanionBannerwith320x48@539d2bed]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6ab994">  <td>13/09/18 19:00:39</td>   <td>531978</td> <td>&nbsp;</td><td title="&lt;&lt;CompanionBannerWith300x250.tearDown()[pri:0, instance:VarationwithCampanion.CompanionBannerWith300x250@6f8a8b32]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="c4bdbe">  <td>13/09/18 19:10:51</td>   <td>1143983</td> <td>&nbsp;</td><td title="&lt;&lt;CompanionBannerwith320x480.tearDown()[pri:0, instance:VarationwithCampanion.CompanionBannerwith320x480@5ef80a07]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="73786c">  <td>13/09/18 19:23:20</td>   <td>1892796</td> <td>&nbsp;</td><td title="&lt;&lt;CompanionBannerwith468x60.tearDown()[pri:0, instance:VarationwithCampanion.CompanionBannerwith468x60@52fc7db]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="b191cd">  <td>13/09/18 19:33:28</td>   <td>2500991</td> <td>&nbsp;</td><td title="&lt;&lt;CompanionBannerwith728x90.tearDown()[pri:0, instance:VarationwithCampanion.CompanionBannerwith728x90@2fdb6074]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="7e76bf">  <td>13/09/18 19:43:45</td>   <td>3117540</td> <td>&nbsp;</td><td title="&lt;&lt;CompanionBannerwith300x50.tearDown()[pri:0, instance:VarationwithCampanion.CompanionBannerwith300x50@124ece1d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="6dff70">  <td>13/09/18 19:54:14</td>   <td>3747308</td> <td>&nbsp;</td><td title="&lt;&lt;CompanionBannerwith320x48.tearDown()[pri:0, instance:VarationwithCampanion.CompanionBannerwith320x48@539d2bed]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
