<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ada789">  <td>13/11/22 17:23:37</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ApplePhones.setUp()[pri:0, instance:MobileDevice.ApplePhones@20a893d5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ada789">  <td>13/11/22 17:23:42</td>   <td>5113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplePhones.GmailLogin()[pri:0, instance:MobileDevice.ApplePhones@20a893d5]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ada789">  <td>13/11/22 17:24:13</td>   <td>36070</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplePhones.PublisherSearch()[pri:0, instance:MobileDevice.ApplePhones@20a893d5]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ada789">  <td>13/11/22 17:24:17</td>   <td>39461</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplePhones.ChannelCreation()[pri:0, instance:MobileDevice.ApplePhones@20a893d5]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ada789">  <td>13/11/22 17:24:23</td>   <td>46095</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplePhones.AdvertiserLogin()[pri:0, instance:MobileDevice.ApplePhones@20a893d5]">AdvertiserLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ada789">  <td>13/11/22 17:24:27</td>   <td>49947</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplePhones.CreateAnimatedBanner()[pri:0, instance:MobileDevice.ApplePhones@20a893d5]">CreateAnimatedBanner</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ada789">  <td>13/11/22 17:24:44</td>   <td>67212</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplePhones.Targeting()[pri:0, instance:MobileDevice.ApplePhones@20a893d5]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ada789">  <td>13/11/22 17:25:22</td>   <td>105155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplePhones.Budget()[pri:0, instance:MobileDevice.ApplePhones@20a893d5]">Budget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ada789">  <td>13/11/22 17:25:44</td>   <td>126520</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplePhones.CampaignCreation()[pri:0, instance:MobileDevice.ApplePhones@20a893d5]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ada789">  <td>13/11/22 17:25:44</td>   <td>126921</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplePhones.TagServing()[pri:0, instance:MobileDevice.ApplePhones@20a893d5]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ada789">  <td>13/11/22 17:29:56</td>   <td>378927</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplePhones.Logout()[pri:0, instance:MobileDevice.ApplePhones@20a893d5]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="ada789">  <td>13/11/22 17:30:02</td>   <td>384703</td> <td>&nbsp;</td><td title="&lt;&lt;ApplePhones.tearDown()[pri:0, instance:MobileDevice.ApplePhones@20a893d5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
