<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="71d691">  <td>13/10/06 11:34:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerWith300x250.Advertiser()[pri:0, instance:VarationwithCampanion.CompanionBannerWith300x250@7cdd4f00]">Advertiser</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="71d691">  <td>13/10/06 11:34:20</td>   <td>3033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerWith300x250.Buget()[pri:0, instance:VarationwithCampanion.CompanionBannerWith300x250@7cdd4f00]">Buget</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="71d691">  <td>13/10/06 11:34:21</td>   <td>4046</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerWith300x250.CampaignCreation()[pri:0, instance:VarationwithCampanion.CompanionBannerWith300x250@7cdd4f00]">CampaignCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="71d691">  <td>13/10/06 11:34:16</td>   <td>-1031</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerWith300x250.ChannelCreation()[pri:0, instance:VarationwithCampanion.CompanionBannerWith300x250@7cdd4f00]">ChannelCreation</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="71d691">  <td>13/10/06 11:34:18</td>   <td>1010</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerWith300x250.CreateVideo()[pri:0, instance:VarationwithCampanion.CompanionBannerWith300x250@7cdd4f00]">CreateVideo</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="71d691">  <td>13/10/06 11:33:33</td>   <td>-43880</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerWith300x250.GmailLogin()[pri:0, instance:VarationwithCampanion.CompanionBannerWith300x250@7cdd4f00]">GmailLogin</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="71d691">  <td>13/10/06 11:34:24</td>   <td>7111</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerWith300x250.Logout()[pri:0, instance:VarationwithCampanion.CompanionBannerWith300x250@7cdd4f00]">Logout</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="71d691">  <td>13/10/06 11:34:22</td>   <td>5079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerWith300x250.Memcamp()[pri:0, instance:VarationwithCampanion.CompanionBannerWith300x250@7cdd4f00]">Memcamp</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="71d691">  <td>13/10/06 11:34:15</td>   <td>-2053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerWith300x250.PublisherSearch()[pri:0, instance:VarationwithCampanion.CompanionBannerWith300x250@7cdd4f00]">PublisherSearch</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="71d691">  <td>13/10/06 11:34:23</td>   <td>6088</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerWith300x250.TagServing()[pri:0, instance:VarationwithCampanion.CompanionBannerWith300x250@7cdd4f00]">TagServing</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="71d691">  <td>13/10/06 11:34:19</td>   <td>2018</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompanionBannerWith300x250.Targeting()[pri:0, instance:VarationwithCampanion.CompanionBannerWith300x250@7cdd4f00]">Targeting</td> 
  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="71d691">  <td>13/10/06 11:33:28</td>   <td>-48093</td> <td>&nbsp;</td><td title="&gt;&gt;CompanionBannerWith300x250.setUp()[pri:0, instance:VarationwithCampanion.CompanionBannerWith300x250@7cdd4f00]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
<tr bgcolor="71d691">  <td>13/10/06 11:34:25</td>   <td>8117</td> <td>&nbsp;</td><td title="&lt;&lt;CompanionBannerWith300x250.tearDown()[pri:0, instance:VarationwithCampanion.CompanionBannerWith300x250@7cdd4f00]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843627620</td>   <td></td> </tr>
</table>
